{% load static %}
{% load estimator_tags %}
{% load air_moving_equipment_tags %}

<html>
<head>
    <meta charset="utf-8">
    <title>{{ sheet_type_name }} Sheet</title>
    {% include "pdfTemplates/headStyle.html" %}
    <style>
        .pdf-page-content {
            page-break-after: always;
        }

        .pdf-table {
            height: auto;
            border: none;
            font-size: 11px;
            text-align: center;
        }

        /* Table head section ======================================================================================= */
        .pdf-table thead .pdf-head-tr {
            padding: 0;
            margin: 0;
            border: none;
        }

        .pdf-table thead .pdf-head-tr th {
            width: 9.5%;
            padding: 0;
            margin: 0;
            border: none;
            height: 0;
        }

        .pdf-table thead .pdf-head-tr th.wide-th {
            width: 14.5%;
        }

        /* Table title ============================================================================================== */
        .pdf-table .pdf-table-title {
            font-size: 14px;
            font-weight: bold;
            text-decoration: underline;
        }

        .pdf-table .pdf-table-title .pdf-table-title-td {
            padding-bottom: 8px;
        }

        .pdf-table .pdf-table-title .pdf-table-title-td.pdf-page-number {
            text-align: right;
        }

        /* Table cell =============================================================================================== */
        .pdf-table .pdf-table-cell {
            font-weight: normal;
            padding: 5px 2px 1px;
        }

        .pdf-table .border {
            border: 1px solid black;
        }

        .pdf-table .no-border {
            border: 0px solid black;
        }

        .pdf-table .pdf-table-cell.pdf-table-title-cell {
            font-weight: bold;
            text-align: left;
        }

        .pdf-table .pdf-table-cell.pdf-table-title-cell.center-title {
            text-align: center;
        }

        .pdf-table .pdf-table-cell.pdf-table-title-second-row {
            border-bottom: none;
            padding-bottom: 0;
        }

        .pdf-table .pdf-table-cell.pdf-table-title-third-row {
            border-top: none;
            padding-top: 0;
        }

        /* Table rows =============================================================================================== */
        .pdf-table-row {
            border: 1px solid black;
        }

        .pdf-table-row td:first-child {
            border-left: 2px solid black;
        }

        .pdf-table-row td:last-child {
            border-right: 2px solid black;
        }

        .top-row-thick th, .top-row-thick td {
            border-top: 2px solid black;
        }

        .bottom-row-thick th, .bottom-row-thick td {
            border-bottom: 2px solid black;
        }

        .pdf-table-row.section-first-row {
            border-bottom: none;
        }

        .pdf-table-row.section-middle-row {
            border-top: none;
            border-bottom: none;
        }

        .pdf-table-row.section-last-row {
            border-top: none;
        }

        /* Project specifications =================================================================================== */
        .pdf-table .pdf-table-project-tr {
            text-align: left;
        }

        .pdf-table .pdf-table-project-tr .pdf-table-title-cell {
            border: none;
        }

        .pdf-table .pdf-table-project-tr .pdf-table-center-cell {
            text-align: center;
        }

        /* Note section ============================================================================================= */
        .pdf-table .pdf-table-note-section {
            border: none;
        }

        .pdf-table .pdf-table-note-section td {
            font-weight: normal;
            padding: 5px 2px 1px;
            text-align: left;
            border: none;
        }

        .pdf-table .pdf-table-note-section td.note-title {
            font-weight: bold;
            vertical-align: top;
        }

        .note-div {
            display: inline-block;
        }

        .note-div:after {
            content: "-";
        }

        .note-div:last-child:after {
            content: "";
        }

        .keep_together {
            -pdf-keep-with-next: true;
        }

        .seperator {
            -pdf-keep-with-next: false;
        }
    </style>
</head>
<body>

{% include "pdfTemplates/pdfHeaderTemplate.html" %}

{% include "pdfTemplates/pdfFooterTemplate.html" %}


<div id="content_frame">
    {% for page in form.total_pages_range %}
    <div class="content pdf-page-content">
        <table class="table pdf-table">
            <!-- Table head section -->
            <thead>
            <tr class="pdf-head-tr">
                <th colspan="23" scope="col"></th>
            </tr>
            </thead>

            <tbody>
            <!-- Table title -->
            <tr class="pdf-table-title">
                <td colspan="18" class="pdf-table-title-td text-uppercase">{{ sheet_type_name }}</td>
                <td colspan="5" class="pdf-table-title-td pdf-page-number">Page {{ forloop.counter }}</td>
            </tr>

            <!-- Project specifications -->
            <tr class="pdf-table-project-tr">
                <td colspan="5" class="pdf-table-cell pdf-table-title-cell" style="padding: 0 2px 0;">PROJECT NO:</td>
                <td colspan="10" class="pdf-table-cell border">
                    {{ form.my_sheet.project.project_number }}
                </td>
                <td colspan="4" class="pdf-table-cell pdf-table-title-cell">DATE:</td>
                <td colspan="4" class="pdf-table-cell pdf-table-center-cell border">
                    {{ form.my_sheet.sheet_date | date }}
                </td>
            </tr>
            <tr class="pdf-table-project-tr">
                <td colspan="5" class="pdf-table-cell pdf-table-title-cell">PROJECT:</td>
                <td colspan="10" class="pdf-table-cell border">
                    {{ form.my_sheet.project.proposal.quote.estimate.project.name | upper }}
                </td>
                <td colspan="4" class="pdf-table-cell pdf-table-title-cell">SYSTEM:
                </td>
                <td colspan="4" class="pdf-table-cell pdf-table-center-cell border">
                    {{ form.my_sheet.system }}
                </td>
            </tr>
            {% for equipment in form.equipment_data %}
                {% if forloop.counter == forloop.parentloop.counter %}
                    {% for eq in equipment %}
                    <tr class="section-first-row pdf-table-row top-row-thick">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Fan No.
                        </td>

                        <td colspan="8" class="pdf-table-cell" style="text-align: left">
                            {{ eq|get_item:'fan_no' }}
                        </td>

                        <td colspan="5" class="pdf-table-cell">
                            {% if eq|get_item:'Direct Drive-2' == '0' %}<img src="{{ WEB_URL }}{{ STATIC_URL }}images/xhtml2pdf/circle1.png" style="width: 16px; height: 16px; display: inline-block;"/>{% else %}<img src="{{ WEB_URL }}{{ STATIC_URL }}images/xhtml2pdf/circle2.png" style="width: 16px; height: 16px; display: inline-block;"/>{% endif %}
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-center-cell">
                            <b>Direct Drive</b>
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Location
                        </td>

                        <td colspan="8" class="pdf-table-cell" style="text-align: left">
                            {{ eq|get_item:'location' }}
                        </td>

                        <td colspan="5" class="pdf-table-cell">
                            {% if eq|get_item:'Belt Drive-2' == '0' %}<img src="{{ WEB_URL }}{{ STATIC_URL }}images/xhtml2pdf/circle1.png" style="width: 16px; height: 16px; display: inline-block;"/>{% else %}<img src="{{ WEB_URL }}{{ STATIC_URL }}images/xhtml2pdf/circle2.png" style="width: 16px; height: 16px; display: inline-block;"/>{% endif %}
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-center-cell">
                            <b>Belt Drive</b>
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Area Served
                        </td>

                        <td colspan="8" class="pdf-table-cell" style="text-align: left">
                            {{ eq|get_item:'area_served' }}
                        </td>

                        <td colspan="5" class="pdf-table-cell">
                            {% if eq|get_item:'Max Speed-2' == '0' %}<img src="{{ WEB_URL }}{{ STATIC_URL }}images/xhtml2pdf/circle1.png" style="width: 16px; height: 16px; display: inline-block;"/>{% else %}<img src="{{ WEB_URL }}{{ STATIC_URL }}images/xhtml2pdf/circle2.png" style="width: 16px; height: 16px; display: inline-block;"/>{% endif %}
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-center-cell">
                            <b>Max Speed</b>
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Manufacturer
                        </td>

                        <td colspan="8" class="pdf-table-cell" style="text-align: left">
                            {{ eq|get_item:'manufacturer' }}
                        </td>

                        <td colspan="5" class="pdf-table-cell">
                            {% if eq|get_item:'Med Speed-2' == '0' %}<img src="{{ WEB_URL }}{{ STATIC_URL }}images/xhtml2pdf/circle1.png" style="width: 16px; height: 16px; display: inline-block;"/>{% else %}<img src="{{ WEB_URL }}{{ STATIC_URL }}images/xhtml2pdf/circle2.png" style="width: 16px; height: 16px; display: inline-block;"/>{% endif %}
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-center-cell">
                            <b>Med Speed</b>
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Model No.
                        </td>

                        <td colspan="8" class="pdf-table-cell" style="text-align: left">
                            {{ eq|get_item:'model_number' }}
                        </td>

                        <td colspan="5" class="pdf-table-cell">
                            {% if eq|get_item:'Min Speed-2' == '0' %}<img src="{{ WEB_URL }}{{ STATIC_URL }}images/xhtml2pdf/circle1.png" style="width: 16px; height: 16px; display: inline-block;"/>{% else %}<img src="{{ WEB_URL }}{{ STATIC_URL }}images/xhtml2pdf/circle2.png" style="width: 16px; height: 16px; display: inline-block;"/>{% endif %}
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-center-cell">
                            <b>Min Speed</b>
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Serial No.
                        </td>

                        <td colspan="8" class="pdf-table-cell" style="text-align: left">
                            {{ eq|get_item:'serial_number' }}
                        </td>

                        <td colspan="5" class="pdf-table-cell">

                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">

                        </td>
                    </tr>


                    <tr class="section-first-row pdf-table-row top-row-thick">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">

                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            <b>Design</b>
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            <b>Actual</b>
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>Air Temp. In Colling</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'Air Temp. In Cooling-2' }}
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Total C.F.M
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Total C.F.M.-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Total C.F.M.-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>Air Temp. Out Colling</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'Air Temp. Out Cooling-2' }}
                        </td>
                    </tr>


                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Return Air C.F.M
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Return Air C.F.M.-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Return Air C.F.M.-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>RH %</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'RH %-2' }}
                        </td>
                    </tr>


                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Outdoor Air C.F.M
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Outdoor Air C.F.M.-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Outdoor Air C.F.M.-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>Air Temp. In Heating</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'Air Temp. In Heating-2' }}
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Total SP (Ext. SP)
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Total SP (Ext. SP)-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Total SP (Ext. SP)-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>Air Temp. Out Heating</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'Air Temp. Out Heating-2' }}
                        </td>
                    </tr>


                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Fan (Unit) Suction Pressure
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            N.S
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Fan (Unit) Suction Pressure-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>O.A. Damper Poss.</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'O.A. Damper Poss.-2' }}
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Discharge Pressure, Fan/Unit
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            N.S
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Discharge Pressure, Fan / Unit-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>GPM</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'GPM-2' }}
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Fan R.P.M
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Fan R.P.M.-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Fan R.P.M.-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>DX</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'DX-2' }}
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row top-row-thick">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Motor
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            Rated
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            Actual
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>Belt Size</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'Belt Size-2' }}
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            H.P.
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'H.P.-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            SEE BHP
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>Motor Pully</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'Motor Pully-2' }}
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Voltage
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Voltage-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Voltage-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>Fan Pully</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'Fan Pully-2' }}
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Phase
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Phase-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Phase-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>C to C</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'C to C-2' }}
                        </td>
                    </tr>


                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Amperage
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Amperage-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Amperage-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>Motor Shaft</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'Motor Shaft-2' }}
                        </td>
                    </tr>


                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            B.H.P. (Calc.)
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'B.H.P. (Calc.)-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'B.H.P. (Calc.)-2' }}
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>Fan Shaft</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'Fan Shaft-2' }}
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Frame
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Frame-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            ------------
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">
                            <b>VFD / HZ</b>
                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">
                            {{ eq|get_item:'VFD / HZ-2' }}
                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            S.F. / Code
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'S.F. / Code-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            ------------
                        </td>


                        <td colspan="5" class="pdf-table-cell" style="text-align: left">

                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">

                        </td>
                    </tr>

                    <tr class="section-first-row pdf-table-row">
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell">
                            Motor RPM
                        </td>

                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Motor RPM-1' }}
                        </td>
                        <td colspan="4" class="pdf-table-cell pdf-table-center-cell">
                            {{ eq|get_item:'Motor RPM-2' }}
                        </td>

                        <td colspan="5" class="pdf-table-cell" style="text-align: left">

                        </td>
                        <td colspan="5" class="pdf-table-cell pdf-table-title-cell pdf-table-center-cell">

                        </td>
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            <tr class="no-border" style="border-top: 2px solid black;">
                <td class="pdf-table-cell" colspan="1">
                    Notes:
                </td>
                <td class="pdf-table-cell" colspan="21" style="text-align: left">
                    {% for induction_unit_equipment in form.induction_unit_equipment_data %}
                        {% if forloop.counter == forloop.parentloop.counter %}
                            {% for eq in induction_unit_equipment %}
                                {% with eq|get_item:'Note-2' as note %}
                                    {% if note != '' %}{{ note }} | {% endif %}
                                {% endwith %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endfor %}
</div>
</body>
</html>