{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <h2>{{ sheet_equipment.equipment_type.name }} GENERAL INFORMATION FOR
        {{ sheet_equipment.sheet.project.project_number }}
        {{ sheet_equipment.sheet.project.proposal.quote.estimate.project.name }}</h2>
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="equipmentValues-form">
        <div class="form-group">
            {% csrf_token %}
            </div>
            <div class="row form-line text-left" style="font-weight: bold;">
                <div class="col-lg-3">
                    Field Title
                </div>
                <div class="col-lg-3">
                    Field Value
                </div>
            </div>
            {% if edit_page %}
                {% for showing_field in value_fields %}
                <div class="row form-line text-left">
                    <div class="col-lg-3">
                        <label for="id_architect_name" class="control-label" style="text-transform: capitalize;">
                            {{ showing_field.key.column_title }}
                            {% if showing_field.key.required %} <span class="required">*</span>{% endif %}
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <input style="width: 100%;" type="text" value="{{ showing_field.value }}" name="showing_field_value_{{ showing_field.id }}"
                               maxlength="50" class="form-control" {% if showing_field.key.required %} required="" {% endif %}
                               id="showing_field_value_{{ showing_field.id }}">
                    </div>
                </div>
                {% endfor %}
            {% else %}
                {% for showing_field in showing_fields %}
                <div class="row form-line text-left">
                    <div class="col-lg-3">
                        <label for="id_architect_name" class="control-label" style="text-transform: capitalize;">{{ showing_field.column_title }}{% if showing_field.required %} <span class="required">*</span>{% endif %}</label>
                    </div>
                    <div class="col-lg-3">
                        <input style="width: 100%;" type="text" name="showing_field_value_{{ showing_field.id }}" maxlength="50" class="form-control"
                                {% if showing_field.required %} required="" {% endif %} id="showing_field_value_{{ showing_field.id }}">
                    </div>
                </div>
                {% endfor %}
            {% endif %}

            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="id_architect_name" class="control-label" style="text-transform: capitalize;">No. of Supply Air Terminals <span class="required">*</span></label>
                </div>
                <div class="col-lg-3">
                    <input style="width: 100%;" type="text" name="number_of_supply_air_terminal" maxlength="5" class="form-control"
                            required="" id="number_of_supply_air_terminal" value="{{ sat }}" />
                </div>
            </div>


        <div class="row form-line text-left">
            <div class="col-lg-3">
                <label for="equipment_group" class="control-label">Equipment Group <span class="required">*</span></label>
            </div>
            <div class="col-lg-4">
                <select required="" name="equipment_group" class="form-control" id="equipment_group" style="max-width:206px;">
                    <option value="" selected="">---------</option>

                    {% for group in equipment_groups %}
                        <option value="{{ group }}"
                                {% if sheet_equipment.equipment_group == group %}selected="selected"{% endif %}>
                            {{ group }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>

            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="id_manufacturer" class="control-label">Manufacturer</label>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <select name="id_manufacturer" class="form-control" id="id_manufacturer" onchange="updateEditLink('manufacturer')">
                            <option value="">---------</option>
                            {% for manufacturer in manufacturers %}
                                <option value="{{ manufacturer.id }}" {% if this_equipment.manufacturer.id == manufacturer.id %}selected="selected"{% endif %}>{{ manufacturer }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <!-- Edit icon -->
                            <a id="edit-manufacturer-link" href="#" class="btn btn-outline-secondary disabled" title="Edit Manufacturer">
                                <i class="fas fa-edit fa-sm"></i>
                            </a>
                            <!-- Add icon (plus) -->
                            <a href="{% url 'manufacturerCreate' %}" class="btn btn-outline-secondary" title="Add Manufacturer">
                                <i class="fas fa-plus fa-sm"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="id_equipment" class="control-label">Model No.</label>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <select name="id_equipment" class="form-control" id="id_equipment" onchange="updateEditLink('equipment')">
                            <option value="">---------</option>
                            {% for equipment in Equipment_db %}
                                <option style="display: none;" value="{{ equipment.id }}" data-manufacturer="{{ equipment.manufacturer.id }}" {% if sheet_equipment.equipment.id == equipment.id %}selected="selected"{% endif %}>{{ equipment }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <!-- Edit icon -->
                            <a id="edit-equipment-link" href="#" class="btn btn-outline-secondary disabled" title="Edit Equipment">
                                <i class="fas fa-edit fa-sm"></i>
                            </a>
                            <!-- Add icon (plus) -->
                            <a href="{% url 'EquipmentsCreate' %}" class="btn btn-outline-secondary" title="Add Equipment">
                                <i class="fas fa-plus fa-sm"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="id_equipment" class="control-label">Inherited From</label>
                </div>
                <div class="col-lg-3">
                    <select name="id_inherit" class="form-control" id="id_inherit" style="max-width:206px;">
                        <option value="" selected="">---------</option>

                        {% for air_moving_eq in air_moving_eqs %}
                            <option value="{{ air_moving_eq.id }}" {% if sheet_equipment.inherited_from_air_moving.id == air_moving_eq.id %}selected="selected"{% endif %}>{% for sheet_eq_custom_data in air_moving_eq.secd_set.all %}{% if 'fan' in sheet_eq_custom_data.key.column_title|lower %}{{ sheet_eq_custom_data.value }}{% endif %}{% endfor %}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Save" name="next" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
    <script>
        $("#edit_manufacturer").click(function(){
            manufacturer_id = $("#id_manufacturer option:selected").val();
            if(manufacturer_id != '') {
                var url = "/management/db/manufacturer/" + manufacturer_id + "/edit/";
                showEditPopup(url);
            }
            else {
                alert("Something Went Wrong");
            }
        });
    </script>
    <script>
        $('#id_manufacturer').on('change', function() {
            $("#id_equipment option").each(function() { $(this).hide(); });
            $("#id_equipment option[value='']").show();
            $("#id_equipment").val('');
            if($(this).val() !== '') {
                $("#id_equipment option").each(function() {
                    if($(this).data('manufacturer') == $('#id_manufacturer').find(':selected').val()) {
                        $(this).show();
                    }
                });
            }
        });
    </script>
    <script>
        $(function () {
            $("#id_date_po_received, #id_estimated_date_of_project").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>

<script>
    function updateEditLink(type) {
        var select, editLink, selectedValue;
        if (type === 'manufacturer') {
            select = document.getElementById("id_manufacturer");
            editLink = document.getElementById("edit-manufacturer-link");
        } else if (type === 'equipment') {
            select = document.getElementById("id_equipment");
            editLink = document.getElementById("edit-equipment-link");
        }
        
        selectedValue = select.options[select.selectedIndex].value;
        
        if (selectedValue) {
            if (type === 'manufacturer') {
                editLink.href = "/management/db{% url 'manufacturerEdit' 999 %}".replace('999', selectedValue);
            } else if (type === 'equipment') {
                editLink.href = "/management/db{% url 'EquipmentsEdit' 999 %}".replace('999', selectedValue);
            }
            editLink.classList.remove("disabled");
        } else {
            editLink.href = "#";
            editLink.classList.add("disabled");
        }
    }

    // Initial call to set the correct link on page load
    document.addEventListener("DOMContentLoaded", function() {
        updateEditLink('manufacturer');
        updateEditLink('equipment');
    });
</script>

<style>
    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
</style>

{% endblock %}
