{% extends 'base.html' %}
{% load static %}
{% load sheet_tags %}

{% block content %}
    <h2>Confirm {{ this_sheet_equipment.equipment_type.name }} Design Values for
        {{ this_sheet_equipment.sheet.project.project_number }}
        {{ this_sheet_equipment.sheet.project.proposal.quote.estimate.project.name }} - {{ sheet_code }}</h2>
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <form method='POST' action='' enctype="multipart/form-data" id="equipmentValues-form">
        <div class="form-group">
            {% csrf_token %}
        </div>
        <div class="row form-line" style="font-weight: bold;">
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Design Value
            </div>
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Design Value
            </div>
        </div>
        <div class="row form-line">
            {% for design_field in design_fields %}
                {% with 'company_value_'|concatenate:design_field.id as field_name %}
                    <div class="col-lg-3">
                        <label style="width: 100%;" for="{{ field_name }}" class="control-label">
                            {{ design_field.field_name }}
                            {% if design_field.required_in_design %}
                                <span class="required">*</span>
                            {% endif %}
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label for="{{ field_name }}" class="control-label" style="width: 100%;">
                            <input style="width: 100%;" {% get_field_type design_field %}
                                   {% if design_field.required_in_design %}required=""{% endif %}
                                   name="{{ field_name }}" maxlength="50"
                                   class="form-control" id="{{ field_name }}"
                                   value="{% get_design_value request design_field this_sheet_equipment 2 %}">
                        </label>
                        <div style="position: absolute; opacity: 0.5; top: 5px; right: 20px; pointer-events: none;">
                            <label style="width: 100%; text-align: right;">{{ design_field.field_postfix }}</label>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12" style="padding-right: 36px;">
                <input type="submit" class="btn btn-primary" value="It's all good" name="next"/>
                <input type="submit" class="btn btn-info" value="Back" name="cancel" formnovalidate/>
            </div>
        </div>
    </form>
    <script>
        $('#id_proposal').on('change', function () {
            if ($(this).val() === '') {
                $("#customer").text('');
                $("#engineer").text('');
                $("#tab_amount").text('');
                $("#pre_amount").text('');
                $("#total_amount").text('');
                $("#dlink_href").attr("href", '').hide();
            } else {
                $("#customer").text($(this).find(':selected').data('customer'));
                $("#engineer").text($(this).find(':selected').data('engineer'));
                $("#tab_amount").text($(this).find(':selected').data('tabamount'));
                $("#pre_amount").text($(this).find(':selected').data('preamount'));
                $("#total_amount").text($(this).find(':selected').data('totalamount'));
                $("#dlink_href").attr("href", $(this).find(':selected').data('dlink')).show();
            }
        });
    </script>
    <script>
        $(function () {
            $("#id_date_po_received, #id_estimated_date_of_project").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>
    <script>
        /*
        * Set the parentheses for the fields that need parentheses.
        * */

        const showParenthesesFields = {{ show_parentheses_fields | safe }};
        for (const field of showParenthesesFields) {
            const input = $('[name=' + field.id + ']');
            const defaultValue = field.defaultValue.trim();
            const onInputChange = () => {
                const value = input.val().trim();
                let rawValue = '';
                for (const ch of value) {
                    if (ch !== '(' && ch !== ')') {
                        rawValue += ch;
                    }
                }
                if (!rawValue || rawValue.toLowerCase() === defaultValue.toLowerCase()) {
                    input.val(defaultValue);
                } else {
                    input.val('(' + rawValue + ')');
                }
            };
            onInputChange();
            input.on('change', onInputChange);
        }
    </script>
    <script>
        /*
        * Evaluate assignment operations.
        * */
        const assignmentOperations = {{ assignment_operations | safe }};

        for (const assignment of assignmentOperations) {
            const readonlyField = eval(assignment.substring(0, assignment.indexOf('.val(')));
            readonlyField.attr('readonly', '');
        }

        const evalAssignmentOperations = () => {
            for (const assignment of assignmentOperations) {
                eval(assignment);
            }
        };

        evalAssignmentOperations();
        $('form').on('change', evalAssignmentOperations);
    </script>

{% endblock %}
