{% extends "base.html" %}

{% block content %}
	<h1>Company Information</h1>
	<form method = 'POST' action= '' enctype = "multipart/form-data" id="company-form">
        <div class="form-group">
            {% csrf_token %}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_name" class="control-label">Name <span class="required">*</span></label>
                    {{ form.name }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_tel" class="control-label">Tel.</label>
                    {{ form.tel }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_fax" class="control-label">Fax</label>
                    {{ form.fax }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_mail" class="control-label">Mail</label>
                    {{ form.mail }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_web" class="control-label">Website</label>
                    {{ form.web }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_address_line_1" class="control-label">Address Line 1</label>
                    {{ form.address_line_1 }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_address_line_2" class="control-label">Address Line 2</label>
                    {{ form.address_line_2 }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_city" class="control-label">City</label>
                    {{ form.city }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_state" class="control-label">State</label>
                    {{ form.state }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_zip" class="control-label">Zip</label>
                    {{ form.zip }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_company_type" class="control-label">Company Type <span class="required">*</span></label>
                    {{ form.company_type }}
                </div>
            </div>
            {{ form.created_by }}
            <div class="row">
                <div class="col-lg-12">
		            <input type="submit" class="btn btn-success" value="Add" />
                </div>
            </div>
        </div>
	</form>
{% endblock %}