{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load custom_tags %}
{% load humanize %}

{% block content %}
    <h2>Estimate No. {% estimate_number_generator estimate.id %}</h2>
    <div class="container text-left" style="padding: 30px 10px;">
        <header class="proposal_header" style="display: none;">
            <img class="figure-img logo" src="{% media_url %}{{ owner_logo }}" />
            <span style="float: right; margin-top: 40px;">Member AABC</span>
        </header>
<table id="printStatementPage" style="width: 100%;">
  <thead><tr><td>
    <div class="header-space">&nbsp;</div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
            <h3 style="text-align: center; margin: 20px auto;">Estimate Statement</h3>
            <ul class="list-group">
                <li class="list-group-item">Estimate No.: <b>{% estimate_number_generator estimate.id %}</b></li>
                <li class="list-group-item">Customer: <b>{{ estimate.customer }}</b></li>
                <li class="list-group-item">Project: <b>{{ estimate.project }}</b></li>
                <li class="list-group-item">Project Address: <b>{% if estimate.project.address_line_1 %}{{ estimate.project.address_line_1 }}{% endif %}
                        {% if estimate.project.address_line_2 %}, {{ estimate.project.address_line_2 }}{% endif %}
                        {% if estimate.project.city %}, {{ estimate.project.city }}{% endif %}
                        {% if estimate.project.state %}, {{ estimate.project.state }}{% endif %}
                        {% if estimate.project.zip %}, {{ estimate.project.zip }}{% endif %}</b></li>
                <li class="list-group-item">Due Date: <b>{{ estimate.due_date }}</b></li>
                <li class="list-group-item">Engineer: <b>{{ estimate.engineer }}</b></li>
                <li class="list-group-item">Type of Service: <b>
                    {% for estimate_service in estimate.service.all %}
                        {{ estimate_service }}{%if not forloop.last%}, {%endif%}
                    {% endfor %}
                </b></li>
            </ul>
            <br />
            Detailed list of item selected with price:
            <br /><br />
            <table class="table table-striped">
                <thead class="thead-dark">
                      <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Description</th>
                            <th scope="col">Item Service</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Unit Price</th>
                            <th scope="col">Total</th>
                      </tr>
                </thead>
                <tbody>
                {% for estimate_equipment_pricing in estimate_equipments_pricing %}
                      <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <td>{{ estimate_equipment_pricing.equipment.name }}</td>
                          <td>{{ estimate_equipment_pricing.equipment.service }}</td>
                          <td>{{ estimate_equipment_pricing.quantity }}</td>
                          <td>
                              {% if estimate_equipment_pricing.price_override %}
                                  ${{ estimate_equipment_pricing.price_override }}
                              {% else %}
                                  ${{ estimate_equipment_pricing.equipment.price }}
                              {% endif %}
                          </td>
                          <td>${% equipment_total_calculator estimate_equipment_pricing as eqtc %}{{ eqtc|floatformat:2|intcomma }}</td>
                      </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <div class=""><div class="d-inline-block">Sub Total: <span style="display: inline-block; width: 180px; font-weight: bold;">${{ estimate_sub|floatformat:2|intcomma }}</span></div></div>
                <div class=""><div class="d-inline-block">Control System: <span style="display: inline-block; width: 180px; font-weight: bold;">${{ control_system_calculated|floatformat:2|intcomma }}</span></div></div>
                <div class=""><div class="d-inline-block">Hours: <span style="display: inline-block; width: 180px; font-weight: bold;">${{ hours_calculated|floatformat:2|intcomma }}</span></div></div>
                <div class=""><div class="d-inline-block">Pre Demo: <span style="display: inline-block; width: 180px; font-weight: bold;">${{ predemo_calculated|floatformat:2|intcomma }}</span></div></div>
                <div class=""><div class="d-inline-block">Manual Adjustment: <span style="display: inline-block; width: 180px; font-weight: bold;">${{ estimate.estimatedetails.adjustment|floatformat:2|intcomma }}</span></div></div>
                <div class=""><div class="d-inline-block">Customer Adjustment: <span style="display: inline-block; width: 180px; font-weight: bold;">${{ estimate.estimatedetails.customer_adjustment|floatformat:2|intcomma }}</span></div></div>
                <div class=""><div class="d-inline-block">Total: <span style="display: inline-block; width: 180px; font-weight: bold;">${{ estimate_total|floatformat:2|intcomma }}</span></div></div>
                <div class=""><div class="d-inline-block">Total Work: <span style="display: inline-block; width: 180px; font-weight: bold; padding-top: 10px;">{% if estimate_work_in_hours %}{{ estimate_work_in_hours }} hour{% if estimate_work_in_hours != 1 %}s{% endif %}{% endif %} {% if estimate_work_in_hours and estimate_work_in_minutes %}and {% endif %}{% if estimate_work_in_minutes %}{{ estimate_work_in_minutes }} minute{% if estimate_work_in_minutes != 1 %}s{% endif %}{% endif %}</span></div></div>
            </div>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space">&nbsp;</div>
  </td></tr></tfoot>
</table>
    <footer class="proposal_footer" style="display: none;">
             <div class="row" style="padding: 10px 0px;">
              <div class="onecol col-sm-4">
                  <i class="fas fa-map-marker-alt"></i>{{ owner_address }}
              </div>
              <div class="onecol col-sm-4">
                  <i class="fas fa-phone-volume"></i>{{ owner_tel }}<br />
                  <i class="fas fa-fax"></i>{{ owner_fax }}
              </div>
              <div class="onecol col-sm-4">
                  <i class="fas fa-globe"></i>{{ owner_web }}<br />
                  <i class="fas fa-envelope"></i>{{ owner_mail }}
              </div>
            </div>
        </footer>
    </div>
    <div class="form-group">
        <div class="row form-line">
            <div class="col-lg-12">
                <a href="{{ WEB_URL }}{{ MEDIA_URL }}pdfs/estimate/{% pdf_filename_generator estimate.id 'E' %}.pdf"><button name="print" class="btn btn-info" id="printStatement" formnovalidate>Print Statement</button></a>
            </div>
        </div>
    </div>
    <a href="{% url 'estimatorHome' %}"><input type="submit" class="btn btn-primary" value="Go Back To Estimate List" name="done" /></a>

{% endblock %}
