{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Estimate a New Project</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="estimatorAdd-form">
        <div class="form-group">
            {% csrf_token %}
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 37px;">
                    <label for="id_bfm" class="control-label">BFM</label>
                    <select name="bfm" class="form-control" id="id_bfm">
                        <option value="" data-customer="" data-project="" data-duedate="" data-dlink="" selected="">---------</option>
                        {% for bfm in bfms %}
                            <option value="{{ bfm.id }}" data-customer="{{ bfm.customer.id }}" data-project="{{ bfm.project.id }}" data-duedate="{{ bfm.due_date|date:"m/d/Y" }}" data-dlink="{% if bfm.uploaded_file %}{{ bfm.uploaded_file.url }}{% endif %}">{{ bfm }}</option>
                        {% endfor %}
                    </select>
                    <div class="form-icon"><a href="{% url 'personCreate' %}" id="add_customer" onclick="return showAddPopup(this);"><img src = "{% static '/admin/img/icon-addlink.svg' %}"></a>
                    <a id="dlink_href" href="" style="display: inline-block; margin-left: 5px;"><div class="icon downloadicon" data-toggle="tooltip" data-placement="bottom" title="Download"></div></a></div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_customer" class="control-label">Customer <span class="required">*</span></label>
                    {{ form.customer }}
                    <div class="form-icon"><a href="{% url 'personCreate' %}" id="add_customer" onclick="return showAddPopup(this);"><img src = "{% static '/admin/img/icon-addlink.svg' %}"></a></div>
                    <div class="form-icon"><a id="edit_person" style="cursor: pointer; cursor: hand;"><img src = "{% static '/admin/img/icon-changelink.svg' %}"></a></div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_project" class="control-label">Project <span class="required">*</span></label>
                    {{ form.project }}
                    <div class="form-icon"><a href="{% url 'projectCreate' %}" id="add_project" onclick="return showAddPopup(this);"><img src = "{% static '/admin/img/icon-addlink.svg' %}"></a></div>
                    <div class="form-icon"><a id="edit_project" style="cursor: pointer; cursor: hand;"><img src = "{% static '/admin/img/icon-changelink.svg' %}"></a></div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_engineer" class="control-label">Engineer <span class="required">*</span></label>
                    {{ form.engineer }}
                    <div class="form-icon"><a href="{% url 'engineerCreate' %}" id="add_engineer" onclick="return showAddPopup(this);"><img src = "{% static '/admin/img/icon-addlink.svg' %}"></a></div>
                    <div class="form-icon"><a id="edit_engineer" style="cursor: pointer; cursor: hand;"><img src = "{% static '/admin/img/icon-changelink.svg' %}"></a></div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 58px;">
                    <label for="id_service" class="control-label">Services Offered <span class="required">*</span></label>
                    {{ form.service }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 58px;">
                    <label for="id_due_date" class="control-label">Due Date <span class="required">*</span></label>
                    {{ form.due_date }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 58px;">
                    <label for="id_drawing_date" class="control-label">Drawing Date</label>
                    {{ form.drawing_date }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 58px;">
                    <label for="id_predemo" class="control-label">Pre Demo</label>
                    {{ form.predemo }}
                </div>
            </div>
            {{ form.created_by.as_hidden }}
            <div class="row">
                <div class="col-lg-12">
                    <input type="submit" class="btn btn-success" value="Next" name="next" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
        <script>
        if($("#id_bfm").val() === '') {
            $('#id_customer').prop('readonly', false).val('');
            $('#id_project').prop('readonly', false).val('');
            $('#id_due_date').attr('readonly', false).prop('readonly', false).val('');
            $('#id_customer option, #id_project option').attr('disabled', false);
            $("#dlink_href").attr("href", '').hide();
        }
        else {
            $('#id_customer option, #id_project option').attr('disabled', false);
            $("#id_customer").val($("#id_bfm").find(':selected').data('customer'));
            $("#id_project").val($("#id_bfm").find(':selected').data('project'));
            $("#id_due_date").attr('readonly', true).prop('readonly', 'readonly').val($("#id_bfm").find(':selected').data('duedate'));
            $('#id_customer option:not(:selected), #id_project option:not(:selected)').attr('disabled', true);
            $("#dlink_href").attr("href", $("#id_bfm").find(':selected').data('dlink')).show();
        }
        $('#id_bfm').on('change', function() {
            if($(this).val() === '') {
                $('#id_customer').val('');
                $('#id_project').val('');
                $('#id_due_date').attr('readonly', false).val('');
                $('#id_customer option, #id_project option').attr('disabled', false);
                $("#dlink_href").attr("href", '').hide();
            }
            else {
                $('#id_customer option, #id_project option').attr('disabled', false);
                $("#id_customer").val($(this).find(':selected').data('customer'));
                $("#id_project").val($(this).find(':selected').data('project'));
                $("#id_due_date").attr('readonly', true).val($(this).find(':selected').data('duedate'));
                $('#id_customer option:not(:selected), #id_project option:not(:selected)').attr('disabled', true);
                $("#dlink_href").attr("href", $(this).find(':selected').data('dlink')).show();
            }

        });
$("#edit_person").click(function(){
	person_id = $("#id_customer option:selected").val();
	if(person_id != '') {
        var url = "/person/" + person_id + "/edit/";
	    showEditPopup(url);
    }
	else {
	    alert("Something Went Wrong");
    }
  	});
$("#edit_project").click(function(){
	project_id = $("#id_project option:selected").val();
    if(project_id != '') {
        var url = "/project/" + project_id + "/edit/";
	    showEditPopup(url);
    }
	else {
	    alert("Something Went Wrong");
    }
});
        $("#edit_engineer").click(function(){
	person_id = $("#id_engineer option:selected").val();
	if(person_id != '') {
        var url = "/person/" + person_id + "/edit/";
	    showEditPopup(url);
    }
	else {
	    alert("Something Went Wrong");
    }
  	});
    </script>

        <script>
  $(function () {
    $("#id_due_date").datetimepicker({
      format: 'm/d/Y',
      timepicker:false,
    });
  });
</script>

{% endblock %}
