{% extends "base.html" %}

{% block content %}
<div class = "container">
	<h1>Project Information</h1>
	<form method = 'POST' action= '' enctype = "multipart/form-data" id="Project-form">
        <div class="form-group">
            {% csrf_token %}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_company" class="control-label">Name <span class="required">*</span></label>
                    {{ form.name }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_company" class="control-label">Address Line 1</label>
                    {{ form.address_line_1 }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_company" class="control-label">Address Line 2</label>
                    {{ form.address_line_2 }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_company" class="control-label">City</label>
                    {{ form.city }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_company" class="control-label">State</label>
                    {{ form.state }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_company" class="control-label">Zip Code</label>
                    {{ form.zip }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_tel" class="control-label">Tel.</label>
                    {{ form.tel }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_fax" class="control-label">Fax</label>
                    {{ form.fax }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_mail" class="control-label">Mail</label>
                    {{ form.mail }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_company" class="control-label">Note</label>
                    {{ form.note }}
                </div>
            </div>
            {{ form.created_by }}
            <div class="row">
                <div class="col-lg-12">
                    <input type="submit" class="btn btn-success" value="Add" />
                </div>
            </div>
        </div>
	</form>
</div>
{% endblock %}