{% extends 'base.html' %}
{% load staticfiles %}
{% load estimator_tags %}

{% block content %}
    <h2>Generate a Proposal</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="proposalAdd-form">
        <div class="form-group">
            {% csrf_token %}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_quote" class="control-label">Quote #<span class="required">*</span></label>
                    <select name="quote" class="form-control" required="" id="id_quote">
                        <option value="" selected="" data-customer="" data-engineer="" data-tabamount="" data-preamount="" data-totalamount="">---------</option>
                        {% for quote in quotes %}
                            <option value="{{ quote.id }}" data-customer="{{ quote.estimate.customer }}" data-engineer="{{ quote.estimate.engineer }}" data-tabamount="${% estimate_sub_total_calculator quote.estimate.id %}" data-preamount="${% estimate_predemo_calculator quote.estimate.id %}" data-totalamount="${% estimate_total_calculator quote.estimate.id %}">{% estimate_number_generator quote.estimate.id %}</option>
                        {% endfor %}
                    </select>
                    <div class="form-icon"><a href="{% url 'quoteAdd' %}" id="add_quote"><img src = "{% static '/admin/img/icon-addlink.svg' %}"></a></div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Validity</label>
                    {{ form.validity }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="customer" class="control-label">Customer</label>
                    <span class="form-control" id="customer" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="engineer" class="control-label">Engineer</label>
                    <span class="form-control" id="engineer" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="tab_amount" class="control-label">TAB Services Amount</label>
                    <span class="form-control" id="tab_amount" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="pre_amount" class="control-label">Pre Demo Amount</label>
                    <span class="form-control" id="pre_amount" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="total_amount" class="control-label">Total Amount</label>
                    <span class="form-control" id="total_amount" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label align-top">Note</label>
                    {{ form.note }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Create" name="next" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
    <script>
        $('#id_quote').on('change', function() {
            $("#customer").text($(this).find(':selected').data('customer'));
            $("#engineer").text($(this).find(':selected').data('engineer'));
            $("#tab_amount").text($(this).find(':selected').data('tabamount'));
            $("#pre_amount").text($(this).find(':selected').data('preamount'));
            $("#total_amount").text($(this).find(':selected').data('totalamount'));
        });
    </script>

{% endblock %}
