{% extends 'base.html' %}
{% load estimator_tags %}

{% block content %}
    {{ error_message }}
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <br />
    {%if request.user.is_authenticated %}
        <h2>Archive Quote {% estimate_number_generator this_quote.estimate.id %}</h2>
        <br />
        <form method="POST" action="">
            {% csrf_token %}
            Are you sure you want to archive this quote?<br /><br />
            <input type="submit" class="btn btn-primary" value="Yes" name="confirm" />
            <a href="{% url 'quotationHome' %}"><button class="btn btn-danger">Cancel</button></a>
        </form>
    {% endif %}

{% endblock %}
