{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load humanize %}

{% block content %}
    <h2>Generate a quote</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="quoteAdd-form">
        <div class="form-group">
            {% csrf_token %}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_estimate" class="control-label">Estimate #<span class="required">*</span></label>
                    <div class="row-data">
                        <select name="estimate" class="form-control select2" required="" id="id_estimate">
                            <option value="" selected="" data-customer="" data-engineer="" data-tabamount="" data-preamount="" data-totalamount="">---------</option>
                            {% for estimate in estimates %}
                                <option value="{{ estimate.id }}" data-customer="{{ estimate.customer }}" data-engineer="{{ estimate.engineer }}" data-tabamount="${% estimate_sub_total_calculator estimate.id %}" data-preamount="${% estimate_predemo_calculator estimate.id as epc %}{{ epc|floatformat:2|intcomma }}" data-totalamount="${% estimate_total_calculator estimate.id as etc %}{{ etc|floatformat:2|intcomma }}" {% if estimates.count == 1 %}selected="selected"{% endif %}>{% estimate_number_generator estimate.id %}</option>
                            {% endfor %}
                        </select>
                        <div class="select-icons">
                            <div class="form-icon"><a href="{% url 'estimatorAdd' %}" id="add_customer"><img src = "{% static 'admin/img/icon-addlink.svg' %}"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="customer" class="control-label">Customer</label>
                    <span class="form-control" id="customer" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="engineer" class="control-label">Engineer</label>
                    <span class="form-control" id="engineer" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="tab_amount" class="control-label">TAB Services Amount</label>
                    <span class="form-control" id="tab_amount" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="pre_amount" class="control-label">Pre Demo Amount</label>
                    <span class="form-control" id="pre_amount" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="total_amount" class="control-label">Total Amount</label>
                    <span class="form-control" id="total_amount" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="total_amount" class="control-label align-top">Note</label>
                    {{ form.note }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="submit" class="btn btn-success" value="Create" name="next" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
    <script>
        $("#customer").text($('#id_estimate').find(':selected').data('customer'));
        $("#engineer").text($('#id_estimate').find(':selected').data('engineer'));
        $("#tab_amount").text($('#id_estimate').find(':selected').data('tabamount'));
        $("#pre_amount").text($('#id_estimate').find(':selected').data('preamount'));
        $("#total_amount").text($('#id_estimate').find(':selected').data('totalamount'));

        $('#id_estimate').on('change', function() {
            $("#customer").text($(this).find(':selected').data('customer'));
            $("#engineer").text($(this).find(':selected').data('engineer'));
            $("#tab_amount").text($(this).find(':selected').data('tabamount'));
            $("#pre_amount").text($(this).find(':selected').data('preamount'));
            $("#total_amount").text($(this).find(':selected').data('totalamount'));
        });
    </script>

{% endblock %}
