{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Create a New Bid File</h2>
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <div class="alert alert-success">
        <strong>Attention!</strong> {{ form.customer.help_text }}
    </div>
    <form method="POST" enctype="multipart/form-data">
        <div class="form-group">
            {% csrf_token %}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_customer" class="control-label">Customer <span class="required">*</span></label>
                    <div class="row-data">
                        {{ form.customer }}
                        <div class="select-icons">
                            <div class="form-icon"><a href="{% url 'customerPersonCreate' %}" id="add_customer" onclick="return showAddPopup(this);"><img src = "{% static 'admin/img/icon-addlink.svg' %}"></a></div>
                            <div class="form-icon"><a id="edit_person" style="cursor: pointer; cursor: hand;"><img src = "{% static 'admin/img/icon-changelink.svg' %}"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_project" class="control-label">Project <span class="required">*</span></label>
                    <div class="row-data">
                        {{ form.project }}
                        <div class="select-icons">
                            <div class="form-icon"><a href="{% url 'projectCreate' %}" id="add_project" onclick="return showAddPopup(this);"><img src = "{% static 'admin/img/icon-addlink.svg' %}"></a></div>
                            <div class="form-icon"><a id="edit_project" style="cursor: pointer; cursor: hand;"><img src = "{% static 'admin/img/icon-changelink.svg' %}"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_service" class="control-label">Due Date <span class="required">*</span></label>
                    {{ form.due_date }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_service" class="control-label">Files</label>
                    {{ form.uploaded_file }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_service" class="control-label">Note</label>
                    {{ form.note }}
                </div>
            </div>
            {{ form.created_by.as_hidden }}
            <div class="row">
                <div class="col-lg-12">
                    <input type="submit" class="btn btn-success" value="Next" name="next" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
        <script>
$("#edit_person").click(function(){
	person_id = $("#id_customer option:selected").val();
	if(person_id != '') {
        var url = "/custromer_person/" + person_id + "/edit/";
	    showEditPopup(url);
    }
	else {
	    alert("Something Went Wrong");
    }
  	});
$("#edit_project").click(function(){
	project_id = $("#id_project option:selected").val();
    if(project_id != '') {
        var url = "/project/" + project_id + "/edit/";
	    showEditPopup(url);
    }
	else {
	    alert("Something Went Wrong");
    }
});
    </script>

    <script>
        $(function () {
            $("#id_due_date").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>

{% endblock %}
