appdirs==1.4.0
Babel==2.7.0
cairocffi==1.0.2
CairoSVG==2.4.0
cffi==1.12.3
cssselect2==0.2.1
defusedxml==0.6.0
Django==2.2.3
django-richtextfield==1.4.0
django-tinymce==2.8.0
django-use-email-as-username==1.0.1
django-weasyprint==0.5.4
html5lib==1.0.1
img2pdf==0.3.3
packaging==16.8
Pillow==6.1.0
pycparser==2.19
pydf==12
pyparsing==2.1.10
PyPDF2==1.26.0
Pyphen==0.9.5
python-pdf==0.37
pytz==2019.1
reportlab==3.5.23
six==1.10.0
sqlparse==0.3.0
tinycss2==1.0.2
WeasyPrint==47
webencodings==0.5.1
xhtml2pdf==0.2.3