django
django-cors-headers
django-recaptcha
django-richtextfield
django-use-email-as-username
djangorestframework
PyPDF2
xhtml2pdf
django-environ
pymysql
django-tinymce
django-import-export
django-credit-cards
django_select2
django-admin-sortable2
django-quill-editor
django-storages
img2pdf
numpy
opencv-python
pdf2image
boto3
psycopg[c]
uvicorn[standard]
