{% load static %}
{% load estimator_tags %}
{% load order_tags %}
{% load custom_tags %}
{% load humanize %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Invoice</title>
        {% include "pdfTemplates/headStyle.html" %}
    </head>
    <body>

        {% include "pdfTemplates/pdfHeaderTemplate.html" %}

        {% include "pdfTemplates/pdfFooterTemplate.html" %}


<div id="content_frame">
    <div class="content">
            <div class="row form-line" style="text-align: center; padding: 0; font-size: 9pt;">
                <table style="padding: 0;">
                  <tbody>
                    <tr style="text-align: center;">
                        <td style="font-weight: bold; text-align: left; vertical-align: bottom; width: 70%; color: #aaa; font-size: 34px; padding-top: 12px;">INVOICE</td>
                        <td style="padding: 2px; font-weight: bold; width: 15%;">
                            <div style="padding: 5px; font-weight: bold;">Date:</div>
                            {% if total_count > 1 %}<div style="padding: 5px; font-weight: bold;">Revision Date:</div>{% endif %}
                            <div style="padding: 0px; font-weight: bold;">Invoice No:</div>
                        </td>
                        <td style="font-weight: bold; width: 15%;">
                            <div style="padding: 5px; font-weight: bold;">{{ invoice.created_on|date:'m/d/Y' }}</div>
                            {% if total_count > 1 %}<div style="padding: 5px; font-weight: bold;">{% if invoice.edited_on %}{{ invoice.edited_on|date:'m/d/Y' }}{% else %}{{ revision_date.created_on|date:'m/d/Y' }}{% endif %}</div>{% endif %}
                            <div style="padding: 0px; font-weight: bold;">{{ invoice.order.project_number|slice:"3:" }}-{{ invoice.id|stringformat:"03d" }}-{{ total_count }}</div>
                        </td>
                    </tr>
                  </tbody>
               </table>
            </div>
            <div class="row form-line" style="font-size: 9pt;">
               <table style="padding: 0 0 5px 0;">
                  <tbody>
                    <tr style="text-align: left; border: none;">
                        <td style="padding: 5px 0 0 0; font-weight: bold;">Bill To: </td>
                        <td style="padding: 5px 0 0 0; font-weight: bold;">Project: </td>
                    </tr>
                    <tr style="text-align: left;">
                        <td style="padding: 0px;"><b>{{ estimate.customer.company.name }}</b>
                        {% if estimate.customer.company.address_line_1 %}<br />{{ estimate.customer.company.address_line_1 }}{% endif %}
                        {% if estimate.customer.company.address_line_2 %}<br />{{ estimate.customer.company.address_line_2 }}{% endif %}
                        {% if estimate.customer.company.city %}<br />{{ estimate.customer.company.city }}{% endif %}{% if estimate.customer.company.state %}, {{ estimate.customer.company.state }}{% endif %}
                        {% if estimate.customer.company.zip %} {{ estimate.customer.company.zip }}{% endif %}
                        {% if invoice.attention %}<br />Attention: {{ invoice.attention }}{% endif %}</td>
                        <td style="padding: 0px;"><b>{{ estimate.project }}</b>
                        {% if estimate.project.address_line_1 %}<br />{{ estimate.project.address_line_1 }}{% endif %}
                        {% if estimate.project.address_line_2 %}<br />{{ estimate.project.address_line_2 }}{% endif %}
                        {% if estimate.project.city %}<br />{{ estimate.project.city }}{% endif %}{% if estimate.project.state %}, {{ estimate.project.state }}{% endif %}
                        {% if estimate.project.zip %} {{ estimate.project.zip }}{% endif %}</td>
                    </tr>
                  </tbody>
               </table>
            </div>
            <div class="row form-line" style="font-size: 9pt;">
               <table style="padding: 10px; border: 1px solid #000; text-align: center;">
                  <tbody>
                    <tr style="">
                        <td style="padding: 5px 0 0 0; font-weight: bold; background-color: #80c4fc;">Project No.</td>
                        <td style="padding: 5px 0 0 0; font-weight: bold; background-color: #80c4fc;">PO/Contract No.</td>
                        <td style="padding: 5px 0 0 0; font-weight: bold; background-color: #80c4fc;">Date Started</td>
                        <td style="padding: 5px 0 0 0; font-weight: bold; background-color: #80c4fc;">Date Completed</td>
                        <td style="padding: 5px 0 0 0; font-weight: bold; background-color: #80c4fc;">Terms</td>
                    </tr>
                    <tr style="">
                        <td style="padding: 5px 0 0 0;">{{ invoice.order.project_number }} </td>
                        <td style="padding: 5px 0 0 0;">{{ invoice.order.po_number }} </td>
                        <td style="padding: 5px 0 0 0;">{% if invoice.date_started %}{{ invoice.date_started }}{% endif %} </td>
                        <td style="padding: 5px 0 0 0;">{% if invoice.date_completed %}{{ invoice.date_completed }}{% endif %} </td>
                        <td style="padding: 5px 0 0 0;">{{ invoice.terms }} </td>
                    </tr>
                  </tbody>
               </table>
               <table style="padding: 20px;">
                  <tbody style="text-align: center;">
                    <tr style="border: 1px solid #000;">
                        <td style="padding: 5px 0 0 0; font-weight: bold; background-color: #80c4fc; width: 80%;">Description</td>
                        <td style="padding: 5px 0 0 0; font-weight: bold; background-color: #80c4fc; width: 20%;">AMOUNT in USD</td>
                    </tr>
                    <tr style="border: 1px solid #000;">
                        <td style="padding: 5px 0 0 0; text-transform: uppercase;">{% if invoice.description %}{{ invoice.description|title }}{% else %}TESTING AND BALANCING{% endif %} AT {{ estimate.project.name }}</td>
                        <td style="padding: 5px 0 0 0;">{% if invoice.invoice_type == 1 %}${% estimate_total_minus_predemo_minus_dalt_calculator estimate.id as etc %}{{ etc|floatformat:2|intcomma }}{% elif invoice.invoice_type == 2 %}${% estimate_predemo_calculator estimate.id as epc %}{{ epc|floatformat:2|intcomma }}{% elif invoice.invoice_type == 4 %}${% estimate_sub_total_dalt_calculator estimate.id as tdc %}{{ tdc|floatformat:2|intcomma }}{% else %}${% estimate_total_minus_predemo_minus_dalt_calculator estimate.id as etmpc %}{{ etmpc|floatformat:2|intcomma }}{% endif %} </td>
                    </tr>
                    {% if invoice.invoice_type == 1 %}
                        {% order_predemo_calculator invoice.order.proposal.quote.estimate.id order as opc %}
                        {% if opc|floatformat:"0" != '0' %}
                            <tr style="border: 1px solid #000;">
                                <td style="padding: 5px 0 0 0; text-transform: uppercase;">PREDEMO</td>
                                <td style="padding: 5px 0 0 0;">${{ opc|floatformat:2|intcomma }} </td>
                            </tr>
                        {% endif %}
                        {% order_dalt_calculator invoice.order.proposal.quote.estimate.id order as odc %}
                        {% if odc|floatformat:"0" != '0' %}
                            <tr style="border: 1px solid #000;">
                                <td style="padding: 5px 0 0 0; text-transform: uppercase;">DALT</td>
                                <td style="padding: 5px 0 0 0;">${{ odc|floatformat:2|intcomma }} </td>
                            </tr>
                        {% endif %}
                        {% for change_order in change_orders %}
                        <tr style="border: 1px solid #000;">
                            <td style="padding: 5px 0 0 0;">CO #{{ change_order.co_number }}{% for change_order_service in change_order.changeorderservice_set.all %}{% if change_order_service.description %} - {{ change_order_service.description }}{% endif %}{% endfor %} - {{ change_order.date | date }}</td>
                            <td style="padding: 5px 0 0 0;">${% change_order_total_calculator change_order.id as cotc %}{{ cotc|floatformat:2|intcomma }} </td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    <tr style="text-align: right;">
                        <td style="padding: 5px 5px 0 5px;">Sub Total: </td>
                        <td style="padding: 5px 5px 0 5px; font-weight: bold; border: 1px solid #000; text-align: center;">{% if invoice.invoice_type == 1 %}${% order_total_calculator estimate.id invoice.order as otc %}{{ otc|floatformat:2|intcomma }}{% elif invoice.invoice_type == 2 %}${% order_predemo_calculator estimate.id invoice.order as opc %}{{ opc|floatformat:2|intcomma }}{% elif invoice.invoice_type == 4 %}${% order_dalt_calculator estimate.id invoice.order as odc %}{{ odc|floatformat:2|intcomma }}{% else %}${% order_final_calculator estimate.id invoice.order as ofc %}{{ ofc|floatformat:2|intcomma }}{% endif %} </td>
                    </tr>
                    <tr style="text-align: right;">
                        <td style="padding: 5px 5px 0 5px;">Percent of performance completed: </td>
                        <td style="padding: 5px 5px 0 5px; font-weight: bold; border: 1px solid #000; text-align: center;">{{ invoice.percent_of_performance_completed }}% </td>
                    </tr>
                    <tr style="text-align: right;">
                        <td style="padding: 5px 5px 0 5px; font-size: 11pt;">Total Invoiced: </td>
                        <td style="padding: 5px 5px 0 5px; font-weight: bold; border: 1px solid #000; text-align: center;">${{ total_amount_due|floatformat:2|intcomma }} </td>
                    </tr>
                    <tr style="text-align: right;">
                        <td style="padding: 5px 5px 0 5px;">Total Paid: </td>
                        <td style="padding: 5px 5px 0 5px; font-weight: bold; border: 1px solid #000; text-align: center;">{% if invoice_view_page %}$0{% else %}${% calculate_total_paid invoice as ctp %}{{ ctp|floatformat:2|intcomma }}{% endif %} </td>
                    </tr>
                    <tr style="text-align: right;">
                        <td style="padding: 5px 5px 0 5px;">Balance Due: </td>
                        <td style="padding: 5px 5px 0 5px; font-weight: bold; border: 1px solid #000; text-align: center;">{% if invoice_view_page %}${{ total_amount_due|floatformat:2|intcomma }}{% else %}${% calculate_remaining_invoice_due invoice as crid %}{{ crid|floatformat:2|intcomma }}{% endif %} </td>
                    </tr>


                  </tbody>
               </table>
               <br />
            </div>
            <div class="row form-line text-center" style="font-size: 9pt; text-align: center;">
                If you have any questions concerning this invoice, feel free to contact us at any time.
                <table style="padding: 20px; font-size: 8pt;">
                  <tbody>
                    <tr style="text-align: center;">
                        <td style="padding: 5px; font-weight: bold;">Signature:</td>
                        <td style="padding: 5px;"><img alt="" src="{% get_s3_file_url owner_signature '' %}" class="signature" style="height: 50px;" /></td>
                        <td style="padding: 5px; font-weight: bold;"> </td>
                        <td style="padding: 5px; font-weight: bold;">Name/Title:</td>
                        <td style="padding: 5px;"><span style="text-decoration: underline;">{{ license_owner }}</span>, <span style="text-decoration: underline;">{{ owner_title }}</span></td>
                    </tr>
                  </tbody>
               </table>
            </div>
            <div class="row form-line text-center" style="text-align: center; font-size: 10pt;">
                THANK YOU FOR YOUR BUSINESS!
            </div>
            <hr />
            <div class="row form-line text-center" style="font-size: 8pt;">
                <h3 style="text-align: center; font-size: 10pt; padding: 2px 0 0 0;">Endorsement</h3>
                Payment is recommended as follows:
            </div>
            <div class="row form-line" style="font-size: 8pt;">
                <table style="padding: 5px 0 10px 0; border: 1px solid #000;">
                  <tbody>
                    <tr style="text-align: right;">
                        <td style="padding: 5px 5px 0 5px; font-weight: bold;">Amount of work completed to due date:</td>
                        <td style="padding: 5px 5px 0 5px;"> </td>
                    </tr>
                    <tr style="text-align: right;">
                        <td style="padding: 5px 5px 0 5px; font-weight: bold;">Less retention:</td>
                        <td style="padding: 5px 5px 0 5px;"> </td>
                    </tr>
                    <tr style="text-align: right;">
                        <td style="padding: 5px 5px 0 5px; font-weight: bold;">Subtotal:</td>
                        <td style="padding: 5px 5px 0 5px;"> </td>
                    </tr>
                    <tr style="text-align: right;">
                        <td style="padding: 5px 5px 0 5px; font-weight: bold;">Previous payment:</td>
                        <td style="padding: 5px 5px 0 5px;"> </td>
                    </tr>
                    <tr style="text-align: right;">
                        <td style="padding: 5px 5px 0 5px; font-weight: bold;">Total payment amount recommended:</td>
                        <td style="padding: 5px 5px 0 5px;"> </td>
                    </tr>
                  </tbody>
               </table>
            </div>
            <div class="row form-line" style="font-size: 8pt;">
                <table style="padding: 5px;">
                  <tbody>
                    <tr style="text-align: center;">
                        <td style="padding: 5px; font-weight: bold;">Signature:</td>
                        <td style="padding: 5px; width: 100px;"> <br /> </td>
                        <td style="padding: 5px; font-weight: bold;"> <br /> </td>
                        <td style="padding: 5px; font-weight: bold;">Name/Title:</td>
                        <td style="padding: 5px; width: 100px;"><span style="text-decoration: underline; width: 60px;"></span><br /><span style="text-decoration: underline; width: 60px;"></span></td>
                    </tr>
                  </tbody>
               </table>
            </div>
    </div>
</div>
    </body>
</html>