{% load custom_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}iTAB • intelligence Test, Adjusting and Balancing System{% endblock %}</title>
        {% load static %}
        <link rel="icon" href="{% static "images/logo.svg" %}" />
		<link rel="apple-touch-icon" href="{% static "images/logo.svg" %}" />
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" crossorigin="anonymous" />
        {{ form.media.css }}
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
        <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
        <script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
        <script src="{% static "js/popper.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/jquery.datetimepicker.full.min.js" %}" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
        <script src="{% static "js/printThis.js" %}" crossorigin="anonymous"></script>
        <script src="{% static "js/jquery.simulate.js" %}"></script>
        <script src="{% static "js/fontawesome.js" %}"></script>
        <style>
        body {
        {% if user.profile.wallpaper %}
            background-image: url('{{ user.profile.wallpaper.url }}');
        {% endif %}
        }
        .profile_img {
        {% if user.profile.pic %}
            background-image: url('{{ user.profile.pic.url }}');
        {% endif %}
        }
        </style>
        <script>
        $(document).ready(function() {
            $('.django-select2').data('minimum-input-length', '1');
        });
        </script>
        {% block extra_head %}
        {% endblock %}
    </head>
  <body class="text-center px-3">
    <header class="header">
        <div class="logosection">
            <a href="https://dashboard.tabtechinc.com/" style="display: flex; position: relative;"><img class="sitelogo" src="{% static "images/logo.svg" %}"><span class="sitelogotext"><span class="textholder">TAB Technologies, INC.<br />Member AABC</span></span></a>
        </div>
        <nav class="nav" id="topnav">
            <div class="menu-top-menu-container">
                <ul id="menu-top-menu" class="menu">
                    {% if user.is_authenticated %}
                    {% if request.user.profile.user_type > 1 %}
                    <li class="menu-item">
                        <a href="{% url 'Estimate' %}">Sales</a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'Accounting' %}">Accounting</a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'Data' %}">Data</a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'Tech' %}">Tech</a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'Customer' %}">Customer</a>
                    </li>
                    <li class="menu-item">
                        <a href="{% url 'Management' %}">Management</a>
                    </li>

                    {% endif %}
                    <li class="menu-item">
                     <div class="dropdown header-profile" style="display: inline-block;">
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                        <div class="img-thumbnail profile_img">
                        </div>
                      </button>
                  <div class="dropdown-menu">
                    <span class="dropdown-item-text">Welcome,
                    {% if user.first_name|length > 0 %}
                    {{ user.first_name }}
                  {% else %}
                    {{ user.email }}
                  {% endif %}</span>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'ProfileEdit' %}"><i class="far fa-user-circle"></i>Profile</a>
                    <a class="dropdown-item" href="{% url 'admin:index' %}admin/logentry/"><i class="far fa-bell"></i>Activities</a>
                    <a class="dropdown-item" href="{% url 'password_change' %}"><i class="fas fa-key"></i>Change Password</a>
                    <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                  </div>
                </div>
                </li>
                    {% else %}
                    <li class="menu-item"><a href="{% url 'login' %}">login</a></li>
                    <li class="menu-item"><a href="{% url 'signup' %}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="MobileMenu()">&#9776;</a>
        </nav>
    </header>
    <div class="headspace"></div>



  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}{% if message.tags == 'error' %} alert-danger{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}

  {% if form.errors %}
    <div class="alert alert-danger">
      <h4>Please fix the following errors</h4>
      <ul>
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <li><a href="#id_{{ field.name }}" class="error">{{ error|escape }}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </ul>
      {% if form.non_field_errors %}
        {{ form.non_field_errors }}
      {% endif %}
    </div>
  {% endif %}



  {% block script %}
    <main class="main container-fluid">
      {% block content %}
      {% endblock %}
    </main>

    <script>
        $(document).ready(function() {
            $("input[type=number]").keypress(function(event){
                if (event.which < 45 || event.which > 57)
                {
                    event.preventDefault();
                }
            });
            $('[data-toggle="popover"]').popover();
            $('[data-toggle="tooltip"]').tooltip();
            $(".headspace").height($(".header").innerHeight());
        });
    </script>

        <script>
            function MobileMenu() {
                var x = document.getElementById("topnav");
                if (x.className === "nav") {
                    x.className += " responsive";
                } else {
                    x.className = "nav";
                }
            }
        </script>

<script type="text/javascript">
function showEditPopup(url) {
    var win = window.open(url, "Edit",
        'height=600,width=1000,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=600,width=1000,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}
function closePopup(win, newID, newRepr, id, edit) {
    if (edit == 1) {
        $(id + " option:selected").remove();
    }
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>');
    if (id == 'id_control_system') {
        $('form').submit();
    }
    win.close();
}

</script>
{{ form.media.js }}
<script>
$(document).ready(function() {
    $('select.select2').djangoSelect2({
        minimumInputLength: 1
    });
});
</script>
<script type="text/javascript">
    const field_capitalizer = "{{ field_capitalizer }}";

    if (parseInt(field_capitalizer)) {
        $("body").on('input', 'input[type=text]:not(#id_username):not(#id_web)', function() {
            const old_value = $(this).val()
            const new_value = old_value.toUpperCase()
            $(this).val(new_value)
        });
    }
</script>
{% endblock %}
  </body>
</html>