{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="sectionpanel">
        <div class="container">
            <div class="row pt-1 justify-content-center">
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'administrativeHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/customer-01.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Documents Administrative</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'CoiHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/customer-02.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Certificate of Insurance</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'submittalHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/customer-03.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Company Submittal</h6>
                        </div>
                    </a></div>
                </div>
            </div>
        </div>
    </div>

        <script>
        $(document).ready(function() {
            $(".main").addClass('nobg');
        });
    </script>
{% endblock %}