{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="sectionpanel">
        <div class="container">
            <div class="row pt-1 justify-content-center">
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'orderHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/estimator-04.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Order Management</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'reportHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/accounting-06.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Register TAB Report</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'reportSheetHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/accounting-05.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Generate TAB Report</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'invoiceHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/accounting-04.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Invoice</h6>
                        </div>
                    </a></div>
                </div>
            </div>
            <div class="row pt-1 justify-content-center">
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'accountSummaryHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/accounting-08.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Account Summary</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'customerListHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/accounting-09.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Consolidated Payment</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'JobCostingList' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/accounting-07.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Job Costing</h6>
                        </div>
                    </a></div>
                </div>
            </div>
        </div>
    </div>

        <script>
        $(document).ready(function() {
            $(".main").addClass('nobg');
        });
    </script>
{% endblock %}