{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="sectionpanel">
        <div class="container">
            <div class="pt-3 d-flex flex-wrap">
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'EquipmentsHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 16px;">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-00.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Equipment Database</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'sheetHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 18px;">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-01.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Air moving equipment</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'vavSheetHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-02.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">V.A.V Box</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'terminalSheetHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 6px;">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-03.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Air Terminal</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1 coming-soon">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-04.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Chiller</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1">
                        <a href="{% url 'pumpSheetHome' %}">
                            <div class="col-sm-12 rounded-circle mx-auto d-block">
                                <img class="card-img-top" src="{% static "images/icons/iconset/tech-05.svg" %}" alt="Card image" />
                            </div>
                            <div class="card-body">
                                <h6 class="card-title text-uppercase">Pump</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1 coming-soon">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-06.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Sound Test</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1 coming-soon">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-07.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Fume Hood Test</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1 coming-soon">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-08.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Vibration Test</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1 coming-soon">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-09.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">IAQ</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1 coming-soon">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-10.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Cooling</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'velocitySheetHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 10px;">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-11.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Velocity Travers</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1">
                        <a href="{% url 'ductSheetHome' %}">
                            <div class="col-sm-12 rounded-circle mx-auto d-block">
                                <img class="card-img-top" src="{% static "images/icons/iconset/tech-12.svg" %}" alt="Card image" />
                            </div>
                            <div class="card-body">
                                <h6 class="card-title text-uppercase">Duct Heater</h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1 coming-soon">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 14px;">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-13.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Dalt</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1">
                        <a href="{% url 'flowSheetHome' %}">
                            <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 15px;">
                                <img class="card-img-top" src="{% static "images/icons/iconset/tech-14.svg" %}" alt="Card image" />
                            </div>
                            <div class="card-body">
                                <h6 class="card-title text-uppercase">Flow Measuring</h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script>
        $(document).ready(function() {
            $(".main").addClass('nobg');
        });
    </script>
{% endblock %}