{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="sectionpanel">
        <div class="container">
            <div class="row pt-1 justify-content-center">
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'bidFilesHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/estimator-06.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">CRM</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'bidFilesHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/estimator-05.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">BFM</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'estimatorHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/estimator-01.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Estimate</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'quotationHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/estimator-03.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Quote</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'proposalHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/estimator-02.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Proposal</h6>
                        </div>
                    </a></div>
                </div>
            </div>
        </div>
    </div>

        <script>
        $(document).ready(function() {
            $(".main").addClass('nobg');
        });
    </script>
{% endblock %}