{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="sectionpanel">
        <div class="container">
            <div class="pt-3 d-flex flex-wrap">
                <div class="col col-sm-2">
                    <div class="card pt-3"><a href="{% url 'EquipmentsHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 16px;">
                            <img class="card-img-top" src="{% static "images/icons/tech/equipment-database.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Equipment Database</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3"><a href="{% url 'sheetHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 18px;">
                            <img class="card-img-top" src="{% static "images/icons/tech/air-moving-equipment.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Air moving equipment</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/tech/vav.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">V.A.V Box</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 6px;">
                            <img class="card-img-top" src="{% static "images/icons/tech/air-terminal.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Air Terminal</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/tech/chiller.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Chiller</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/tech/pump.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Pump</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/tech/sound-test.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Sound Test</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/tech/fume-hood-test.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Fume Hood Test</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/tech/vibration-test.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Vibration Test</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/tech/iaq.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">IAQ</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/tech/cooling.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Cooling</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 10px;">
                            <img class="card-img-top" src="{% static "images/icons/tech/velocity.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Velocity Travers</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/tech/duct-heater.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Duct Heater</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 14px;">
                            <img class="card-img-top" src="{% static "images/icons/tech/dalt.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Dalt</h6>
                        </div>
                    </div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-3">
                        <div class="col-sm-12 rounded-circle mx-auto d-block" style="padding: 15px;">
                            <img class="card-img-top" src="{% static "images/icons/tech/flow-measuring.png" %}" alt="Card image" />
                        </div>
                        <div class="card-body">
                            <h6 class="card-title text-uppercase">Flow Measuring</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script>
        $(document).ready(function() {
            $(".main").addClass('nobg');
        });
    </script>
{% endblock %}