{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="sectionpanel">
        <div class="container">
            <div class="row pt-1 justify-content-center">
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'scheduleCalendar' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/accounting-02.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Tech Schedule</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1"><a href="{% url 'settlementHome' %}">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/accounting-03.svg" %}" alt="Card image" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Tech Settlement</h6>
                        </div>
                    </a></div>
                </div>
                <div class="col col-sm-2">
                    <div class="card pt-1 coming-soon"><a href="#">
                        <div class="col-sm-12 rounded-circle mx-auto d-block">
                            <img class="card-img-top" src="{% static "images/icons/iconset/tech-15.svg" %}" alt="Tech Tools" />
                        </div>
                        <div class="card-body d-flex align-items-center justify-content-center">
                            <h6 class="card-title text-uppercase">Tech Tools</h6>
                        </div>
                    </a></div>
                </div>
            </div>
        </div>
    </div>

        <script>
        $(document).ready(function() {
            $(".main").addClass('nobg');
        });
    </script>
{% endblock %}