{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load order_tags %}

{% block content %}
    <div class="text-center">
        <a href="{% url 'scheduleAdd' %}"><button type="button" class="btn btn-primary big">Add Schedule</button></a>
        <br /><br />
        <div class="row" style="margin: 10px auto;">
                <form action="?{% url_replace request 'project_name' '' %}">
                    <div class="form-group" style="display: inline-block; transform: translateY(2px);">
                        <label for="project_name"></label>
                        <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Project Name| Project Number | Assigned for..." value="{{ request.GET.project_name }}" />
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                </form>
            <div class="pagination-select">
                <header class="title">items per page</header>
                <div class="btn-group">
                    <button id="paginate_5" type="button" class="btn btn-default"><a href="?{% url_replace request 'paginate_by' '5' %}">5</a></button>
                    <button id="paginate_20" type="button" class="btn btn-default"><a href="?{% url_replace request 'paginate_by' '20' %}">20</a></button>
                    <button id="paginate_50" type="button" class="btn btn-default"><a href="?{% url_replace request 'paginate_by' '50' %}">50</a></button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-sortable="order"><a href="{% if request.GET.ordering == 'order' %}?{% url_replace request 'ordering' '-order' %}{% else %}?{% url_replace request 'ordering' 'order' %}{% endif %}">Order</a></th>
                    <th>Assigned To</th>
                    <th data-sortable="scheduled_for"><a href="{% if request.GET.ordering == 'scheduled_for' %}?{% url_replace request 'ordering' '-scheduled_for' %}{% else %}?{% url_replace request 'ordering' 'scheduled_for' %}{% endif %}">Scheduled For</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for schedule in schedules %}
                    {% if schedule.archive == False %}
                        <tr>
                            <td>{{ schedule.order }}</td>
                            <td>{{ schedule.assigned_to_employee }}{{ schedule.assigned_to_contractor }}</td>
                            <td>{{ schedule.scheduled_for|date:"m/d/Y H:i" }}</td>
                            <td>
                                <a href="{% url 'scheduleEdit' schedule_id=schedule.id %}" style="display: inline-block;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit"></div></a>
                                <a href="{% url 'scheduleArchive' schedule_id=schedule.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon archiveicon" data-toggle="tooltip" data-placement="bottom" title="Archive"></div></a>
                                <a href="{% url 'scheduleDelete' schedule_id=schedule.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon deleteicon" data-toggle="tooltip" data-placement="bottom" title="Delete"></div></a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
          {% if schedules.has_previous %}
            <a class="pagination-action" href="?{% url_replace request 'page' '1' %}">
             <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% url_replace request 'page' schedules.previous_page_number %}">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          {% endif %}

          {% for num in schedules.paginator.page_range %}

            {% if orders.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
            {% elif num > schedules.number|add:'-3' and num < schedules.number|add:'3' %}
            <a class="pagination-number" href="?{% url_replace request 'page' num %}">{{ num }}</a>
            {% endif %}

          {% endfor %}

          {% if schedules.has_next %}
            <a class="pagination-action" href="?{% url_replace request 'page' schedules.next_page_number %}">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% url_replace request 'page' schedules.paginator.num_pages %}">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          {% endif %}
        </div>
    </div>
<script>
    $(document).ready(function() {
        var sortables = ['proposal__quote__estimate__id', 'proposal__quote__estimate__customer', 'proposal__quote__estimate__project', 'proposal__quote__estimate__engineer', 'proposal__quote__estimate__due_date'];
        for (const myConst of sortables) {
            if (window.location.href.indexOf('ordering=' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-down'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test1);
            }
            if (window.location.href.indexOf('ordering=-' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-up'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test2);
            }
        }
        if (window.location.href.indexOf('paginate_by=') <= 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
        if (window.location.href.indexOf('paginate_by=50') > 0) {
            $(".pagination-select #paginate_50").addClass('selected');
            $(".pagination-select #paginate_50 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=20') > 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=5') > 0) {
            $(".pagination-select #paginate_5").addClass('selected');
            $(".pagination-select #paginate_5 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=') > 0) {
            $(".pagination-select #paginate_all").addClass('selected');
            $(".pagination-select #paginate_all a").removeAttr("href");
        }
    });
</script>
{% endblock %}
