{% extends 'base.html' %}
{% load static %}

{% block content %}
    <script>
        // load tui stylesheets

        // if you use the default popups, use these two css.
        $('<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />').appendTo('head');
        $('<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />').appendTo('head');

        $('<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css" />').appendTo('head');

        $('<link rel="stylesheet" type="text/css" href="{% static 'tui/css/default.css'%}" />').appendTo('head');
        $('<link rel="stylesheet" type="text/css" href="{% static 'tui/css/icons.css'%}" />').appendTo('head');
    </script>
    <h2>Schedule</h2>

    <div style="height: 700px; position: relative; background: white; text-align: initial;">
        <div id="lnb">
            <div id="lnb-calendars" class="lnb-calendars">
                <div>
                    <div class="lnb-calendars-item">
                        <label>
                            <input class="tui-full-calendar-checkbox-square" type="checkbox" value="all" checked>
                            <span></span>
                            <strong>View all Techs</strong>
                        </label>
                    </div>
                </div>
                <div id="calendarList" class="lnb-calendars-d1"></div>
                <div id="orderList" class="lnb-calendars-d1"></div>
            </div>
{#            <div class="lnb-footer">#}
{#                © NHN Corp.#}
{#            </div>#}
        </div>
        <div id="right">
            <div id="menu">
            <span class="dropdown">
                <button id="dropdownMenu-calendarType" class="btn btn-default btn-sm dropdown-toggle" type="button"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <i id="calendarTypeIcon" class="calendar-icon ic_view_month" style="margin-right: 4px;"></i>
                    <span id="calendarTypeName">Dropdown</span>&nbsp;
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu-calendarType">
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-daily">
                            <i class="calendar-icon ic_view_day"></i>Daily
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weekly">
                            <i class="calendar-icon ic_view_week"></i>Weekly
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-monthly">
                            <i class="calendar-icon ic_view_month"></i>Month
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks2">
                            <i class="calendar-icon ic_view_week"></i>2 weeks
                        </a>
                    </li>
                    <li role="presentation">
                        <a class="dropdown-menu-title" role="menuitem" data-action="toggle-weeks3">
                            <i class="calendar-icon ic_view_week"></i>3 weeks
                        </a>
                    </li>
                    <li role="presentation" class="dropdown-divider"></li>
                    <li role="presentation">
                        <a role="menuitem" data-action="toggle-workweek">
                            <input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-workweek"
                                   checked>
                            <span class="checkbox-title"></span>Show weekends
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" data-action="toggle-start-day-1">
                            <input type="checkbox" class="tui-full-calendar-checkbox-square" value="toggle-start-day-1">
                            <span class="checkbox-title"></span>Start Week on Monday
                        </a>
                    </li>
                    <li role="presentation">
                        <a role="menuitem" data-action="toggle-narrow-weekend">
                            <input type="checkbox" class="tui-full-calendar-checkbox-square"
                                   value="toggle-narrow-weekend">
                            <span class="checkbox-title"></span>Narrower than weekdays
                        </a>
                    </li>
                </ul>
            </span>
                <span id="menu-navi">
                <button type="button" class="btn btn-default btn-sm move-today" data-action="move-today">Today</button>
                <button type="button" class="btn btn-default btn-sm move-day" data-action="move-prev">
                    <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm move-day" data-action="move-next">
                    <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i>
                </button>
            </span>
                <span id="renderRange" class="render-range"></span>
            </div>
            <div id="calendar" ondrop="drop(event)" ondragover="allowDrop(event)" ondragleave="dropLeave(event)"></div>
        </div>
    </div>


    <form method='POST' action=''>
        <div class="form-group">
            {% csrf_token %}
        </div>
    </form>

    <script src="{% static 'js/cal-ajax-setup.js' %}"></script>

    <!-- load tui scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>

    <script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.min.js"></script>
    <script src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js"></script>
    <script src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js"></script>

    <script src="{% static 'tui/js/data/calendars.js' %}"></script>
    <script src="{% static 'tui/js/data/schedules.js' %}"></script>
    <script src="{% static 'tui/js/app.js' %}"></script>


    <script>

        function allowDropTech(ev) {
            if( ev.dataTransfer.getData("type") == "tech" )
            {
                ev.preventDefault();
                ev.target.classList.add("assigned");
            }

        }

        function dropLeaveTech(ev) {
            if( ev.dataTransfer.getData("type") == "tech" ) {
                ev.preventDefault();
                var all_assignable = document.getElementsByClassName("assignable-schedule");
                var len = all_assignable.length;
                var i = 0;
                for (i; i < len; i++) {
                    all_assignable[i].classList.remove("assigned");
                }
            }
        }

        function dragTech(ev) {
            ev.dataTransfer.setData("type", "tech");
            ev.dataTransfer.setData("id", ev.target.dataset.id);
        }


        function dropTech(ev) {
            if( ev.dataTransfer.getData("type") == "tech" ) {
                ev.preventDefault();
                ev.target.classList.remove("assigned");
                var new_tech_id = ev.dataTransfer.getData("id");
                var org_tech_id = ev.target.parentElement.parentElement.dataset.calendarId;
                var org_order_id = ev.target.parentElement.parentElement.dataset.scheduleId;

                $.ajax({
                  type: "POST",
                  url: "{% url 'update_schedule' %}",
                  data: {
                      'type': 'tech_update',
                      'org_order_id': org_order_id,
                      'new_tech_id': new_tech_id
                  },
                    success: function(result) {
                      console.log(result);
                    }
                });

                cal.updateSchedule(org_order_id, org_tech_id, {
                    calendarId: new_tech_id
                });
            }
        }



        function allowDrop(ev) {
            if( ev.dataTransfer.getData("type") == "order" ) {
                ev.preventDefault();
                document.getElementById("calendar").classList.add("dover");
            }

        }

        function dropLeave(ev) {
            if( ev.dataTransfer.getData("type") == "order" ) {
                ev.preventDefault();
                document.getElementById("calendar").classList.remove("dover");
            }
        }

        function drag(ev) {
            ev.dataTransfer.setData("type", "order");
            ev.dataTransfer.setData("elementId", ev.target.id);
            ev.dataTransfer.setData("text", ev.target.textContent);
            ev.dataTransfer.setData("body", ev.target.dataset.body);
            ev.dataTransfer.setData("id", ev.target.dataset.id);
            ev.dataTransfer.setData("estimate", ev.target.dataset.estimate);
            ev.dataTransfer.setData("location", ev.target.dataset.location);
        }


        function drop(ev) {
            if( ev.dataTransfer.getData("type") == "order" ) {
                ev.preventDefault();
                document.getElementById("calendar").classList.remove("dover");
                var el_id = ev.dataTransfer.getData("elementId");
                var id = ev.dataTransfer.getData("id");
                var body = ev.dataTransfer.getData("body");
                var estimate = ev.dataTransfer.getData("estimate");
                var location = ev.dataTransfer.getData("location");
                var start = new Date();
                var end = moment(start).add(estimate, 'm').toDate();

                $.ajax({
                  type: "POST",
                  url: "{% url 'create_schedule' %}",
                  data: {
                      'order_id': id,
                      'scheduled_for': formatDate(start),
                      'duration': estimate
                  },
                    success: function(result) {
                      console.log(result);
                    }
                });

                cal.createSchedules([
                    {
                        id: id,
                        calendarId: '0',
                        title: body,
                        body: body,
                        location: location,
                        category: 'time',
                        start: start,
                        end: end
                    }
                ]);

                document.getElementById(el_id).parentElement.parentElement.remove();

            }
        }
        {##}
        {#$(document).ready(function() {#}
        {#    setTimeout(function(){#}
        {##}
        {#    }, 3000);#}
        {# }); #}


    </script>


{% endblock %}
