{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load humanize %}

{% block content %}
    <h2>Edit Order</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="scheduleAdd-form">
        <div class="form-group">
            {% csrf_token %}
            {{ form.order.as_hidden }}
                        <div class="row form-line" style="margin: 20px auto;">
                <div class="col-lg-5">
                    <label for="id_architect_name" class="control-label" style="margin-top: -10px;">Assigned to Employee</label>
                    {{ form.assigned_to_employee }}
                </div>
                <div class="col-lg-2" style="margin-top: 10px;">
                    OR
                </div>
                <div class="col-lg-5">
                    <label for="id_validity" class="control-label" style="margin-top: -10px;">Assigned to Contractor</label>
                    {{ form.assigned_to_contractor }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Scheduled for <span class="required">*</span></label>
                    {{ form.scheduled_for }}
                </div>
            </div>
            {{ form.created_by.as_hidden }}
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Save" name="save" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>

        </div>
	</form>
    <script>
        $('#id_proposal').on('change', function() {
            $("#customer").text($(this).find(':selected').data('customer'));
            $("#engineer").text($(this).find(':selected').data('engineer'));
            $("#tab_amount").text($(this).find(':selected').data('tabamount'));
            $("#pre_amount").text($(this).find(':selected').data('preamount'));
            $("#total_amount").text($(this).find(':selected').data('totalamount'));
        });
    </script>

        <script>
        $('#id_assigned_to_employee').on('change', function() {
            $('#id_assigned_to_contractor').val("");
        });
        $('#id_assigned_to_contractor').on('change', function() {
            $('#id_assigned_to_employee').val("");
        });
    </script>

    <script>
  $(function () {
    $("#id_scheduled_for").datetimepicker({
      format: 'm/d/Y H:i',
      scrollInput: false,
    });
  });
</script>

{% endblock %}
