{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<style>
    .form-label {
        width: 200px; /* Fixed width for labels */
    }
    .form-control, .form-control[type="text"], .form-control[type="number"], .form-control-textarea {
        flex-grow: 1; /* Make input fields take up the remaining space */
    }
    .form-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
    }
    .form-group > .form-control, .form-group > .form-control-textarea {
        flex-basis: calc(100% - 220px); /* Adjust this value based on the label width and any potential margins */
        max-width: calc(100% - 220px); /* Ensures that the input does not grow beyond the calculated width */
    }
    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
</style>

<div class="container mt-5">
    <h2 class="mb-5">Data Sheet ({{ ds.id }}-{{ ds.name }}) {{ t }} Entry Form</h2>
    <div class="mb-5">
        <h3>Project: {{ ds.project.project_number }}</h3>
        <h4>
            {{ ds.project.proposal.quote.estimate.project.name }} -
            {{ ds.project.proposal.quote.estimate.project.address_line_1 }} 
            {{ ds.project.proposal.quote.estimate.project.address_line_2 }}
            {{ ds.project.proposal.quote.estimate.project.city }}
            {{ ds.project.proposal.quote.estimate.project.state }} 
            {{ ds.project.proposal.quote.estimate.project.zip_code }}
        </h3>
    </div>

    <form action="/path-to-your-post-method" method="post">
        {% for terminal_type, terminal_data in terminal_types.items %}
            <h3>{{ terminal_type }}</h3>
            <div class="row">
                {% for terminal, fields in terminal_data %}
                    <div class="col-md-12">
                        <h6>Outlet No.{{ terminal.outlet_no }}</h6>
                    </div>
                    {% for field_name, properties in fields.items %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="{{ field_name }}_{{ terminal.pk }}" class="form-label">
                                    {{ field_name }}
                                    {% if properties.required %}<span style="color: red;">*</span>{% endif %}
                                    <a href="#" data-toggle="modal" data-target="#noteModal{{ terminal.pk }}_{{ field_name|slugify }}" class="note-info-icon">
                                        <i class="fas fa-comment" style="color: {% if properties.note %}blue{% else %}gray{% endif %};"></i>
                                    </a>
                                    {% if properties.hint %}
                                        <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{ properties.hint }}"></i>
                                    {% endif %}
                                </label>
                                <input type="{{ properties.type }}" class="form-control" id="{{ field_name }}_{{ terminal.pk }}" name="{{ field_name }}_{{ terminal.pk }}"
                                       value="{{ properties.value|default_if_none:'' }}"
                                       {% if properties.required %} required {% endif %}
                                       {% if properties.validation %} pattern="{{ properties.validation }}" {% endif %}>

                                
                            </div>
                        </div>
                        <!-- Note Modal -->
                        <div class="modal fade" id="noteModal{{ terminal.pk }}_{{ field_name|slugify }}" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel{{ terminal.pk }}_{{ field_name|slugify }}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="noteModalLabel{{ terminal.pk }}_{{ field_name|slugify }}">Edit Note for {{ field_name }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <textarea class="form-control" name="{{ field_name }}_{{ terminal.pk }}_note">{{ properties.note|default_if_none:'' }}</textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-md-12">
                        <hr>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary m-5">Save</button>
    </form>    
      
</div>


<script>
    $(document).ready(function() {
        $('form').on('submit', function(e) {
            e.preventDefault(); // Prevent the default form submission

            var formData = $(this).serialize(); // Serialize the form data into a query string

            var pathname = window.location.pathname;
            var parts = pathname.split('/');
            var id = parts[parts.length - 3];
            var index = parts.indexOf('equipments');
            var newPathname = parts.slice(0, index).join('/') + '/api/equipments/data-sheets/' + id + '/update/form/';

            const url = window.location.href;
            const queryParams = new URLSearchParams(window.location.search);
            const myParam = queryParams.get('t'); // Replace 'myParam' with the name of your parameter
            newPathname += '?t=' + myParam + "&ds=air-terminal";

            $.ajax({
                url: newPathname,
                type: 'PUT',
                data: formData,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token in headers
                },
                success: function(response) {
                    console.log('Success:', response);
                    // Handle success here (e.g., showing a success message or redirecting)
                    // window.location.reload();
                    window.location.href = "{% url 'order_update_new' ds.project.id %}";
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    // Handle errors here (e.g., showing an error message)
                    alert('Error: ' + xhr.responseJSON.errors.join('\n'));
                }
            });
        });

        // Empty the input fields if the value is 'None'
        $('input, select').each(function() {
            var value = $(this).val();
            if (value === 'None') { // Checking for the string 'None'
                $(this).val('');
            }
        });
        // Optionally, if you have dynamic content or forms added after page load:
        $(document).on('change', 'input, select', function() {
            if ($(this).val() === 'None') {
                $(this).val('');
            }
        });
    });
</script>

{% endblock %}
