{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load slugify %}

{% block content %}
<style>
    .form-label {
        width: 200px; /* Fixed width for labels */
    }
    .form-control, .form-control[type="text"], .form-control[type="number"], .form-control-textarea {
        flex-grow: 1; /* Make input fields take up the remaining space */
    }
    .form-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 10px;
    }
    .form-group > .form-control, .form-group > .form-control-textarea {
        flex-basis: calc(100% - 220px); /* Adjust this value based on the label width and any potential margins */
        max-width: calc(100% - 220px); /* Ensures that the input does not grow beyond the calculated width */
    }
    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
</style>

<div class="container mt-5">
    <h2 class="mb-5">Data Sheet ({{ ds.id }}-{{ ds.name }}) {{ t }} entry form</h2>
    <div class="mb-5">
        <h3>Project: {{ ds.project.project_number }}</h3>
        <h4>
            {{ ds.project.proposal.quote.estimate.project.name }} -
            {{ ds.project.proposal.quote.estimate.project.address_line_1 }} 
            {{ ds.project.proposal.quote.estimate.project.address_line_2 }}
            {{ ds.project.proposal.quote.estimate.project.city }}
            {{ ds.project.proposal.quote.estimate.project.state }} 
            {{ ds.project.proposal.quote.estimate.project.zip_code }}
        </h3>
    </div>

    <form action="/path-to-your-post-method" method="post">
        <!-- Error display section -->
        <div id="errorDisplayTop" class="alert alert-danger" style="display: none;"></div>
    
        <div class="row">
            {% for field_name, properties in fields.items %}
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ field_name }}" class="form-label">
                            {{ field_name }}
                            {% if properties.required %}<span style="color: red;">*</span>{% endif %}
                            <!-- Small 'i' icon button for notes -->
                            <a href="#" data-toggle="modal" data-target="#noteModal{{ properties.order }}" class="note-info-icon">
                                <i class="fas fa-comment" style="color: {% if properties.note %}blue{% else %}gray{% endif %};"></i>
                            </a>
                            {% if properties.hint %}
                                <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{ properties.hint }}"></i>
                            {% endif %}
                        </label>
                        {% if properties.type == 'text' or properties.type == 'number' %}
                            <input type="{{ properties.type }}" class="form-control" id="{{ field_name }}" name="{{ field_name }}"
                                   value="{{ properties.value|default_if_none:'' }}"
                                   placeholder="{{ properties.placeholder|default_if_none:'' }}"
                                   {% if properties.required %} required {% endif %}
                                   {% if properties.validation %} pattern="{{ properties.validation }}" {% endif %}
                                   {% if properties.display %} style="display: {{ properties.display }};" {% endif %}>
                        {% elif properties.type == 'textarea' %}
                            <textarea class="form-control" id="{{ field_name }}" name="{{ field_name }}"
                                      {% if properties.required %} required {% endif %}
                                      {% if properties.display %} style="display: {{ properties.display }};" {% endif %}>
                                {{ properties.value|default_if_none:'' }}
                            </textarea>
                        {% elif properties.type == 'checkbox' %}
                            <input type="checkbox" class="form-control" id="{{ field_name|slugify }}" name="{{ field_name }}"
                                   {% if properties.value == 'on' %} checked {% endif %}
                                   {% if properties.display %} style="display: {{ properties.display }};" {% endif %}>
                        {% endif %}
                    </div>
                </div>
                <!-- Note Modal -->
                <div class="modal fade" id="noteModal{{ properties.order }}" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel{{ properties.order }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="noteModalLabel{{ loop.index }}">Edit Note for {{ field_name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <textarea class="form-control" name="{{ field_name }}_note">{{ properties.note|default_if_none:'' }}</textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    
        {% if ds.equipment_type.test_sheet.name == 'Velocity Traverse' %}
            {% if t == 'actual' %}
                </br>
                </br>
                <div class="row">
                    <div class="col-2">
                        <label for="rowCount">Rows:</label>
                        <input type="number" id="rowCount" class="form-control" min="1" value="1" style="width: 50px !important;">
                    </div>
                    <div class="col-2">
                        <label for="colCount">Columns:</label>
                        <input type="number" id="colCount" class="form-control" min="1" value="1" style="width: 50px !important;">
                    </div>
                    <div class="col-md-3">
                        <button type="button" id="generateTable" class="btn btn-secondary">Generate Table</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div id="dynamicTableContainer"></div>
                    </div>
                </div>
                <input type="hidden" name="Others" id="Others">
            {% endif %}
        {% endif %}
    
        <button type="submit" class="btn btn-primary m-5">Save</button>
        <div id="errorDisplayBottom" class="alert alert-danger" style="display: none;"></div>
    </form>
        

</div>


<!-- <script>
    $(document).ready(function() {
        $('form').on('submit', function(e) {
            e.preventDefault();

            var formData = $(this).serialize();

            var pathname = window.location.pathname;
            var parts = pathname.split('/');
            var id = parts[parts.length - 2];
            var index = parts.indexOf('equipments');
            var newPathname = parts.slice(0, index).join('/') + '/api/equipments/data-sheets/' + id + '/update/form/';

            const url = window.location.href;
            const queryParams = new URLSearchParams(window.location.search);
            const myParam = queryParams.get('t');
            newPathname += '?t=' + myParam;

            $.ajax({
                url: newPathname,
                type: 'PUT',
                data: formData,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    console.log('Success:', response);
                    window.location.href = "{% url 'order_update_new' ds.project.id %}";
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    const errorMsg = xhr.responseJSON.errors.join('<br>');
                    $('#errorDisplayTop, #errorDisplayBottom').html(errorMsg).show();
                }
            });
        });
        $('input, select').each(function() {
            var value = $(this).val();
            if (value === 'None') {
                $(this).val('');
            }
        });
        $(document).on('change', 'input, select', function() {
            if ($(this).val() === 'None') {
                $(this).val('');
            }
        });
    });
</script> -->

<script>
    $(document).ready(function() {
        function generateTable(rows, cols, data = []) {
            let table = '<table class="table table-bordered"><tbody>';
            for (let r = 0; r < rows; r++) {
                table += '<tr>';
                for (let c = 0; c < cols; c++) {
                    const value = data[r] && data[r][c] ? data[r][c] : '';
                    table += `<td><input type="text" class="form-control" data-row="${r+1}" data-col="${c+1}" value="${value}" style="width: 60px !important;"></td>`;
                }
                table += '</tr>';
            }
            table += '</tbody></table>';
            return table;
        }

        function serializeTableData() {
            let tableData = '';
            $('#dynamicTableContainer table tbody tr').each(function() {
                $(this).find('td input').each(function() {
                    tableData += $(this).val() + ' ';
                });
                tableData = tableData.trim() + ', ';
            });
            tableData = tableData.trim().slice(0, -1);
            $('#Others').val(tableData);
        }

        $('#generateTable').click(function() {
            const rows = parseInt($('#rowCount').val());
            const cols = parseInt($('#colCount').val());
            $('#dynamicTableContainer').html(generateTable(rows, cols));
        });

        $('form').on('submit', function(e) {
            serializeTableData();
            e.preventDefault(); // Prevent the default form submission

            var formData = $(this).serialize(); // Serialize the form data into a query string

            var pathname = window.location.pathname;
            var parts = pathname.split('/');
            var id = parts[parts.length - 2];
            var index = parts.indexOf('equipments');
            var newPathname = parts.slice(0, index).join('/') + '/api/equipments/data-sheets/' + id + '/update/form/';

            const url = window.location.href;
            const queryParams = new URLSearchParams(window.location.search);
            const myParam = queryParams.get('t'); // Replace 'myParam' with the name of your parameter
            newPathname += '?t=' + myParam;

            $.ajax({
                url: newPathname,
                type: 'PUT',
                data: formData,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token in headers
                },
                success: function(response) {
                    console.log('Success:', response);
                    // Handle success here (e.g., showing a success message or redirecting)
                    window.location.href = "{% url 'order_update_new' ds.project.id %}";
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    const errorMsg = xhr.responseJSON.errors.join('<br>');
                    $('#errorDisplayTop, #errorDisplayBottom').html(errorMsg).show();
                }
            });
        });

        // If data exists, initialize table
        {% if ds.equipment_type.test_sheet.name == 'Velocity Traverse' and properties.others %}
        const othersData = "{{ properties.others }}".split(',').map(row => row.trim().split(' '));
        $('#rowCount').val(othersData.length);
        $('#colCount').val(othersData[0].length);
        $('#dynamicTableContainer').html(generateTable(othersData.length, othersData[0].length, othersData));
        {% endif %}

        $('#belt-drive').change(function() {
            $('#direct-drive').prop('disabled', $(this).is(':checked'));
        });
        $('#direct-drive').change(function() {
            $('#belt-drive').prop('disabled', $(this).is(':checked'));
        });
        $('#belt-drive').trigger('change');
        $('#direct-drive').trigger('change');

    });
</script>

{% endblock %}
