{% extends 'base.html' %}
{% load static %}
{% load order_tags %}
{% load settlement_tags %}
{% load humanize %}

{% block content %}
    <h2>Select Projects to Settle with {{ this_settlement.contractor }}</h2>
    <br />
    <h3>Projects</h3>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="service{{ estimate_service.id }}-form">
        <div class="form-group">
            {% csrf_token %}
            {{ form.settlement.as_hidden }}
            <div class="row form-line">
                <div class="col-lg-12">
                    {% for order in orders %}
                        <div class="row form-line order-line order-line-disabled rounded">
                            <div class="col-1 p-1 h-auto my-2">
                                <input type="checkbox" class="order-include mt-2" name="order-include-{{ order.id }}" id="order-include-{{ order.id }}" value="order-include" />
                            </div>
                            <div class="col-2 p-1 my-2">
                                <label for="price_override" class="control-label m-0">Order #{{ order.project_number }}</label>
                            </div>
                            <div class="col-3 p-1 my-2">
                                <label class="switch-toggle m-0" style="width: 60px;">
                                    <input class="or_toggle" type="checkbox" name="or-toggle-{{ order.id }}" />
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-3 p-1">
                                <label class="w-100 m-0 text-center job-percentage">
                                    Completion Percentage to Date
                                    <input id="old_cp" class="form-control" type="text" placeholder="%" style="width: 60px;" value="{{ order.completion_percentage }}" readonly />
                                </label>
                            </div>
                            <div class="col-3 p-1">
                                <label class="w-100 m-0 text-center job-percentage">
                                    Completion Percentage in this Period
                                    <input id="this_cp" name="percentage-{{ order.id }}" class="form-control" type="text" placeholder="%" style="width: 60px;" />
                                </label>
                            </div>
                        </div>
{#                            <option value="{{ order.id }}" data-oldsettled="{{ order.order_settled_value  }}" data-price="{% order_total_calculator order.proposal.quote.estimate.id order %}">{{ order.project_number }}</option>#}
                    {% endfor %}
                </div>
            </div>
        </div>
{#        <ul class="list-group">#}
{#        {% for settled_order in settled_orders %}#}
{#            <li class="list-group-item">#}
{#                Order: <b>#{{ settled_order.order }} </b> -#}
{#                Settlement based on <b>${{ settled_order.settled_value|floatformat:2|intcomma }} </b>#}
{#                Settlement amount <b>${% calculate_settlement_amount settled_order as csa %}{{ csa|floatformat:2|intcomma }}</b>#}
{#                <a href="{% url 'settledOrderDelete' settlement_id=this_settlement.id settled_order_id=settled_order.id %}" id="estimate_equipment_delete"><img src = "{% static '/admin/img/icon-deletelink.svg' %}"></a>#}
{#            </li>#}
{#        {%  endfor %}#}
{#        </ul>#}
{#            <br />#}
{##}
{#    <br />#}
{#    <h4>Settlement Total: ${{ settled_total|floatformat:2|intcomma }}</h4>#}
    <br />
        <input type="submit" class="btn btn-primary" value="Next" name="next" formnovalidate />
        <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
	</form>

    <script>



        $(document).ready(function() {



            $('#this_cp').on('change', function() {

                const total_cp = parseInt($(this).val()) + parseInt($(this).closest('.row').find('#old_cp').val())
                if (total_cp > 100) {
                    $(this).val('')
                    alert('Total Completion Percentage is greater than 100%')
                } else {
                }
            })




            function checkboxChecked() {
                $( ".order-include" ).each(function( index ) {
                    if ($(this).is(":checked")) {
                        $(this).closest('.order-line').removeClass('order-line-disabled')
                    } else {
                        $(this).closest('.order-line').addClass('order-line-disabled')
                    }
                })
            }
            checkboxChecked();

            $( ".order-include" ).change(function() {
                checkboxChecked();
            })


        });




        $("#price_overrider").attr('checked', false);
        $("#id_settled_value").attr('readonly', true);
        $("#price_overrider").click(function(){
            $("#id_settled_value").attr('readonly', !this.checked);
        });

        if ($('#id_order').find(':selected').data('oldsettled') != 0) {
            $('#old_settled_amount').text($('#id_order').find(':selected').data('oldsettled'));
            $('.change-alert').slideDown();
        }
        else {
            $('.change-alert').slideUp();
        }


        $('#id_order').on('change', function() {
            if ($(this).find(':selected').data('oldsettled') != 0) {
                $('#old_settled_amount').text($(this).find(':selected').data('oldsettled'));
                $('.change-alert').slideDown();
            }
            else {
                $('.change-alert').slideUp();
            }
            $("#price_overrider").prop( "checked", false );
            $("#id_settled_value").attr('readonly', true);
            $("#id_settled_value").val($(this).find(':selected').data('price'));
        });
    </script>
{% endblock %}
