{% extends 'base.html' %}
{% load static %}
{% load order_tags %}
{% load settlement_tags %}
{% load humanize %}

{% block content %}
    <h2>Select Projects to Settle with {{ this_settlement.contractor }}</h2>
    <br />
    <h3>Add Projects</h3>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="service{{ estimate_service.id }}-form">
        <div class="form-group">
            {% csrf_token %}
            <div class="alert alert-warning change-alert" style="display: none;">
                <strong>Warning!</strong> You already Settled based on $<span id="old_settled_amount"></span> on this project before...
            </div>
            {{ form.settlement.as_hidden }}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_order" class="control-label">Project</label>
                    <select name="order" class="form-control" id="id_order">
                        <option value="" selected="" data-oldsettled="0">---------</option>

                        {% for order in orders %}
                            <option value="{{ order.id }}" data-oldsettled="{{ order.order_settled_value  }}" data-price="{% order_total_calculator order.proposal.quote.estimate.id order %}">{{ order.project_number }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <div class="">
                        <input type="checkbox" class="" name="price_overrider" id="price_overrider" value="price_overrider" style="display: inline-block; width: 18px;" />
                        <label class="" style="padding-left: 5px; display: inline-block; width: 350px;" for="price_overrider">Confirm to override settlement price</label>
                    </div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="price_override" class="control-label">Price Override</label>
                    {{ form.settled_value }}
                    {{ form.order_value.as_hidden }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="submit" class="btn btn-success" value="Add/Update" name="add" />
                </div>
            </div>
        </div>
        <ul class="list-group">
        {% for settled_order in settled_orders %}
            <li class="list-group-item">
                Order: <b>#{{ settled_order.order }} </b> -
                Settlement based on <b>${{ settled_order.settled_value|floatformat:2|intcomma }} </b>
                Settlement amount <b>${% calculate_settlement_amount settled_order as csa %}{{ csa|floatformat:2|intcomma }}</b>
                <a href="{% url 'settledOrderDelete' settlement_id=this_settlement.id settled_order_id=settled_order.id %}" id="estimate_equipment_delete"><img src = "{% static '/admin/img/icon-deletelink.svg' %}"></a>
            </li>
        {%  endfor %}
        </ul>
            <br />

    <br />
    <h4>Settlement Total: ${{ settled_total|floatformat:2|intcomma }}</h4>
    <br />
        <input type="submit" class="btn btn-primary" value="Next" name="next" formnovalidate />
        <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
	</form>

    <script>
        $("#price_overrider").attr('checked', false);
        $("#id_settled_value").attr('readonly', true);
        $("#price_overrider").click(function(){
            $("#id_settled_value").attr('readonly', !this.checked);
        });

        if ($('#id_order').find(':selected').data('oldsettled') != 0) {
            $('#old_settled_amount').text($('#id_order').find(':selected').data('oldsettled'));
            $('.change-alert').slideDown();
        }
        else {
            $('.change-alert').slideUp();
        }


        $('#id_order').on('change', function() {
            if ($(this).find(':selected').data('oldsettled') != 0) {
                $('#old_settled_amount').text($(this).find(':selected').data('oldsettled'));
                $('.change-alert').slideDown();
            }
            else {
                $('.change-alert').slideUp();
            }
            $("#price_overrider").prop( "checked", false );
            $("#id_settled_value").attr('readonly', true);
            $("#id_settled_value").val($(this).find(':selected').data('price'));
        });
    </script>
{% endblock %}
