{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load order_tags %}
{% load settlement_tags %}
{% load humanize %}


{% block content %}
    <div class="text-center">
        <a href="{% url 'settlementAdd' %}"><button type="button" class="btn btn-primary big">Add Settlement</button></a>
        <br /><br />
        <div class="row" style="margin: 10px auto; position: relative;">
            <form action="?{% url_replace request 'project_name' '' %}">
                <div class="form-group" style="display: inline-block; transform: translateY(2px);">
                    <label for="project_name"></label>
                    <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Project Number..." value="{{ request.GET.project_name }}" />
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </form>
            <div class="pagination" style="position: absolute; left: 50%; bottom: 50%; transform: translate(-50%, 50%);">
              {% if settlements.has_previous %}
                <a class="pagination-action" href="?{% url_replace request 'page' '1' %}">
                 <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?{% url_replace request 'page' settlements.previous_page_number %}">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
              {% endif %}

              {% for num in settlements.paginator.page_range %}

                {% if settlements.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > settlements.number|add:'-3' and num < settlements.number|add:'3' %}
                <a class="pagination-number" href="?{% url_replace request 'page' num %}">{{ num }}</a>
                {% endif %}

              {% endfor %}

              {% if settlements.has_next %}
                <a class="pagination-action" href="?{% url_replace request 'page' settlements.next_page_number %}">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?{% url_replace request 'page' settlements.paginator.num_pages %}">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
            <div class="pagination-select">
                <header class="title">items per page</header>
                <div class="btn-group">
                    <button id="paginate_20" type="button" class="btn btn-default"><a href="?{% url_replace request 'paginate_by' '20' %}">20</a></button>
                    <button id="paginate_50" type="button" class="btn btn-default"><a href="?{% url_replace request 'paginate_by' '50' %}">50</a></button>
                    <button id="paginate_300" type="button" class="btn btn-default"><a href="?{% url_replace request 'paginate_by' '300' %}">300</a></button>
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th data-sortable="id"><a href="{% if request.GET.ordering == 'id' %}?{% url_replace request 'ordering' '-id' %}{% else %}?{% url_replace request 'ordering' 'id' %}{% endif %}">ID</a></th>
                    <th data-sortable="contractor"><a href="{% if request.GET.ordering == 'contractor' %}?{% url_replace request 'ordering' '-contractor' %}{% else %}?{% url_replace request 'ordering' 'contractor' %}{% endif %}">Contractor</a></th>
                    <th>Orders</th>
                    <th>Total Settled</th>
                    <th data-sortable="created_on"><a href="{% if request.GET.ordering == 'created_on' %}?{% url_replace request 'ordering' '-created_on' %}{% else %}?{% url_replace request 'ordering' 'created_on' %}{% endif %}">Creation Date</a></th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for settlement in settlements %}
                    <tr>
                        <td>{{ settlement.id }}</td>
                        <td>{{ settlement.contractor }}</td>
                        <td>{% for settled_order in settlement.settledorders_set.all %}{{ settled_order }}{%if not forloop.last%}<br />{%endif%}{% endfor %}</td>
                        <td>{% calculate_total_settled settlement as cts %}${{ cts|floatformat:2|intcomma }}</td>
                        <td>{{ settlement.created_on }}</td>
                        <td>
                            <a href="{% url 'settlementEdit' settlement_id=settlement.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit"></div></a>
                            <a href="{% url 'settlementDelete' settlement_id=settlement.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon deleteicon" data-toggle="tooltip" data-placement="bottom" title="Delete"></div></a>
                            <a href="{{ WEB_URL }}{{ MEDIA_URL }}pdfs/settlement/settlement-{{ settlement.id }}.pdf" style="display: inline-block; margin-left: 5px;"><div class="icon downloadicon" data-toggle="tooltip" data-placement="bottom" title="Download"></div></a>
                            <a href="#" style="display: inline-block; margin-left: 5px;" data-toggle="modal" data-target="#myModal" class="email_modal" data-name="{{ settlement.id }}" data-id="{{ settlement.id }}" data-toemail="{{ settlement.contractor.mail }}" data-contractor="Settlement #{{ settlement.id }} - {{ settlement.contractor }}"><div class="icon sendmailicon" data-toggle="tooltip" data-placement="bottom" title="Send Via Mail"></div></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
          {% if settlements.has_previous %}
            <a class="pagination-action" href="?{% url_replace request 'page' '1' %}">
             <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% url_replace request 'page' settlements.previous_page_number %}">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          {% endif %}

          {% for num in settlements.paginator.page_range %}

            {% if settlements.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
            {% elif num > settlements.number|add:'-3' and num < settlements.number|add:'3' %}
            <a class="pagination-number" href="?{% url_replace request 'page' num %}">{{ num }}</a>
            {% endif %}

          {% endfor %}

          {% if settlements.has_next %}
            <a class="pagination-action" href="?{% url_replace request 'page' settlements.next_page_number %}">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% url_replace request 'page' settlements.paginator.num_pages %}">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          {% endif %}
        </div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header" style="display: block;">
                <button type="button" class="close" data-dismiss="modal" style="float: right;">&times;</button>
                <h4 class="modal-title" style="float: left;">Email Settlement</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="row form-line">
                        <div class="col-lg-12" style="padding-right: 36px;">
                            {{ field.label_tag }}
                            {{ field }}
                            {{ field.help_text }}
                        </div>
                    </div>
                    {% endfor %}
                    {{ form.email_id.as_hidden }}
                    <div class="form-actions">
                      <button type="submit" class="btn btn-success" value="Next" name="send">Send</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>



    </div>
<script>
    $(document).ready(function() {
        $(".alert").css('display', 'none');
        $(document).on("click", ".email_modal", function () {
             $(".modal-body #id_email_id").val( $(this).data('id') );
             if($(this).data('toemail')!="") { $(".modal-body #id_to_email").val( $(this).data('toemail') ); }
             $(".modal-body #id_subject").val( $(this).data('contractor') );
             $(".modal-header .modal-title").text('Email Settlement #' + $(this).data('name'));
        });
        var sortables = ['id', 'contractor', 'created_on'];
        for (const myConst of sortables) {
            if (window.location.href.indexOf('ordering=' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-down'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test1);
            }
            if (window.location.href.indexOf('ordering=-' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-up'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test2);
            }
        }
        if (window.location.href.indexOf('paginate_by=') <= 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
        if (window.location.href.indexOf('paginate_by=300') > 0) {
            $(".pagination-select #paginate_300").addClass('selected');
            $(".pagination-select #paginate_300 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=50') > 0) {
            $(".pagination-select #paginate_50").addClass('selected');
            $(".pagination-select #paginate_50 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=20') > 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=') > 0) {
            $(".pagination-select #paginate_all").addClass('selected');
            $(".pagination-select #paginate_all a").removeAttr("href");
        }
    });
</script>
{% endblock %}
