{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load custom_tags %}
{% load humanize %}
{% load settlement_tags %}

{% block content %}
    <h2>Settlement #{{ settlement.id }}</h2>
    <div class="container text-left" style="padding: 30px 10px;">
        <header class="proposal_header" style="display: none;">
            <img class="figure-img logo" src="{% media_url %}{{ owner_logo }}" />
            <span style="float: right; margin-top: 40px;">Member AABC</span>
        </header>
<table id="printStatementPage" style="width: 100%;">
  <thead><tr><td>
    <div class="header-space">&nbsp;</div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
            <h3 style="text-align: center; margin: 20px auto;">Settlement Statement</h3>
            <ul class="list-group">
                <li class="list-group-item">Settlement No.: <b>{{ settlement.id }}</b></li>
                <li class="list-group-item">Contractor: <b>{{ settlement.contractor }}</b></li>
                <li class="list-group-item">Settle Date: <b>{{ settlement.created_on }}</b></li>
            </ul>
            <br />
            Detailed list of item selected with price:
            <br /><br />
            <table class="table table-striped" id="servicetable">
                <thead>
                      <tr>
                            <th scope="col" style="background-color: #333; color: #fff;">Item</th>
                            <th scope="col" style="background-color: #333; color: #fff;">Project Number</th>
                            <th scope="col" style="background-color: #333; color: #fff;">Project Name</th>
                            <th scope="col" style="background-color: #333; color: #fff;">Settlement amount</th>
                      </tr>
                </thead>
                <tbody>
                    {% for settled_order in settled_orders %}
                    <tr>
                        <td scope="row">{{forloop.counter}}</td>
                        <td>{{ settled_order.order.project_number }}</td>
                        <td>{{ settled_order.order.proposal.quote.estimate.project.name }}</td>
                        <td>${{ settled_order.settled_value|floatformat:2|intcomma }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-right">
                <div style="text-align: right;"><div class="d-inline-block">Total: <span style="display: inline-block; width: 180px; font-weight: bold;">${% calculate_total_settled settlement as cts %}{{ cts|floatformat:2|intcomma }}</span></div></div>
            </div>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space">&nbsp;</div>
  </td></tr></tfoot>
</table>
    <footer class="proposal_footer" style="display: none;">
             <div class="row" style="padding: 10px 0px;">
              <div class="onecol col-sm-4">
                  <i class="fas fa-map-marker-alt"></i>{{ owner_address }}
              </div>
              <div class="onecol col-sm-4">
                  <i class="fas fa-phone-volume"></i>{{ owner_tel }}<br />
                  <i class="fas fa-fax"></i>{{ owner_fax }}
              </div>
              <div class="onecol col-sm-4">
                  <i class="fas fa-globe"></i>{{ owner_web }}<br />
                  <i class="fas fa-envelope"></i>{{ owner_mail }}
              </div>
            </div>
        </footer>
    </div>
    <div class="form-group">
        <div class="row form-line">
            <div class="col-lg-12">
                <a href="{{ WEB_URL }}{{ MEDIA_URL }}pdfs/settlement/settlement-{{ settlement.id }}.pdf"><button name="print" class="btn btn-info" id="printStatement" formnovalidate>Print Statement</button></a>
            </div>
        </div>
    </div>
    <a href="{% url 'settlementHome' %}"><input type="submit" class="btn btn-primary" value="Go Back To Settlements List" name="done" /></a>

{% endblock %}
