h1, h2 {
    text-transform: uppercase;
}

html, body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

i {
    margin: 0px 5px;
}

.main {
    background: rgba(255,255,255,.8);
    border-radius: 5px;
    padding: 15px 10px 20px 10px;
    transition: all 0.3s;
}

.main:hover {
    background: rgba(255,255,255,1);
}

.btn {
    text-transform: uppercase;
}

.btn.big {
    padding: 15px 25px;
    box-shadow: 0px 5px 0px #006e9c;
}

.btn-primary {
    background-color: #009ada;
    box-shadow: 0px 3px 0px #006e9c;
    transition: all 0.15s;
    font-weight: 500;
}

.btn-success {
    box-shadow: 0px 3px 0px #14842d;
    transition: all 0.15s;
    font-weight: 700;
}

.btn-info {
    box-shadow: 0px 3px 0px #0b7788;
    transition: all 0.15s;
    font-weight: 700;
}

.btn-danger {
    box-shadow: 0px 3px 0px #b82634;
    transition: all 0.15s;
    font-weight: 700;
}


.btn-primary:hover {
    background-color: #0a89be;
}

.btn-primary:focus {
    background-color: #0a89be !important;
    box-shadow: 0px 3px 0px #006e9c !important;
    outline: none !important;
}

.btn-primary.big:focus {
    box-shadow: 0px 5px 0px #006e9c !important;
}

.btn-primary:active {
    transform: translateY(5px);
    background-color: #006e9c !important;
    box-shadow: 0px 0px 0px #006e9c !important;
    outline: none !important;
}

.btn-success:focus {
    background-color: #1e983a !important;
    box-shadow: 0px 3px 0px #14842d !important;
    outline: none !important;
}

.btn-success.big:focus {
    box-shadow: 0px 5px 0px #14842d !important;
}

.btn-success:active {
    transform: translateY(5px);
    background-color: #14842d !important;
    box-shadow: 0px 0px 0px #14842d !important;
    outline: none !important;
}

.btn-danger:focus {
    background-color: #c42938 !important;
    box-shadow: 0px 3px 0px #b82634 !important;
    outline: none !important;
}

.btn-danger.big:focus {
    box-shadow: 0px 5px 0px #b82634 !important;
}

.btn-danger:active {
    transform: translateY(5px);
    background-color: #b82634 !important;
    box-shadow: 0px 0px 0px #b82634 !important;
    outline: none !important;
}

.btn-info:focus {
    background-color: #10889b !important;
    box-shadow: 0px 3px 0px #0b7788 !important;
    outline: none !important;
}

.btn-info.big:focus {
    box-shadow: 0px 5px 0px #0b7788 !important;
}

.btn-info:active {
    transform: translateY(5px);
    background-color: #0b7788 !important;
    box-shadow: 0px 0px 0px #0b7788 !important;
    outline: none !important;
}

.btn-default {
    border: 1px solid rgba(0,0,0,.1);
}

.btn-default:hover {
    background-color: rgba(0,0,0,.1);
}

.header {
    height: 90px;
    display: flex;
    width: 100%;
    align-items: stretch;
    background: rgba(255,255,255,.9);
    padding: 1.25rem 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    transition: all 0.3s;
}

.header:hover {
    background: rgba(255,255,255,1);
}

.header a {
    color: #000;
    transition: all 0.3s;
}

.header a:hover {
    text-decoration: none;
    opacity: 0.6;
}

.header .nav {
    text-transform: uppercase;
    text-align: right;
    flex-grow: 8;
    font-size: 1rem;
    justify-content: flex-end;
}

.header .nav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: flex-end;
}

.header .nav ul li {
    margin: 6px 25px auto;
}

.header .nav ul li a {
    padding: 5px;
}

.header ul li a {
    display: block;
}

#topnav {

}

#topnav.hide {
    display: none;
}

#topnav .icon {
  display: none;
}

#topnav .dropdown .dropdown-toggle {
    padding: 4px 2px 8px 2px;
    text-decoration: underline;
    transition: all 0.15s;
}

#topnav .dropdown .dropdown-menu {
    font-size: 14px;
}

#topnav .dropdown .dropdown-toggle:hover, #topnav .dropdown .dropdown-toggle:focus {
    opacity: 0.6;
}

#topnav ul {
    margin-bottom: 0;
}

#topnav ul li {
    position: relative;
}

#topnav ul li ul {
    position: absolute;
    right: 0;
    display: none;
    background: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-top: none;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

#topnav ul li ul li {
    font-size: 0.9rem;
}

#topnav ul li:hover>ul {
    display: block;
}

.logosection {
    height: 50px;
    width: 220px;
    font-size: 1rem;
    text-align: left;
    display: flex;
    position: relative;
}

.logosection .sitelogo {
    height: auto;
    width: 3rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logosection .sitelogotext {
    font-weight: 700;
    font-size: 0.8rem;
    overflow: hidden;
    display: inline-block;
    width: 200px;
    line-height: 1.1rem;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 55px;
}

.logosection .sitelogotext .textholder {
    width: 300px;
}

.headspace {
    width: 100%;
    height: 96px;
}

.main {
    margin: 15px auto;
}

.form-group {
    margin: 25px auto;
}

.form-control {
    display: inline-block;
    width: 250px;
}

.form-line {
    margin: 12px auto;
}

.form-line label {
    width: 150px;
    text-align: left;
    padding: 5px;
}

.form-group input, .form-group select, .form-group button {
    width: 230px;
}

.form-group input[type=submit], .form-group button {
    text-transform: uppercase;
}

.form-group .form-icon {
    display: inline-block;
    padding: 2px;
}

.required {
    color: #ff0000;
}

iframe {
    width: 100% !important;
    height: 500px !important;
}

.proposal_header {
    width: 100%;
    padding: 10px auto;
    border-bottom: 1px solid #009ada;
}

.proposal_footer {
    width: 100%;
    padding: 10px auto;
    border-top: 1px solid #009ada;
}

.proposal_footer .onecol {
    border-width: 3px;
  border-style: solid;
  border-image:
    linear-gradient(to bottom, #009ada, rgba(0, 0, 0, 0)) 1 100%;
}

.proposal_footer .onecol:first-child {
    border-left: none;
}

.proposal_footer .onecol:last-child {
    border-right: none;
}

.proposal_footer .onecol i {
    color: #009ada;
    padding: 0px 5px;
}

.service_list {
    list-style: disc;
}


.pagination-select {
    font-size: 15px;
    text-transform: capitalize;
    margin: 28px 0 auto auto;
}

.pagination-select .title {
    display: inline-block;
    font-weight: 500;
    padding: 0 10px;
}

.pagination-select .btn a {
    display: block;
}

.pagination-select .btn.selected {
    background-color: rgba(0,0,0,.05);
    box-shadow: inset 0px 0px 5px rgba(0,0,0,.1);
}

.icon {
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.icon.not_confirmed {
    filter: grayscale(100%);
}

.icon.editicon {
    background-image: url("../images/icons/edit.svg");
}

.icon.archiveicon {
    background-image: url("../images/icons/archive.svg");
}

.icon.downloadicon {
    background-image: url("../images/icons/download.svg");
}

.icon.sendmailicon {
    background-image: url("../images/icons/sendmail.svg");
}

.icon.viewicon {
    background-image: url("../images/icons/view.svg");
}

.icon.deleteicon {
    background-image: url("../images/icons/delete.svg");
}

.main .pagination {
    text-align: center;
    margin-top: 1em;
    display: block;
}

.main .pagination a.pagination-number:hover {
    color: #fff;
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #6D85C7;
}

.pagination-number:hover, .pagination-current {
    background-color: #3354AA;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.1rem;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover, .pagination-previous, .pagination-next {
    color: #3354AA;
}

.header-profile {
    margin-top: -9px;
}

.header-profile .dropdown-toggle:after {
    margin-right: 5px;
}

.profile_img {
    border-radius: 500px;
    overflow: hidden;
    width: 45px;
    height: 45px;
    margin: 0px auto;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-position: center center;
    background-image: url('../images/icons/profile.svg');
}

.table.thinpadding td, .table.thinpadding th {
    padding: .6rem;
}