@font-face {
    font-family: webCambria;
    font-weight: normal;
    src: url('../fonts/cambriab.ttf');
}

h1, h2 {
    text-transform: uppercase;
}

html, body {
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

i {
    margin: 0 5px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
input[type="number"] {
-moz-appearance: textfield;
}

.readonly {
    pointer-events: none;
    background: #333333;
}

select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow, select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}

input[type=text][readonly] {
    pointer-events: none;
}


.main {
    background: rgba(255, 255, 255, .8);
    border-radius: 5px;
    padding: 15px 10px 20px 10px;
    transition: all 0.3s;
}

.main:hover {
    background: rgba(255, 255, 255, 1);
}

.btn {
    text-transform: uppercase;
}

.btn.big {
    padding: 15px 25px;
    box-shadow: 0px 5px 0px #006e9c;
}

.btn-primary {
    background-color: #009ada;
    box-shadow: 0px 3px 0px #006e9c;
    transition: all 0.15s;
    font-weight: 500;
}

.btn-success {
    box-shadow: 0px 3px 0px #14842d;
    transition: all 0.15s;
    font-weight: 700;
}

.btn-info {
    box-shadow: 0px 3px 0px #0b7788;
    transition: all 0.15s;
    font-weight: 700;
}

.btn-danger {
    box-shadow: 0px 3px 0px #b82634;
    transition: all 0.15s;
    font-weight: 700;
}


.btn-primary:hover {
    background-color: #0a89be;
}

.btn-primary:focus {
    background-color: #0a89be !important;
    box-shadow: 0px 3px 0px #006e9c !important;
    outline: none !important;
}

.btn-primary.big:focus {
    box-shadow: 0px 5px 0px #006e9c !important;
}

.btn-primary:active {
    transform: translateY(5px);
    background-color: #006e9c !important;
    box-shadow: 0px 0px 0px #006e9c !important;
    outline: none !important;
}

.btn-success:focus {
    background-color: #1e983a !important;
    box-shadow: 0px 3px 0px #14842d !important;
    outline: none !important;
}

.btn-success.big:focus {
    box-shadow: 0px 5px 0px #14842d !important;
}

.btn-success:active {
    transform: translateY(5px);
    background-color: #14842d !important;
    box-shadow: 0px 0px 0px #14842d !important;
    outline: none !important;
}

.btn-danger:focus {
    background-color: #c42938 !important;
    box-shadow: 0px 3px 0px #b82634 !important;
    outline: none !important;
}

.btn-danger.big:focus {
    box-shadow: 0px 5px 0px #b82634 !important;
}

.btn-danger:active {
    transform: translateY(5px);
    background-color: #b82634 !important;
    box-shadow: 0px 0px 0px #b82634 !important;
    outline: none !important;
}

.btn-info:focus {
    background-color: #10889b !important;
    box-shadow: 0px 3px 0px #0b7788 !important;
    outline: none !important;
}

.btn-info.big:focus {
    box-shadow: 0px 5px 0px #0b7788 !important;
}

.btn-info:active {
    transform: translateY(5px);
    background-color: #0b7788 !important;
    box-shadow: 0px 0px 0px #0b7788 !important;
    outline: none !important;
}

.btn-default {
    border: 1px solid rgba(0, 0, 0, .1);
}

.btn-default:hover {
    background-color: rgba(0, 0, 0, .1);
}

.header {
    height: 90px;
    display: flex;
    width: 100%;
    align-items: stretch;
    background: rgba(255, 255, 255, 1);
    padding: 1.25rem 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    transition: all 0.3s;
}

.header:hover {
    background: rgba(255, 255, 255, 1);
}

.header a {
    color: #000;
    transition: all 0.3s;
}

.header a:hover {
    text-decoration: none;
    opacity: 0.6;
}

.header .nav {
    text-transform: uppercase;
    text-align: right;
    flex-grow: 8;
    font-size: 1rem;
    justify-content: flex-end;
}

.header .nav ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: flex-end;
}

.header .nav ul li a {
    padding: 10px 25px;
}

.header ul li a {
    display: block;
}

#topnav {

}

#topnav.hide {
    display: none;
}

#topnav .icon {
    display: none;
}

#topnav .dropdown .dropdown-toggle {
    padding: 4px 2px 8px 2px;
    text-decoration: underline;
    transition: all 0.15s;
}

#topnav .dropdown .dropdown-menu {
    font-size: 14px;
}

#topnav .dropdown .dropdown-toggle:hover, #topnav .dropdown .dropdown-toggle:focus {
    opacity: 0.6;
}

#topnav ul {
    margin-bottom: 0;
}

#topnav ul li {
    position: relative;
}

#topnav ul li ul {
    position: absolute;
    right: 0;
    display: none;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top: none;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

#topnav ul li ul li {
    font-size: 0.9rem;
}

#topnav ul li:hover > ul {
    display: block;
}

#topnav ul ul ul {
    right: 100px;
    top: 0px;
    z-index: 1;
}

.logosection {
    height: 50px;
    width: 220px;
    font-size: 1rem;
    text-align: left;
    display: flex;
    position: relative;
}

.logosection .sitelogo {
    height: auto;
    width: 3rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logosection .sitelogotext {
    font-weight: 700;
    font-size: 0.8rem;
    overflow: hidden;
    display: inline-block;
    width: 200px;
    line-height: 1.1rem;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 75px;
}

.logosection .sitelogotext .textholder {
    width: 300px;
}

.headspace {
    width: 100%;
    height: 96px;
}

.main {
    margin: 15px auto;
}

.form-group {
    margin: 25px auto;
}

.form-control {
    display: inline-block;
    width: 230px;
}

.form-line {
    margin: 12px auto;
}

.form-line label {
    width: 180px;
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

.form-group input, .form-group textarea, .form-group select, .form-group button {
    width: 230px;
}

.form-group input[type=checkbox] {
    width: 80px;
}

.form-group input[type=submit], .form-group button {
    text-transform: uppercase;
}

.form-group .form-icon {
    display: inline-block;
    padding: 2px;
}

.required {
    color: #ff0000;
}

.proposal_header {
    width: 100%;
    padding: 10px auto;
    border-bottom: 1px solid #009ada;
}

.proposal_footer {
    width: 100%;
    padding: 10px auto;
    border-top: 1px solid #009ada;
}

.proposal_footer .onecol {
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to bottom, #009ada, rgba(0, 0, 0, 0)) 1 100%;
}

.proposal_footer .onecol:first-child {
    border-left: none;
}

.proposal_footer .onecol:last-child {
    border-right: none;
}

.proposal_footer .onecol i {
    color: #009ada;
    padding: 0px 5px;
}

.service_list {
    list-style: disc;
}


.pagination-select {
    font-size: 15px;
    text-transform: capitalize;
    margin: 28px 0 auto auto;
}

.pagination-select .title {
    display: inline-block;
    font-weight: 500;
    padding: 0 10px;
}

.pagination-select .btn a {
    display: block;
}

.pagination-select .btn.selected {
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .1);
}

.icon {
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-position: center center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.icon.not_confirmed {
    filter: grayscale(100%);
}

.icon.disableicon {
    filter: grayscale(100%);
}

.icon.editicon {
    background-image: url("../images/icons/edit.svg");
}

.icon.addicon {
    background-image: url("../images/icons/plus.svg");
}

.icon.transactionicon {
    background-image: url("../images/icons/transaction.svg");
}

.icon.historyicon {
    background-image: url("../images/icons/history.svg");
}

.icon.archiveicon {
    background-image: url("../images/icons/archive.svg");
}

.icon.refreshicon {
    background-image: url("../images/icons/refresh.svg");
}

.icon.finalicon {
    background-image: url("../images/icons/final.svg");
}

.icon.drawingicon {
    background-image: url("../images/icons/drawing.svg");
}

.icon.downloadicon {
    background-image: url("../images/icons/download.svg");
}

.icon.sendmailicon {
    background-image: url("../images/icons/sendmail.svg");
}

.icon.viewicon {
    background-image: url("../images/icons/view.svg");
}

.icon.pdficon {
    background-image: url("../images/icons/pdf.svg");
}

.icon.deleteicon {
    background-image: url("../images/icons/delete.svg");
}

.icon.completedicon {
    background-image: url("../images/icons/completed.svg");
}

.icon.notcompletedicon {
    background-image: url("../images/icons/notcompleted.svg");
}

.icon.continueicon {
    background-image: url("../images/icons/continue.svg");
}

.icon.starticon {
    background-image: url("../images/icons/start.svg");
}

.icon.noteicon {
    background-image: url("../images/icons/note.svg");
}

.icon.linkicon {
    background-image: url("../images/icons/link.svg");
}

.icon.printicon {
    background-image: url("../images/icons/fax_blue.png");
}

.icon.duplicateicon {
    background-image: url("../images/icons/duplicate.svg");
}

.icon.finalreporticon {
    background-image: url("../images/icons/iconset/report-01.svg");
}

.icon.defreporticon {
    background-image: url("../images/icons/iconset/report-02.svg");
}

.icon.prereporticon {
    background-image: url("../images/icons/iconset/report-03.svg");
}

.icon.cancelicon {
    background-image: url("../images/icons/cancel.svg");
}

.icon.checkicon {
    background-image: url("../images/icons/completed.svg");
}

.main .pagination {
    text-align: center;
    margin-top: 1em;
    display: block;
}

.main .pagination a.pagination-number:hover {
    color: #fff;
}

.pagination-number {
    padding: 0.5em 0.8em;
    border-radius: 2px;
    color: #fff;
    background-color: #6D85C7;
}

.pagination-number:hover, .pagination-current {
    background-color: #3354AA;
}

.pagination-action {
    margin: 0 0.1em;
    display: inline-block;
    padding: 0.5em 0.1rem;
    color: #B9B9B9;
    font-size: 1.3em;
}

.pagination-action:hover, .pagination-previous, .pagination-next {
    color: #3354AA;
}

.header-profile {
    margin-top: -9px;
}

.header-profile .dropdown-toggle:after {
    margin-right: 5px;
}

.profile_img {
    border-radius: 500px;
    overflow: hidden;
    width: 45px;
    height: 45px;
    margin: 0px auto;
    padding: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    background-position: center center;
    background-image: url('../images/icons/profile.svg');
}

.table.thinpadding td, .table.thinpadding th {
    padding: .6rem;
}

.g-recaptcha {
    overflow: hidden;
}

.g-recaptcha > div {
    margin: 0 auto;
}

#sectionpanel {
}

#sectionpanel .card {
    background: #e0e0e0;
    border-radius: 10px;
    margin: 12px auto;
    transition: all 0.3s;
}

#sectionpanel .card a {
    text-decoration: none;
    color: #111111;
}

#sectionpanel .card .card-body {
    height: 70px;
    padding: 1rem 0.5rem;
}

#sectionpanel .card .card-body .card-title {
    font-weight: 700;
    transition: letter-spacing 0.8s;
    margin-bottom: 0;
}

#sectionpanel .card .col-sm-12 {
    color: #fff;
    padding: 12px;
    overflow: hidden;
}

#sectionpanel .card:hover {
    background: #ece2c1;
    color: #000;
}

#sectionpanel .card:hover .card-body .card-title {
    color: #000;
    letter-spacing: 4px;
    text-decoration: underline;
}

.nobg {
    background: transparent !important;
}

.nobg:hover {
    background: transparent !important;
}

.select2-container .select2-selection--single {
    height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 36px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px;
}

.assignable-schedule {
    height: 100%;
}


.assignable-schedule.assigned:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,.8);
    z-index: 3;
}

.assignable-schedule.assigned:after {
    content: 'Assign...';
    color: #000;
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    display: inline-block;
    text-align: center;
    z-index: 4;
}

#orderList {
    overflow: auto;
}

.row-data {
    display: inline-block;
    position: relative;
}

.row-data .select-icons {
    position: absolute;
    display: inline-block;
    top: 0;
    right: -10px;
    transform: translateX(100%);
}

.calendar-page {

}

.calendar-page .left-panel {
    width: 20%;
}

.calendar-page .left-panel {
    width: 80%;
}

.calendar-page .lnb-calendars-item input[type="checkbox"].tui-full-calendar-checkbox-square {
    display: none;
}

.calendar-page .lnb-calendars-item input[type="checkbox"].tui-full-calendar-checkbox-square + span {
    display: inline-block;
    cursor: pointer;
    line-height: 14px;
    margin-right: 8px;
    width: 14px;
    height: 14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAADpJREFUKBVjPHfu3O5///65MJAAmJiY9jCcOXPmP6kApIeJBItQlI5qRAkOVM5o4KCGBwqPkcxEvhsAbzRE+Jhb9IwAAAAASUVORK5CYII=) no-repeat;
    vertical-align: middle;
}

.calendar-page .lnb-calendars-item input[type="checkbox"].tui-full-calendar-checkbox-square:checked + span {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAMBJREFUKBWVkjEOwjAMRe2WgZW7IIHEDdhghhuwcQ42rlJugAQS54Cxa5cq1QM5TUpByZfS2j9+dlJVt/tX5ZxbS4ZU9VLkQvSHKTIGRaVJYFmKrBbTCJxE2UgCdDzMZDkHrOV6b95V0US6UmgKodujEZbJg0B0ZgEModO5lrY1TMQf1TpyJGBEjD+E2NPN7ukIUDiF/BfEXgRiGEw8NgkffYGYwCi808fpn/6OvfUfsDr/Vc1IfRf8sKnFVqeiVQfDu0tf/nWH9gAAAABJRU5ErkJggg==) no-repeat;
}

.calendar-page .lnb-calendars-item input[type="checkbox"].tui-full-calendar-checkbox-round {
    display: none;
}

.calendar-page .lnb-calendars-item input[type="checkbox"].tui-full-calendar-checkbox-round + span {
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: middle;
    margin-right: 8px;
    border-radius: 8px;
    border: solid 2px;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    background: transparent;
    background-color: transparent;
}

#calendar .fc-timeGridWeek-view .fc-scrollgrid {
    position: relative;
}

#calendar .fc-timeGridWeek-view .fc-scrollgrid .move-action {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    top: 0;
    bottom: 0;
    width: 60px;
    overflow: hidden;
    background: rgba(255,255,255,1);
    z-index: 5;
    opacity: 0.5;
    transition: all 0.3s;
    cursor: pointer;
}

#calendar .fc-timeGridWeek-view .fc-scrollgrid .move-action.active {
    display: inline-flex;
}

#calendar .fc-timeGridWeek-view .fc-scrollgrid #prev-action {
    left: 50px;
}

#calendar .fc-timeGridWeek-view .fc-scrollgrid #next-action {
    right: 20px;
}

#calendar .fc-timeGridWeek-view .fc-scrollgrid  .move-action:hover {
    font-size: 1.2rem;
}

.modal .an-assigned {
    background-color: rgba(0,0,0,.1);
}

.modal .an-assigned .remove-assigned:hover {
    color: #3788d8 !important;
}

.involvement_percentage {
    position: relative;
}

.involvement_percentage:after {
    content: '%';
    opacity: 0.5;
    position: absolute;
    top: 50%;
    right: 0.5em;
    transform: translateY(-50%);
    pointer-events: none;
}

.involvement_percentage .involvement_percentage_input {
    width: 70px;
}

.fc .fc-non-business {
    background: rgba(255, 215, 215, 0.5) !important;
}

.fc-event-main {
    overflow: hidden;
}

.order-line-disabled {
    position: relative;
}

.order-line-disabled:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    background: #000;
    right: 0;
    border-radius: 10px;
}

.switch-toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: -50px;
}

.switch-toggle:before {
    content: "Hourly";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-120%, -50%);
}

.switch-toggle:after {
    content: "Percentage";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(116%, -50%);
}

.switch-toggle.auto_manual:before {
    content: "Manual";
}

.switch-toggle.auto_manual:after {
    content: "Automatic";
}

.switch-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b82634;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-toggle .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch-toggle input:checked + .slider {
  background-color: #2196F3;
}

.switch-toggle input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch-toggle input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch-toggle .slider.round {
  border-radius: 34px;
}

.switch-toggle .slider.round:before {
  border-radius: 50%;
}

.nav-line-tabs .nav-item .nav-link {
    padding: 5px;
}

.nav-line-tabs .nav-item .nav-link.active, .nav-line-tabs .nav-item.show .nav-link, .nav-line-tabs .nav-item .nav-link:hover:not(.disabled) {
    background-color: #009EF7;
    color: #fff;
}

td.ui-sortable-icon {
    cursor: pointer;
    background-image: url('../images/icons/handle.svg');
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center center;
    width: 30px;
}

.table-striped.striped-red > tbody > tr:nth-child(2n+1) > td, .table-striped.striped-red > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(255, 90, 0, 0.1) !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(0,0,0,.05) !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.card.coming-soon {
    position: relative;
}

.card.coming-soon:after {
    content: 'Coming Soon';
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    line-height: 230px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 10;
}

.fc-timeGridDay-view .fc-scrollgrid-section-liquid {
    height: 757px !important;
}

.fc-timeGridDay-view .move-action {
    display: none !important;
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        color-adjust: exact;
    }
}

.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}

.button--loading:after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 0.6s linear infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}
