.nav-line-tabs .nav-item .nav-link {
    padding: 5px;
}

.nav-line-tabs .nav-item .nav-link.active, .nav-line-tabs .nav-item.show .nav-link, .nav-line-tabs .nav-item .nav-link:hover:not(.disabled) {
    background-color: #009EF7;
    color: #fff;
}
