{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}

{% block content %}
    <div class="text-center">
        <form method="get" action="" autocomplete="off">
            <div class="row form-line">
                <div class="col-lg-12">
                    <h5>Filter By Run Date</h5>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_fromDate" class="control-label">Run Date From:</label>
                    <input type="text" name="fromDate" placeholder="mm/dd/YYYY" pattern="\d{2}[\/]\d{2}[\/]\d{4}"
                           class="form-control" required="" id="id_fromDate" value="{{ request.GET.fromDate }}"/>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_toDate" class="control-label">Run Date To:</label>
                    <input type="text" name="toDate" placeholder="mm/dd/YYYY" pattern="\d{2}[\/]\d{2}[\/]\d{4}"
                           class="form-control" required="" id="id_toDate" value="{{ request.GET.toDate }}"/>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-success">submit</button>
                    <div id="date_filter_clear" class="btn btn-primary">clear filter</div>
                </div>
            </div>
            <input type="hidden" name="paginate_by" value="{{ request.GET.paginate_by }}"/>
            <input type="hidden" name="ordering" value="{{ request.GET.ordering }}"/>
            <input type="hidden" name="search" value="{{ request.GET.search }}"/>
        </form>
        {% if request.GET.fromDate %}
            <br/>Run Date Filtered From <b>{{ request.GET.fromDate }}</b> To <b>{{ request.GET.toDate }}</b>
            <br/><br/>
        {% endif %}

        <div class="row" style="margin: 10px auto;">
            <form method="get" action="">
                <div class="form-group" style="display: inline-block; transform: translateY(2px);">
                    <label for="search"></label>
                    <input type="text" class="form-control" id="search" name="search" placeholder="Project/File..."
                           value="{{ request.GET.search }}"/>
                </div>
                <input type="hidden" name="fromDate" value="{{ request.GET.fromDate }}"/>
                <input type="hidden" name="toDate" value="{{ request.GET.toDate }}"/>
                <input type="hidden" name="paginate_by" value="{{ request.GET.paginate_by }}"/>
                <input type="hidden" name="ordering" value="{{ request.GET.ordering }}"/>

                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </form>

            <div class="pagination-select">
                <header class="title">items per page</header>
                <div class="btn-group">
                    <button id="paginate_5" type="button" class="btn btn-default">
                        <a href="?{% url_replace request 'paginate_by' '5' %}">5</a>
                    </button>
                    <button id="paginate_20" type="button" class="btn btn-default">
                        <a href="?{% url_replace request 'paginate_by' '20' %}">20</a>
                    </button>
                    <button id="paginate_50" type="button" class="btn btn-default">
                        <a href="?{% url_replace request 'paginate_by' '50' %}">50</a>
                    </button>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 10px auto; text-align: left;">
            <div class="col-sm-4" style="text-align: left;">
                Number of rows: {{ total_rows }}
            </div>
            <div class="col-sm-4" style="text-align: center; margin: -7px 0 7px 0;">
                <button class="btn btn-primary" id="printbtn">Print This Table</button>
            </div>
        </div>

        <table class="table table-striped thinpadding" id="printThis">
            <thead>
            <tr>
                <th data-sortable="id">
                    <a {% if request.GET.ordering == 'id' %}href="?{% url_replace request 'ordering' '-id' %}"
                       {% else %}href="?{% url_replace request 'ordering' 'id' %}"{% endif %}>
                        ID
                    </a>
                </th>
                <th data-sortable="project_name">
                    <a {% if request.GET.ordering == 'project_name' %}href="?{% url_replace request 'ordering' '-project_name' %}"
                       {% else %}href="?{% url_replace request 'ordering' 'project_name' %}"{% endif %}>
                        Project
                    </a>
                </th>
                <th data-sortable="file__uploaded_file">
                    <a {% if request.GET.ordering == 'file__uploaded_file' %}href="?{% url_replace request 'ordering' '-file__uploaded_file' %}"
                       {% else %}href="?{% url_replace request 'ordering' 'file__uploaded_file' %}"{% endif %}>
                        File
                    </a>
                </th>
                <th data-sortable="created_on">
                    <a {% if request.GET.ordering == 'created_on' %}href="?{% url_replace request 'ordering' '-created_on' %}"
                       {% else %}href="?{% url_replace request 'ordering' 'created_on' %}"{% endif %}>
                        Run Date
                    </a>
                </th>
                <th data-sortable="execution_time">
                    <a {% if request.GET.ordering == 'execution_time' %}href="?{% url_replace request 'ordering' '-execution_time' %}"
                       {% else %}href="?{% url_replace request 'ordering' 'execution_time' %}"{% endif %}>
                        Execution Time
                    </a>
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for run in runs %}
                <tr>
                    <td>{{ run.id }}</td>
                    <td>{{ run.project_name }}</td>
                    <td>{{ run.file_name }}</td>
                    <td>{{ run.created_on | date:'M d, Y' }}</td>
                    <td>{{ run.execution_time }}s</td>
                    <td>
                        <a href="{% url 'ibidFilesPDFAnalyzerProjectAddressDebug' run_id=run.id %}"
                           style="display: inline-block;">
                            <div class="icon viewicon" data-toggle="tooltip" data-placement="bottom"
                                 title="View Details"></div>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="pagination">
            {% if runs.has_previous %}
                <a class="pagination-action" href="?{% url_replace request 'page' '1' %}">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?{% url_replace request 'page' runs.previous_page_number %}">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
            {% endif %}

            {% for num in runs.paginator.page_range %}
                {% if runs.number == num %}
                    <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > runs.number|add:'-3' and num < runs.number|add:'3' %}
                    <a class="pagination-number" href="?{% url_replace request 'page' num %}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if runs.has_next %}
                <a class="pagination-action" href="?{% url_replace request 'page' runs.next_page_number %}">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?{% url_replace request 'page' runs.paginator.num_pages %}">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
    </div>

    <script>
        function updateURLParameter(url, param, paramVal) {
            let TheAnchor = null;
            let newAdditionalURL = "";
            let tempArray = url.split("?");
            let baseURL = tempArray[0];
            let additionalURL = tempArray[1];
            let temp = "";

            if (additionalURL) {
                const tmpAnchor = additionalURL.split("#");
                const TheParams = tmpAnchor[0];
                TheAnchor = tmpAnchor[1];
                if (TheAnchor) {
                    additionalURL = TheParams;
                }

                tempArray = additionalURL.split("&");

                for (let i = 0; i < tempArray.length; i++) {
                    if (tempArray[i].split('=')[0] != param) {
                        newAdditionalURL += temp + tempArray[i];
                        temp = "&";
                    }
                }
            } else {
                const tmpAnchor = baseURL.split("#");
                const TheParams = tmpAnchor[0];
                TheAnchor = tmpAnchor[1];

                if (TheParams) {
                    baseURL = TheParams;
                }
            }

            if (TheAnchor) {
                paramVal += "#" + TheAnchor;
            }

            const rows_txt = temp + "" + param + "=" + paramVal;
            return baseURL + "?" + newAdditionalURL + rows_txt;
        }


        $(document).ready(function () {
            $('#date_filter_clear').click(function () {
                window.history.replaceState('', '', updateURLParameter(window.location.href, "fromDate", ""));
                window.history.replaceState('', '', updateURLParameter(window.location.href, "toDate", ""));
                location.reload();
            });


            const sortables = ['id', 'project_name', 'file__uploaded_file', 'created_on', 'execution_time'];
            for (const sortable of sortables) {
                if (window.location.href.indexOf('ordering=' + sortable) > 0) {
                    $("table th[data-sortable=" + sortable + "]").append("<i class='fas fa-caret-down'></i>");
                }
                if (window.location.href.indexOf('ordering=-' + sortable) > 0) {
                    $("table th[data-sortable=" + sortable + "]").append("<i class='fas fa-caret-up'></i>");
                }
            }


            if (window.location.href.indexOf('paginate_by=') <= 0) {
                $(".pagination-select #paginate_20").addClass('selected');
                $(".pagination-select #paginate_20 a").removeAttr("href");
            }

            if (window.location.href.indexOf('paginate_by=50') > 0) {
                $(".pagination-select #paginate_50").addClass('selected');
                $(".pagination-select #paginate_50 a").removeAttr("href");
            } else if (window.location.href.indexOf('paginate_by=20') > 0) {
                $(".pagination-select #paginate_20").addClass('selected');
                $(".pagination-select #paginate_20 a").removeAttr("href");
            } else if (window.location.href.indexOf('paginate_by=5') > 0) {
                $(".pagination-select #paginate_5").addClass('selected');
                $(".pagination-select #paginate_5 a").removeAttr("href");
            } else if (window.location.href.indexOf('paginate_by=') > 0) {
                $(".pagination-select #paginate_20").addClass('selected');
                $(".pagination-select #paginate_20 a").removeAttr("href");
            }


            $('#printbtn').click(function () {
                $('#printThis').printThis({
                    importCSS: true,
                    importStyle: true,
                    header: $('.header'),
                    beforePrint: function () {
                        $('#topnav').hide();
                        $('#printThis').css('margin-top', '100px');
                        $('#printThis tr th:nth-last-child(1), #printThis tr td:nth-last-child(1)').css('display', 'none');
                    },
                    afterPrint: function () {
                        $('#topnav').show();
                        $('#printThis').css('margin-top', '0px');
                        $('#printThis tr th:nth-last-child(1), #printThis tr td:nth-last-child(1)').css('display', 'table-cell');
                    },
                });
            });
        });


        $(document).ready(function () {
            $("#id_fromDate, #id_toDate").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>
{% endblock %}
