{% load estimator_tags %}
{% load velocity_tags %}

{% for velocity_equipment in page.rows %}
    <div class="content pdf-page-content velocity">
        <table class="table pdf-table">
            <!-- Table head section -->
            <thead>
            <tr class="pdf-head-tr">
                <th scope="col" colspan="14"></th>
            </tr>
            </thead>

            <tbody>
            <!-- Table title -->
            <tr class="pdf-table-title">
                <td class="pdf-table-title-td" colspan="13">VELOCITY TRAVERSE TEST SHEET</td>
                <td class="pdf-table-title-td pdf-page-number" colspan="1">Page {{ forloop.parentloop.counter }}</td>
            </tr>

            <!-- Project specifications -->
            <tr class="pdf-table-project-tr">
                <td class="pdf-table-cell pdf-table-title-cell" colspan="2">PROJECT NO:</td>
                <td class="pdf-table-cell border" colspan="6">
                    &nbsp;{{ form.my_sheet.project.project_number }}
                </td>
                <td class="pdf-table-cell pdf-table-title-cell" colspan="2">DATE:</td>
                <td class="pdf-table-cell pdf-table-center-cell border" colspan="4">
                    &nbsp;{{ form.my_sheet.sheet_date | date }}
                </td>
            </tr>
            <tr class="pdf-table-project-tr">
                <td class="pdf-table-cell pdf-table-title-cell" colspan="2">PROJECT:</td>
                <td class="pdf-table-cell border" colspan="6">
                    &nbsp;{{ form.my_sheet.project.proposal.quote.estimate.project.name | upper }}
                </td>
                <td class="pdf-table-cell pdf-table-title-cell" colspan="2">SYSTEM:</td>
                <td class="pdf-table-cell pdf-table-center-cell border" colspan="4">
                    &nbsp;{{ page.system }}
                </td>
            </tr>
            <!-- Title rows -->
            <tr class="section-first-row pdf-table-row-thick" style="border-bottom-width: 0">
                <td colspan="3" class="pdf-table-cell pdf-table-title-cell no-border" style="font-weight: bold;">
                    Fan No.
                </td>
                <td colspan="4" class="pdf-table-cell pdf-table-center-cell no-border"
                    style="border-bottom: 1px solid black;">
                    {{ velocity_equipment|get_list:'Fan No.' }}
                </td>
                <td colspan="3" class="pdf-table-cell pdf-table-title-cell center-title no-border">

                </td>
                <td colspan="2" class="pdf-table-cell pdf-table-title-cell center-title border">
                    Initial
                </td>
                <td colspan="2" class="pdf-table-cell pdf-table-title-cell center-title border">
                    Final
                </td>
            </tr>
            <tr class="section-first-row pdf-table-row-thick" style="border-bottom-width: 0; border-top-width: 0;">
                <td colspan="3" class="pdf-table-cell pdf-table-title-cell no-border">
                    Design C.F.M.
                </td>
                <td colspan="4" class="pdf-table-cell pdf-table-center-cell no-border"
                    style="border-bottom: 1px solid black;">
                    {{ velocity_equipment|get_list:'Design C.F.M.' }}
                </td>
                <td colspan="3" class="pdf-table-cell pdf-table-title-cell no-border" style="text-align: right;">
                    Actual C.F.M.:
                </td>
                <td colspan="2" class="pdf-table-cell pdf-table-center-cell border">
                    {{ velocity_equipment|get_list:'Actual CFM. Initial' }}
                </td>
                <td colspan="2" class="pdf-table-cell pdf-table-center-cell border">
                    {{ velocity_equipment|get_list:'Actual CFM. Final' }}
                </td>
            </tr>
            <tr class="section-first-row pdf-table-row-thick" style="border-bottom-width: 0; border-top-width: 0;">
                <td colspan="3" class="pdf-table-cell pdf-table-title-cell no-border">
                    Duct Size
                </td>
                <td colspan="4" class="pdf-table-cell pdf-table-center-cell no-border"
                    style="border-bottom: 1px solid black;">
                    {{ velocity_equipment|get_list:'Duct Size' }}
                </td>
                <td colspan="3" class="pdf-table-cell pdf-table-title-cell no-border" style="text-align: right;">
                    Duct Static:
                </td>
                <td colspan="2" class="pdf-table-cell pdf-table-center-cell border">
                    {{ velocity_equipment|get_list:'Duct Static Initial' }}
                </td>
                <td colspan="2" class="pdf-table-cell pdf-table-center-cell border">
                    {{ velocity_equipment|get_list:'Duct Static Final' }}
                </td>
            </tr>

            <tr class="section-first-row pdf-table-row-thick" style="border-bottom-width: 0; border-top-width: 0;">
                <td colspan="3" class="pdf-table-cell pdf-table-title-cell no-border">
                    Duct Area
                </td>
                <td colspan="4" class="pdf-table-cell pdf-table-center-cell no-border"
                    style="border-bottom: 1px solid black;">
                    {{ velocity_equipment|get_list:'Duct Area' }} Sq. Ft.
                </td>
                <td colspan="3" class="pdf-table-cell pdf-table-title-cell no-border" style="text-align: right;">
                    Actual Vel:
                </td>
                <td colspan="2" class="pdf-table-cell pdf-table-center-cell border">
                    {{ velocity_equipment|get_list:'Actual Vel Initial' }}
                </td>
                <td colspan="2" class="pdf-table-cell pdf-table-center-cell border">
                    {{ velocity_equipment|get_list:'Actual Vel Final' }}
                </td>
            </tr>

            <tr class="section-first-row pdf-table-row-thick" style="border-bottom-width: 0; border-top-width: 0;">
                <td colspan="3" class="pdf-table-cell pdf-table-title-cell no-border">
                    Req. Vel
                </td>
                <td colspan="4" class="pdf-table-cell pdf-table-center-cell center-title no-border"
                    style="border-bottom: 1px solid black;">
                    {{ velocity_equipment|get_list:'Req. Vel' }} FPM
                </td>
            </tr>

            <tr class="section-first-row pdf-table-row-thick" style="border-top-width: 0;">
                <td colspan="3" class="pdf-table-cell pdf-table-title-cell no-border">
                    Traverse Location
                </td>
                <td colspan="4" class="pdf-table-cell pdf-table-center-cell center-title no-border"
                    style="border-bottom: 1px solid black;">
                    {{ velocity_equipment|get_list:'Traverse Location' }}
                </td>
            </tr>

            </tbody>
        </table>
        <table class="table pdf-table" style="margin-top: 8px;">
            <tbody>
                {% for i in page.max_row %}
                    <tr class="pdf-table-row-thick section-middle-row" style="border-bottom-width: 0; {% if i == 0 %}border-top-width: 2px;{% else %}border-top-width: 1px;{% endif %}">
                        {% for j in page.max_col %}
                            <td colspan="5" class="pdf-table-cell pdf-table-center-cell border" style="height: 35px;">{% get_velocity_cell_value velocity_equipment|get_list:'equipment_id' i j %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr class="pdf-table-row no-border" style="border-top: 2px solid black;">
                    <td class="pdf-table-cell note-title no-border" colspan="4">
                        Notes:
                    </td>
                    <td class="pdf-table-cell no-border" colspan="65" style="text-align: left;">
                        {{ velocity_equipment|get_list:'Note' }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endfor %}