{% extends 'base.html' %}
{% load static %}
{% load sheet_tags %}

{% block content %}
    <h2>Enter {{ this_sheet_equipment.equipment_type.name }} Actual Values for
        {{ this_sheet_equipment.sheet.project.project_number }}
        {{ this_sheet_equipment.sheet.project.proposal.quote.estimate.project.name }} - {{ sheet_code }}</h2>
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <form method='POST' action='' onsubmit="onFormSubmit()" enctype="multipart/form-data" id="equipmentValues-form">
        <div class="form-group">
            {% csrf_token %}
        </div>
        <div class="row form-line" style="font-weight: bold;">
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Actual Value
            </div>
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Actual Value
            </div>
        </div>
        <div class="row form-line">
            {% for actual_field in actual_fields %}
                {% if actual_field.field_name|lower != 'note' %}
                    {% with 'actual_value_'|concatenate:actual_field.id as filed_name %}
                        <div class="col-lg-3">
                            <label style="width: 100%;" for="{{ filed_name }}" class="control-label">
                                {{ actual_field.field_name }}
                                {% if actual_field.required_in_actual %}
                                    <span class="required">*</span>
                                {% endif %}
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label for="{{ filed_name }}" class="control-label" style="width: 100%;">
                                <input style="width: 100%;" {% get_field_type actual_field %}
                                       {% if actual_field.required_in_actual %}required=""{% endif %}
                                       name="{{ filed_name }}" class="form-control" id="{{ filed_name }}"
                                       value="{% get_actual_value request actual_field this_sheet_equipment %}"/>
                            </label>
                        </div>
                    {% endwith %}
                {% else %}
                    {% with 'actual_value_'|concatenate:actual_field.id as filed_name %}
                        <div class="col-lg-3">
                            <label style="width: 100%;" for="{{ filed_name }}" class="control-label">
                                {{ actual_field.field_name }}
                                {% if actual_field.required_in_actual %}
                                    <span class="required">*</span>
                                {% endif %}
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label for="{{ filed_name }}" class="control-label" style="width: 100%;">
                                <textarea style="width: 100%;" {% get_field_type actual_field %}
                                       {% if actual_field.required_in_actual %}required=""{% endif %}
                                       name="{{ filed_name }}" class="form-control" id="{{ filed_name }}">{% get_actual_value request actual_field this_sheet_equipment %}</textarea>
                            </label>
                        </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12" style="padding-right: 36px;">
                <input type="submit" class="btn btn-primary" value="Save" name="next"/>
                <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate/>
            </div>
        </div>
    </form>
    <script>
        $('#id_proposal').on('change', function () {
            if ($(this).val() === '') {
                $("#customer").text('');
                $("#engineer").text('');
                $("#tab_amount").text('');
                $("#pre_amount").text('');
                $("#total_amount").text('');
                $("#dlink_href").attr("href", '').hide();
            } else {
                $("#customer").text($(this).find(':selected').data('customer'));
                $("#engineer").text($(this).find(':selected').data('engineer'));
                $("#tab_amount").text($(this).find(':selected').data('tabamount'));
                $("#pre_amount").text($(this).find(':selected').data('preamount'));
                $("#total_amount").text($(this).find(':selected').data('totalamount'));
                $("#dlink_href").attr("href", $(this).find(':selected').data('dlink')).show();
            }
        });
    </script>
    <script>
        $(function () {
            $("#id_date_po_received, #id_estimated_date_of_project").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>
    <script>
        /*
        * Set the parentheses for the fields that need parentheses.
        * */

        const showParenthesesFields = {{ show_parentheses_fields | safe }};
        for (const field of showParenthesesFields) {
            const input = $('[name=' + field.id + ']');
            const defaultValue = field.defaultValue.trim();
            const onInputChange = () => {
                const value = input.val().trim();
                let rawValue = '';
                for (const ch of value) {
                    if (ch !== '(' && ch !== ')') {
                        rawValue += ch;
                    }
                }
                if (!rawValue || rawValue.toLowerCase() === defaultValue.toLowerCase()) {
                    input.val(defaultValue);
                } else {
                    input.val('(' + rawValue + ')');
                }
            };
            onInputChange();
            input.on('change', onInputChange);
        }
    </script>
    <script>
        /*
        * Evaluate assignment operations.
        * */
        const assignmentOperations = {{ assignment_operations | safe }};

        function find_closest_design_value(actual_value, design_value) {
            if (actual_value && actual_value.trim()) {
                actual_value = parseFloat(actual_value.trim());
                return design_value.reduce((a, b) => Math.abs(b - actual_value) < Math.abs(a - actual_value) ? b : a);
            } else {
                return design_value[0];
            }
        }

        for (const assignment of assignmentOperations) {
            const readonlyField = eval(assignment.substring(0, assignment.indexOf('.val(')));
            readonlyField.attr('readonly', '');
        }

        const evalAssignmentOperations = () => {
            for (let assignment of assignmentOperations) {
                assignment = assignment.replace(/{[\d,]+\d}/gi, (match) => {
                    const nums = match.substring(1, match.length - 1).split(',');
                    const actual_value = $('[name="actual_value_' + nums[0] + '"]').val();
                    nums.shift();
                    return find_closest_design_value(actual_value, nums.map((v) => parseFloat(v)));
                });
                eval(assignment);
            }
        };

        evalAssignmentOperations();
        $('form').on('change', evalAssignmentOperations);
    </script>

{% endblock %}
