{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load order_tags %}
{% load humanize %}

{% block content %}
    <div class="text-center">
        <h2>DEFINED AIR TERMINAL EQUIPMENT LIST
            FOR {{ my_sheet.project.project_number }} {{ my_sheet.project.proposal.quote.estimate.project.name }}</h2>
        <br>
        <form method="post">
        {% csrf_token %}
            <a id="tech_pdf_generate_btn" href="{% url 'TerminalGenerateTechPDF' sheet_id %}" target="_blank" download="">
                <button type="button" class="btn btn-primary position-relative"><span class="button__text">Generate Tech PDF</span></button>
            </a>
            <a id="report_pdf_generate_btn" href="{% url 'TerminalGenerateReportPDF' sheet_id %}" target="_blank" download="">
                <button type="button" class="btn btn-primary position-relative"><span class="button__text">Generate Report PDF</span></button>
            </a>
        </form>
        <br>

        <br>
        <div class="row" style="margin: 10px auto; position: relative;">
            <form action="?{% url_replace request 'project_name' '' %}">
                <div class="form-group" style="display: inline-block; transform: translateY(2px);">
                    <label for="project_name"></label>
                    <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Name..." value="{{ request.GET.project_name }}" />
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </form>

        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th># of Supply Air Terminal</th>
                    <th># of Return Air Terminal</th>
                    <th># of Outside Air Terminal</th>
                    <th># of Other</th>
                    <th>Change Air Terminal Quantity</th>
                    <th>Design Data</th>
                    <th>Actual Data</th>
{#                    <th>Actions</th>#}
                </tr>
            </thead>
            <tbody>
                {% for sheet_equipment in air_moving_sheet_equipments %}
                    <tr>
                        <td>
                            {% for my_name in sheet_equipment.sheetequipmentcommondata_set.all %}
                                {% if my_name.key.column_title.lower == 'fan no.' %}
                                    {{ my_name.value }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ sheet_equipment.number_of_supply_air_terminal }}</td>
                        <td>{{ sheet_equipment.number_of_return_air_terminal }}</td>
                        <td>{{ sheet_equipment.number_of_outside_air_terminal }}</td>
                        <td>-</td>
                        <td><a href="{% url 'sheetEquipmentCommonDataEdit' sheet_equipment.id %}?next={{ request.path }}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_main_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Change Air Terminal Quantity"></div></a></td>
                        <td>{% if sheet_equipment.terminal_design_data_entry_completed == 0 %}<a href="{% url 'terminalSheetEquipmentDesignData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_main_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon continueicon" data-toggle="tooltip" data-placement="bottom" title="Check Design Values"></div></a></td>{% else %}<div style="display: inline-block; margin-left: 5px;" class="icon completedicon" data-toggle="tooltip" data-placement="bottom" title="Completed"></div><a href="{% url 'terminalSheetEquipmentDesignData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Design Values"></div></a>{% endif %}
                        <td>{% if sheet_equipment.terminal_actual_data_entry_completed == 0 %}<a href="{% url 'terminalSheetEquipmentActualData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_design_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon starticon" data-toggle="tooltip" data-placement="bottom" title="Enter Actual Data"></div></a>{% else %}<div style="display: inline-block; margin-left: 5px;" class="icon completedicon" data-toggle="tooltip" data-placement="bottom" title="Completed"></div><a href="{% url 'terminalSheetEquipmentActualData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Actual Data"></div></a>{% endif %}</td>
                    </tr>
                {% endfor %}
                {% for sheet_equipment in vav_sheet_equipments %}
                    <tr>
                        <td>
                            {% for my_name in sheet_equipment.testsheetgeneraldata_set.all %}
                                {% if my_name.key.column_title.lower == 'code' %}
                                    {{ my_name.value }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ sheet_equipment.number_of_supply_air_terminal }}</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td><a href="{% url 'vavSheetEquipmentGeneralData' sheet_equipment.id %}?next={{ request.path }}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_main_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Change Air Terminal Quantity"></div></a></td>
                        <td>{% if sheet_equipment.terminal_design_data_entry_completed == 0 %}<a href="{% url 'terminalSheetEquipmentDesignData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_main_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon continueicon" data-toggle="tooltip" data-placement="bottom" title="Check Design Values"></div></a></td>{% else %}<div style="display: inline-block; margin-left: 5px;" class="icon completedicon" data-toggle="tooltip" data-placement="bottom" title="Completed"></div><a href="{% url 'terminalSheetEquipmentDesignData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Design Values"></div></a>{% endif %}
                        <td>{% if sheet_equipment.terminal_actual_data_entry_completed == 0 %}<a href="{% url 'terminalSheetEquipmentActualData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_design_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon starticon" data-toggle="tooltip" data-placement="bottom" title="Enter Actual Data"></div></a>{% else %}<div style="display: inline-block; margin-left: 5px;" class="icon completedicon" data-toggle="tooltip" data-placement="bottom" title="Completed"></div><a href="{% url 'terminalSheetEquipmentActualData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Actual Data"></div></a>{% endif %}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>
                        Rogue Air Terminals
                    </td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>{{ rogue_air_terminal_equipments }}</td>
                    <td><a href="{% url 'terminalSheetOthers' sheet_id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Change Rogue Air Terminals"></div></a></td>
                    <td>{% if my_sheet.rogue_design_data_entry_completed == 0 %}<a href="{% url 'rogueDesignData' sheet_id %}" style="display: inline-block; margin-left: 5px;"><div class="icon continueicon" data-toggle="tooltip" data-placement="bottom" title="Check Design Values"></div></a></td>{% else %}<div style="display: inline-block; margin-left: 5px;" class="icon completedicon" data-toggle="tooltip" data-placement="bottom" title="Completed"></div><a href="{% url 'rogueDesignData' sheet_id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Design Values"></div></a>{% endif %}
                    <td>{% if my_sheet.rogue_actual_data_entry_completed == 0 %}<a href="{% url 'rogueActualData' sheet_id %}" style="display: inline-block; margin-left: 5px; {% if my_sheet.rogue_design_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon starticon" data-toggle="tooltip" data-placement="bottom" title="Enter Actual Data"></div></a>{% else %}<div style="display: inline-block; margin-left: 5px;" class="icon completedicon" data-toggle="tooltip" data-placement="bottom" title="Completed"></div><a href="{% url 'rogueActualData' sheet_id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Actual Data"></div></a>{% endif %}</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
          {% if orders.has_previous %}
            <a class="pagination-action" href="?{% url_replace request 'page' '1' %}">
             <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% url_replace request 'page' orders.previous_page_number %}">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          {% endif %}

          {% for num in orders.paginator.page_range %}

            {% if orders.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
            {% elif num > orders.number|add:'-3' and num < orders.number|add:'3' %}
            <a class="pagination-number" href="?{% url_replace request 'page' num %}">{{ num }}</a>
            {% endif %}

          {% endfor %}

          {% if orders.has_next %}
            <a class="pagination-action" href="?{% url_replace request 'page' orders.next_page_number %}">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% url_replace request 'page' orders.paginator.num_pages %}">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          {% endif %}
        </div>
    </div>
<script>
    $(document).ready(function() {

        const TECH_GENERATE_URL = $('#tech_pdf_generate_btn').attr('href')
        const REPORT_GENERATE_URL = $('#report_pdf_generate_btn').attr('href')

        $('#tech_pdf_generate_btn').click(function(e){

            if ( $(this).attr('href') === TECH_GENERATE_URL ) {
                e.preventDefault()
                $(this).find('button').addClass('button--loading').prop('disabled', true);
                const current_url = $(this).attr('href')
                $.ajax({
                    url: current_url,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        $('#tech_pdf_generate_btn').attr('href', data.pdf_path)
                        $('#tech_pdf_generate_btn').find('button').text('DOWNLOAD TECH PDF')
                        $('#tech_pdf_generate_btn').find('button').removeClass('button--loading').prop('disabled', false);
                    }
                });
            }
        });

        $('#report_pdf_generate_btn').click(function(e){

            if ( $(this).attr('href') === REPORT_GENERATE_URL ) {
                e.preventDefault()
                $(this).find('button').addClass('button--loading').prop('disabled', true);
                const current_url = $(this).attr('href')
                $.ajax({
                    url: current_url,
                    dataType: 'json',
                    success: function (data) {
                        console.log(data)
                        $('#report_pdf_generate_btn').attr('href', data.pdf_path)
                        $('#report_pdf_generate_btn').find('button').text('DOWNLOAD REPORT PDF')
                        $('#report_pdf_generate_btn').find('button').removeClass('button--loading').prop('disabled', false);
                    }
                });
            }
        });







        var sortables = ['proposal__quote__estimate__id', 'proposal__quote__estimate__customer', 'proposal__quote__estimate__project', 'proposal__quote__estimate__engineer', 'proposal__quote__estimate__due_date'];
        for (const myConst of sortables) {
            if (window.location.href.indexOf('ordering=' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-down'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test1);
            }
            if (window.location.href.indexOf('ordering=-' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-up'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test2);
            }
        }
        if (window.location.href.indexOf('paginate_by=') <= 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
        if (window.location.href.indexOf('paginate_by=50') > 0) {
            $(".pagination-select #paginate_50").addClass('selected');
            $(".pagination-select #paginate_50 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=20') > 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=5') > 0) {
            $(".pagination-select #paginate_5").addClass('selected');
            $(".pagination-select #paginate_5 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=') > 0) {
            $(".pagination-select #paginate_all").addClass('selected');
            $(".pagination-select #paginate_all a").removeAttr("href");
        }
    });
</script>
{% endblock %}
