{% extends 'base.html' %}
{% load static %}
{% load sheet_tags %}

{% block content %}
    <h2>Confirm Air Terminal Design Values for
        {{ this_sheet_equipment.sheet.project.project_number }}
        {{ this_sheet_equipment.sheet.project.proposal.quote.estimate.project.name }} - {{ sheet_code }}</h2>
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <form method='POST' action='' enctype="multipart/form-data" id="equipmentValues-form">
        <div class="form-group">
            {% csrf_token %}
        </div>
        <div class="row form-line" style="font-weight: bold;">
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Design Value
            </div>
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Design Value
            </div>
        </div>
        {% if supply_repeat_list %}
            <h2 class="my-4">Supply Air Terminals</h2>
        {% for supply_terminal_equipment in supply_terminal_equipments %}
        <div class="row form-line">
                {% for design_field in design_fields %}
                    {% with 'supply_company_value_'|concatenate:design_field.id|concatenate:'_'|concatenate:supply_terminal_equipment.id as field_name %}
                        <div class="col-lg-3">
                            <label style="width: 100%;" for="{{ field_name }}" class="control-label">
                                {{ design_field.field_name }}
                                {% if design_field.required_in_design %}
                                    <span class="required">*</span>
                                {% endif %}
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label for="{{ field_name }}" class="control-label equal_fields_supply" data-fieldid="{{ design_field.id }}" data-loopid="{{ forloop.parentloop.counter }}" data-defaultval="{% if design_field.default_value %}{{ design_field.default_value }}{% endif %}" style="width: 100%;">
                            {% if design_field.field_name|lower != 'size' %}
                                <input style="width: 100%;" {% get_field_type design_field %}
                                       {% if design_field.required_in_design %}required=""{% endif %}
                                       name="{{ field_name }}" maxlength="50"
                                       class="form-control eq_supply{{ design_field.id }}_x {% if design_field.show_parentheses == 2 %}show_parentheses{% endif %}{% if design_field.show_parentheses == 4 %}show_parentheses{% endif %}" id="{{ field_name }}"
                                       value="{% if design_field.field_name.lower == 'outlet no.' %}{{forloop.parentloop.counter}}{% else %}{% get_terminal_design_value request design_field supply_terminal_equipment.id %}{% endif %}"
                                       {% if design_field.field_name.lower == 'outlet no.' %}readonly{% endif %} />
                            {% else %}
                                <input style="width: 46%;" {% get_field_type design_field %}
                                       {% if design_field.required_in_design %}required=""{% endif %}
                                       name="{{ field_name }}-x" maxlength="50"
                                       class="size-split form-control size_eq_supply_x size_{{ supply_terminal_equipment.id }}_x eq_supply{{ design_field.id }}_x {% if design_field.show_parentheses == 2 %}show_parentheses{% endif %}{% if design_field.show_parentheses == 4 %}show_parentheses{% endif %}" id="{{ field_name }}-x"
                                       value="" data-orgval="{% get_terminal_design_value request design_field supply_terminal_equipment.id %}" />
                                        X
                                <input style="width: 46%;" {% get_field_type design_field %}
                                        name="{{ field_name }}-y" maxlength="50"
                                       class="form-control size_eq_supply_y size_{{ supply_terminal_equipment.id }}_y eq_supply{{ design_field.id }}_y {% if design_field.show_parentheses == 2 %}show_parentheses{% endif %}{% if design_field.show_parentheses == 4 %}show_parentheses{% endif %}" id="{{ field_name }}-y"
                                       value="" />
                            {% endif %}
                            </label>
                            <div style="position: absolute; opacity: 0.5; top: 5px; right: 20px; pointer-events: none;">
                                <label style="width: 100%; text-align: right;">{{ design_field.field_postfix }}</label>
                            </div>
                        </div>


                        {% if forloop.counter == 2 %}
                        <div class="col-lg-3">
                            <label style="width: 100%;" for="supply_code_select_{{ supply_terminal_equipment.id }}" class="control-label">
                                Code <span class="required">*</span>
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label for="supply_code_select_{{ supply_terminal_equipment.id }}" class="control-label" data-loopid="{{ forloop.parentloop.counter }}" style="width: 100%;">
                                <select data-eqid="{{ supply_terminal_equipment.id }}" name="supply_code_select_{{ supply_terminal_equipment.id }}" id="supply_code_select_{{ supply_terminal_equipment.id }}" class="form-control select_eq_supply" style="width: 100%;">
                                {% get_terminal_code_value request supply_terminal_equipment.id as code_value %}
                                    <option value="" data-default="" disabled selected>-</option>
                                    {% for code in codes %}
                                        {{ code.id }}{{ code_value }}
                                    <option value="{{ code.id }}" data-default="{{ code.default }}" {% if code.id == code_value %}selected{% endif %}>{{ code.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <div style="position: absolute; opacity: 0.5; top: 5px; right: 20px; pointer-events: none;">
                                <label style="width: 100%; text-align: right;">{{ design_field.field_postfix }}</label>
                            </div>
                        </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            <br />
        </div>
        {% endfor %}
        {% endif %}
        {% if return_repeat_list %}
            <h2 class="my-4">Return Air Terminals</h2>
        {% for return_terminal_equipment in return_terminal_equipments %}
        <div class="row form-line">
                {% for design_field in design_fields %}
                    {% with 'return_company_value_'|concatenate:design_field.id|concatenate:'_'|concatenate:return_terminal_equipment.id as field_name %}
                        <div class="col-lg-3">
                            <label style="width: 100%;" for="{{ field_name }}" class="control-label">
                                {{ design_field.field_name }}
                                {% if design_field.required_in_design %}
                                    <span class="required">*</span>
                                {% endif %}
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label for="{{ field_name }}" class="control-label equal_fields_return" data-fieldid="{{ design_field.id }}" data-loopid="{{ forloop.parentloop.counter }}" data-defaultval="{% if design_field.default_value %}{{ design_field.default_value }}{% endif %}" style="width: 100%;">
                            {% if design_field.field_name|lower != 'size' %}
                                <input style="width: 100%;" {% get_field_type design_field %}
                                       {% if design_field.required_in_design %}required=""{% endif %}
                                       name="{{ field_name }}" maxlength="50"
                                       class="form-control eq_return{{ design_field.id }}_x {% if design_field.show_parentheses == 2 %}show_parentheses{% endif %}{% if design_field.show_parentheses == 4 %}show_parentheses{% endif %}" id="{{ field_name }}"
                                       value="{% if design_field.field_name.lower == 'outlet no.' %}{{forloop.parentloop.counter}}{% else %}{% get_terminal_design_value request design_field return_terminal_equipment.id %}{% endif %}"
                                       {% if design_field.field_name.lower == 'outlet no.' %}readonly{% endif %} />
                            {% else %}
                                <input style="width: 46%;" {% get_field_type design_field %}
                                       {% if design_field.required_in_design %}required=""{% endif %}
                                       name="{{ field_name }}-x" maxlength="50"
                                       class="size-split form-control size_eq_return_x size_{{ return_terminal_equipment.id }}_x eq_return{{ design_field.id }}_x {% if design_field.show_parentheses == 2 %}show_parentheses{% endif %}{% if design_field.show_parentheses == 4 %}show_parentheses{% endif %}" id="{{ field_name }}-x"
                                       value="" data-orgval="{% get_terminal_design_value request design_field return_terminal_equipment.id %}" />
                                        X
                                <input style="width: 46%;" {% get_field_type design_field %}
                                        name="{{ field_name }}-y" maxlength="50"
                                       class="form-control size_eq_return_y size_{{ return_terminal_equipment.id }}_y eq_return{{ design_field.id }}_y {% if design_field.show_parentheses == 2 %}show_parentheses{% endif %}{% if design_field.show_parentheses == 4 %}show_parentheses{% endif %}" id="{{ field_name }}-y"
                                       value="" />
                            {% endif %}
                            </label>
                            <div style="position: absolute; opacity: 0.5; top: 5px; right: 20px; pointer-events: none;">
                                <label style="width: 100%; text-align: right;">{{ design_field.field_postfix }}</label>
                            </div>
                        </div>


                        {% if forloop.counter == 2 %}
                        <div class="col-lg-3">
                            <label style="width: 100%;" for="return_code_select_{{ return_terminal_equipment.id }}" class="control-label">
                                Code <span class="required">*</span>
                            </label>
                        </div>
                        <div class="col-lg-3">
                            <label for="return_code_select_{{ return_terminal_equipment.id }}" class="control-label select_equal_fields" data-loopid="{{ forloop.parentloop.counter }}" style="width: 100%;">
                                <select data-eqid="{{ return_terminal_equipment.id }}" name="return_code_select_{{ return_terminal_equipment.id }}" id="return_code_select_{{ return_terminal_equipment.id }}" class="form-control select_eq_return" style="width: 100%;">
                                {% get_terminal_code_value request return_terminal_equipment.id as code_value %}
                                    <option value="" data-default="" disabled selected>-</option>
                                    {% for code in codes %}
                                    <option value="{{ code.id }}" data-default="{{ code.default }}" {% if code.id == code_value %}selected{% endif %}>{{ code.name }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                            <div style="position: absolute; opacity: 0.5; top: 5px; right: 20px; pointer-events: none;">
                                <label style="width: 100%; text-align: right;">{{ design_field.field_postfix }}</label>
                            </div>
                        </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            <br />
        </div>
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-12" style="padding-right: 36px;">
                <input type="submit" class="btn btn-primary" value="It's all good" name="next"/>
                <input type="submit" class="btn btn-info" value="Back" name="cancel" formnovalidate/>
            </div>
        </div>
    </form>
    <script>

        $(document).ready(function () {
            $('.size-split').each(function (index) {
                if ($(this).data('orgval') != '') {
                    const full_size = $(this).data('orgval').replace("X", "x");
                    let element_id = $(this).attr('id');
                    element_id = element_id.slice(0, -2);
                    const size_splited = full_size.split("x");
                    const size_x = size_splited[0];
                    const size_y = size_splited[1];
                    $('#' + element_id + '-x').val(size_x);
                    $('#' + element_id + '-y').val(size_y);
                }
            });
        });

        $("form input[type=submit][name=cancel]").click(function() {
            $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
            $(this).attr("clicked", "true");
        });
        $("form").submit(function() {
            const val = $("input[type=submit][clicked=true]").val();
            if (!val) {
                $('.select_eq').each(function( index ) {
                    if ( $(this).children("option:selected").val() == '' ) {
                        event.preventDefault();
                        $(this).focus();
                    }
                });
            }
        });
        $('.equal_fields_supply').each(function( index ) {
            let field_id = $(this).data('fieldid');
            let loop_id = $(this).data('loopid');
            if (loop_id == 1) {
                $(this).find('.eq_supply' + field_id + '_x').on('change', function () {
                    if ( $(this).parent().parent().is(':nth-child(2)') == false ) {
                        let first_value = $(this).val();
                        $('.eq_supply' + field_id + '_x').val(first_value);
                    }
                });
				$(this).find('.eq_supply' + field_id + '_y').on('change', function () {
                    if ( $(this).parent().parent().is(':nth-child(2)') == false ) {
                        let first_value = $(this).val();
                        $('.eq_supply' + field_id + '_y').val(first_value);
                    }
                });
            }
        });
        $('.equal_fields_return').each(function( index ) {
            let field_id = $(this).data('fieldid');
            let loop_id = $(this).data('loopid');
            if (loop_id == 1) {
                $(this).find('.eq_return' + field_id + '_x').on('change', function () {
                    if ( $(this).parent().parent().is(':nth-child(2)') == false ) {
                        let first_value = $(this).val();
                        $('.eq_return' + field_id + '_x').val(first_value);
                    }
                });
				$(this).find('.eq_return' + field_id + '_y').on('change', function () {
                    if ( $(this).parent().parent().is(':nth-child(2)') == false ) {
                        let first_value = $(this).val();
                        $('.eq_return' + field_id + '_y').val(first_value);
                    }
                });
            }
        });
        $('.select_eq_supply').on('change', function () {
            if ($(this).parent().data('loopid') == 1) {
                $('.select_eq_supply').val($(this).val());
                const selected_default = $(this).children("option:selected").data('default').replace("X", "x").split("x");
                const selected_default_x = selected_default[0];
                const selected_default_y = selected_default[1];
                $('.size_eq_supply_x').val(selected_default_x);
                $('.size_eq_supply_y').val(selected_default_y);
            }
        });

        $('.select_eq_return').on('change', function () {
            if ($(this).parent().data('loopid') == 1) {
                $('.select_eq_return').val($(this).val());
                const selected_default = $(this).children("option:selected").data('default').replace("X", "x").split("x");
                const selected_default_x = selected_default[0];
                const selected_default_y = selected_default[1];
                $('.size_eq_return_x').val(selected_default_x);
                $('.size_eq_return_y').val(selected_default_y);
            }
        });

        $('.select_eq_supply').each(function( index ) {
            const selected_default = $(this).children("option:selected").data('default').replace("X", "x").split("x");
            const selected_default_x = selected_default[0];
            const selected_default_y = selected_default[1];
            const size_input_x = '.size_' + $(this).data('eqid') + '_x';
            const size_input_y = '.size_' + $(this).data('eqid') + '_y';
            $(size_input_x).val(selected_default_x);
            $(size_input_y).val(selected_default_y);
        });

        $('.select_eq_supply').on('change', function () {
            const selected_default = $(this).children("option:selected").data('default').replace("X", "x").split("x");
            const selected_default_x = selected_default[0];
            const selected_default_y = selected_default[1];
            const size_input_x = '.size_' + $(this).data('eqid') + '_x';
            const size_input_y = '.size_' + $(this).data('eqid') + '_y';
            $(size_input_x).val(selected_default_x);
            $(size_input_y).val(selected_default_y);
        });

        $('.select_eq_return').each(function( index ) {
            const selected_default = $(this).children("option:selected").data('default').replace("X", "x").split("x");
            const selected_default_x = selected_default[0];
            const selected_default_y = selected_default[1];
            const size_input_x = '.size_' + $(this).data('eqid') + '_x';
            const size_input_y = '.size_' + $(this).data('eqid') + '_y';
            $(size_input_x).val(selected_default_x);
            $(size_input_y).val(selected_default_y);
        });

        $('.select_eq_return').on('change', function () {
            const selected_default = $(this).children("option:selected").data('default').replace("X", "x").split("x");
            const selected_default_x = selected_default[0];
            const selected_default_y = selected_default[1];
            const size_input_x = '.size_' + $(this).data('eqid') + '_x';
            const size_input_y = '.size_' + $(this).data('eqid') + '_y';
            $(size_input_x).val(selected_default_x);
            $(size_input_y).val(selected_default_y);
        });
    </script>

    <script>
        /*
        * Set the parentheses for the fields that need parentheses.
        * */

        $( ".show_parentheses" ).each(function( index ) {
            const input = $(this);
            const defaultValue = $(this).parent().data('defaultval').trim();
            const loop_id = $(this).parent().data('loopid');
            const field_id = $(this).parent().data('fieldid');
            const onInputChange = () => {
                const value = input.val().trim();
                let rawValue = '';
                for (const ch of value) {
                    if (ch !== '(' && ch !== ')') {
                        rawValue += ch;
                    }
                }
                if (!rawValue || rawValue.toLowerCase() === defaultValue.toLowerCase()) {
                    input.val(defaultValue);
                } else {
                    input.val('(' + rawValue + ')');
                    if (loop_id == 1) {
                        $('.eq' + field_id).val('(' + rawValue + ')');
                    }
                }
            };
            onInputChange();
            input.on('change', onInputChange);
        });
    </script>

{% endblock %}
