{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load order_tags %}
{% load humanize %}

{% block content %}
    <div class="text-center">
        <h2>DEFINED AIR TERMINAL EQUIPMENT LIST
            FOR {{ my_sheet.project.project_number }} {{ my_sheet.project.proposal.quote.estimate.project.name }}</h2>
        <br>
        <a href="{% url 'TerminalGenerateTechPDF' sheet_id %}" target="_blank" download="">
            <button type="button" class="btn btn-primary">Generate Tech PDF</button>
        </a>
        <a href="{% url 'TerminalGenerateReportPDF' sheet_id %}" target="_blank" download="">
            <button type="button" class="btn btn-primary">Generate Report PDF</button>
        </a>
        <br>

        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th># of Supply Air Terminal</th>
                    <th># of Return Air Terminal</th>
                    <th>Change Air Terminal Quantity</th>
                    <th>Design Data</th>
                    <th>Actual Data</th>
{#                    <th>Actions</th>#}
                </tr>
            </thead>
            <tbody>
                {% for sheet_equipment in air_moving_sheet_equipments %}
                    <tr>
                        <td>
                            {% for my_name in sheet_equipment.sheetequipmentcommondata_set.all %}
                                {% if my_name.key.column_title.lower == 'fan no.' %}
                                    {{ my_name.value }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ sheet_equipment.number_of_supply_air_terminal }}</td>
                        <td>{{ sheet_equipment.number_of_return_air_terminal }}</td>
                        <td><a href="{% url 'sheetEquipmentCommonDataEdit' sheet_equipment.id %}?next={{ request.path }}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_main_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Change Air Terminal Quantity"></div></a></td>
                        <td>{% if sheet_equipment.terminal_design_data_entry_completed == 0 %}<a href="{% url 'terminalSheetEquipmentDesignData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_main_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon continueicon" data-toggle="tooltip" data-placement="bottom" title="Check Design Values"></div></a></td>{% else %}<div style="display: inline-block; margin-left: 5px;" class="icon completedicon" data-toggle="tooltip" data-placement="bottom" title="Completed"></div><a href="{% url 'terminalSheetEquipmentDesignData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Design Values"></div></a>{% endif %}
                        <td>{% if sheet_equipment.terminal_actual_data_entry_completed == 0 %}<a href="{% url 'terminalSheetEquipmentActualData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_design_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon starticon" data-toggle="tooltip" data-placement="bottom" title="Enter Actual Data"></div></a>{% else %}<div style="display: inline-block; margin-left: 5px;" class="icon completedicon" data-toggle="tooltip" data-placement="bottom" title="Completed"></div><a href="{% url 'terminalSheetEquipmentActualData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Actual Data"></div></a>{% endif %}</td>
                    </tr>
                {% endfor %}
                {% for sheet_equipment in vav_sheet_equipments %}
                    <tr>
                        <td>
                            {% for my_name in sheet_equipment.testsheetgeneraldata_set.all %}
                                {% if my_name.key.column_title.lower == 'code' %}
                                    {{ my_name.value }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ sheet_equipment.number_of_supply_air_terminal }}</td>
                        <td>-</td>
                        <td><a href="{% url 'vavSheetEquipmentGeneralData' sheet_equipment.id %}?next={{ request.path }}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_main_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Change Air Terminal Quantity"></div></a></td>
                        <td>{% if sheet_equipment.terminal_design_data_entry_completed == 0 %}<a href="{% url 'terminalSheetEquipmentDesignData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_main_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon continueicon" data-toggle="tooltip" data-placement="bottom" title="Check Design Values"></div></a></td>{% else %}<div style="display: inline-block; margin-left: 5px;" class="icon completedicon" data-toggle="tooltip" data-placement="bottom" title="Completed"></div><a href="{% url 'terminalSheetEquipmentDesignData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Design Values"></div></a>{% endif %}
                        <td>{% if sheet_equipment.terminal_actual_data_entry_completed == 0 %}<a href="{% url 'terminalSheetEquipmentActualData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px; {% if sheet_equipment.terminal_design_data_entry_completed == 0 %}opacity: 0.5; pointer-events: none;{% endif %}"><div class="icon starticon" data-toggle="tooltip" data-placement="bottom" title="Enter Actual Data"></div></a>{% else %}<div style="display: inline-block; margin-left: 5px;" class="icon completedicon" data-toggle="tooltip" data-placement="bottom" title="Completed"></div><a href="{% url 'terminalSheetEquipmentActualData' sheet_id sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Actual Data"></div></a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
          {% if orders.has_previous %}
            <a class="pagination-action" href="?{% url_replace request 'page' '1' %}">
             <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% url_replace request 'page' orders.previous_page_number %}">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          {% endif %}

          {% for num in orders.paginator.page_range %}

            {% if orders.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
            {% elif num > orders.number|add:'-3' and num < orders.number|add:'3' %}
            <a class="pagination-number" href="?{% url_replace request 'page' num %}">{{ num }}</a>
            {% endif %}

          {% endfor %}

          {% if orders.has_next %}
            <a class="pagination-action" href="?{% url_replace request 'page' orders.next_page_number %}">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% url_replace request 'page' orders.paginator.num_pages %}">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          {% endif %}
        </div>
    </div>
<script>
    $(document).ready(function() {
        var sortables = ['proposal__quote__estimate__id', 'proposal__quote__estimate__customer', 'proposal__quote__estimate__project', 'proposal__quote__estimate__engineer', 'proposal__quote__estimate__due_date'];
        for (const myConst of sortables) {
            if (window.location.href.indexOf('ordering=' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-down'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test1);
            }
            if (window.location.href.indexOf('ordering=-' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-up'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test2);
            }
        }
        if (window.location.href.indexOf('paginate_by=') <= 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
        if (window.location.href.indexOf('paginate_by=50') > 0) {
            $(".pagination-select #paginate_50").addClass('selected');
            $(".pagination-select #paginate_50 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=20') > 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=5') > 0) {
            $(".pagination-select #paginate_5").addClass('selected');
            $(".pagination-select #paginate_5 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=') > 0) {
            $(".pagination-select #paginate_all").addClass('selected');
            $(".pagination-select #paginate_all a").removeAttr("href");
        }
    });
</script>
{% endblock %}
