{% extends 'base.html' %}
{% load static %}
{% load sheet_tags %}

{% block content %}
    <h2>Enter {{ this_sheet_equipment.equipment_type.name }} Actual Values for
        {{ this_sheet_equipment.sheet.project.project_number }}
        {{ this_sheet_equipment.sheet.project.proposal.quote.estimate.project.name }} - {{ sheet_code }}</h2>
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <form method='POST' action='' onsubmit="onFormSubmit()" enctype="multipart/form-data" id="equipmentValues-form">
        <div class="form-group">
            {% csrf_token %}
        </div>
        <div class="row form-line" style="font-weight: bold;">
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Actual Value
            </div>
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Actual Value
            </div>
        </div>
        {% if supply_repeat_list %}
            <h2 class="my-4">Supply Air Terminals</h2>
            {% for supply_terminal_equipment in supply_terminal_equipments %}
                <div class="row form-line">
                    <div class="col-lg-3">
                        <label style="width: 100%;" for="outlet_no" class="control-label">
                            Outlet No.
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label for="outlet_no" class="control-label equal_fields_supply" style="width: 100%;">
                            <input style="width: 100%;" type="text"
                                   name="outlet_no" maxlength="50" class="form-control" id="outlet_no"
                                   value="{{ supply_terminal_equipment.outlet_no }}" readonly/>
                        </label>
                    </div>
                    {% for actual_field in actual_fields %}
                        {% with 'supply_actual_value_'|concatenate:actual_field.id|concatenate:'_'|concatenate:supply_terminal_equipment.id as field_name %}
                            <div class="col-lg-3">
                                <label style="width: 100%;" for="{{ field_name }}" class="control-label">
                                    {{ actual_field.field_name }}
                                    {% if actual_field.required_in_actual %}
                                        <span class="required">*</span>
                                    {% endif %}
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <label for="{{ field_name }}" class="control-label equal_fields_supply"
                                       data-fieldid="{{ actual_field.id }}"
                                       data-loopid="{{ forloop.parentloop.counter }}" data-defaultval="
                                        {% if actual_field.default_value %}{{ actual_field.default_value }}{% endif %}"
                                       style="width: 100%;">
                                    {% if actual_field.field_name|lower != 'note' %}
                                        <input style="width: 100%;" {% get_field_type actual_field %}
                                               {% if actual_field.required_in_actual %}required=""{% endif %}
                                               name="{{ field_name }}" maxlength="50"
                                               class="form-control eq_supply{{ actual_field.id }} {% if actual_field.show_parentheses >= 3 %}show_parentheses{% endif %}"
                                               id="{{ field_name }}"
                                               value="{% if actual_field.field_name.lower == 'outlet no.' %}{{ forloop.parentloop.counter }}{% else %}{% get_terminal_actual_value request actual_field supply_terminal_equipment.id %}{% endif %}"
                                               {% if actual_field.field_name.lower == 'outlet no.' %}readonly{% endif %}/>
                                    {% else %}
                                        <textarea style="width: 100%;"
                                                  {% if actual_field.required_in_actual %}required=""{% endif %}
                                                  name="{{ field_name }}"
                                                  class="form-control"
                                                  id="{{ field_name }}">{% get_terminal_actual_value request actual_field supply_terminal_equipment.id %}</textarea>
                                    {% endif %}
                                </label>
                                <div style="position: absolute; opacity: 0.5; top: 5px; right: 20px; pointer-events: none;">
                                    <label style="width: 100%; text-align: right;">{{ actual_field.field_postfix }}</label>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    <br/>
                </div>
            {% endfor %}
        {% endif %}
        {% if return_repeat_list %}
            <h2 class="my-4">Return Air Terminals</h2>
            {% for return_terminal_equipment in return_terminal_equipments %}
                <div class="row form-line">
                    <div class="col-lg-3">
                        <label style="width: 100%;" for="outlet_no" class="control-label">
                            Outlet No.
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label for="outlet_no" class="control-label equal_fields_return" style="width: 100%;">
                            <input style="width: 100%;" type="text"
                                   name="outlet_no" maxlength="50" class="form-control" id="outlet_no"
                                   value="{{ return_terminal_equipment.outlet_no }}" readonly/>
                        </label>
                    </div>
                    {% for actual_field in actual_fields %}
                        {% with 'return_actual_value_'|concatenate:actual_field.id|concatenate:'_'|concatenate:return_terminal_equipment.id as field_name %}
                            <div class="col-lg-3">
                                <label style="width: 100%;" for="{{ field_name }}" class="control-label">
                                    {{ actual_field.field_name }}
                                    {% if actual_field.required_in_actual %}
                                        <span class="required">*</span>
                                    {% endif %}
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <label for="{{ field_name }}" class="control-label equal_fields_return"
                                       data-fieldid="{{ actual_field.id }}"
                                       data-loopid="{{ forloop.parentloop.counter }}" data-defaultval="
                                        {% if actual_field.default_value %}{{ actual_field.default_value }}{% endif %}"
                                       style="width: 100%;">
                                    {% if actual_field.field_name|lower != 'note' %}
                                        <input style="width: 100%;" {% get_field_type actual_field %}
                                               {% if actual_field.required_in_actual %}required=""{% endif %}
                                               name="{{ field_name }}" maxlength="50"
                                               class="form-control eq_return{{ actual_field.id }} {% if actual_field.show_parentheses >= 3 %}show_parentheses{% endif %}"
                                               id="{{ field_name }}"
                                               value="{% if actual_field.field_name.lower == 'outlet no.' %}{{ forloop.parentloop.counter }}{% else %}{% get_terminal_actual_value request actual_field return_terminal_equipment.id %}{% endif %}"
                                               {% if actual_field.field_name.lower == 'outlet no.' %}readonly{% endif %}/>
                                    {% else %}
                                        <textarea style="width: 100%;"
                                                  {% if actual_field.required_in_actual %}required=""{% endif %}
                                                  name="{{ field_name }}"
                                                  class="form-control"
                                                  id="{{ field_name }}">{% get_terminal_actual_value request actual_field return_terminal_equipment.id %}</textarea>
                                    {% endif %}
                                </label>
                                <div style="position: absolute; opacity: 0.5; top: 5px; right: 20px; pointer-events: none;">
                                    <label style="width: 100%; text-align: right;">{{ actual_field.field_postfix }}</label>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    <br/>
                </div>
            {% endfor %}
        {% endif %}
        {% if outside_repeat_list %}
            <h2 class="my-4">Outside Air Terminals</h2>
            {% for outside_terminal_equipment in outside_terminal_equipments %}
                <div class="row form-line">
                    <div class="col-lg-3">
                        <label style="width: 100%;" for="outlet_no" class="control-label">
                            Outlet No.
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label for="outlet_no" class="control-label equal_fields_outside" style="width: 100%;">
                            <input style="width: 100%;" type="text"
                                   name="outlet_no" maxlength="50" class="form-control" id="outlet_no"
                                   value="{{ outside_terminal_equipment.outlet_no }}" readonly />
                        </label>
                    </div>
                    {% for actual_field in actual_fields %}
                        {% with 'outside_actual_value_'|concatenate:actual_field.id|concatenate:'_'|concatenate:outside_terminal_equipment.id as field_name %}
                            <div class="col-lg-3">
                                <label style="width: 100%;" for="{{ field_name }}" class="control-label">
                                    {{ actual_field.field_name }}
                                    {% if actual_field.required_in_actual %}
                                        <span class="required">*</span>
                                    {% endif %}
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <label for="{{ field_name }}" class="control-label equal_fields_outside"
                                       data-fieldid="{{ actual_field.id }}"
                                       data-loopid="{{ forloop.parentloop.counter }}" data-defaultval="
                                        {% if actual_field.default_value %}{{ actual_field.default_value }}{% endif %}"
                                       style="width: 100%;">
                                    {% if actual_field.field_name|lower != 'note' %}
                                        <input style="width: 100%;" {% get_field_type actual_field %}
                                               {% if actual_field.required_in_actual %}required=""{% endif %}
                                               name="{{ field_name }}" maxlength="50" {% if actual_field.field_name|lower == 'final cfm' %}data-akfactor="{% get_terminal_design_value request ak_factor_field_id outside_terminal_equipment.id %}"{% endif %}
                                               class="form-control {% if actual_field.field_name|lower == 'final fpm' %}final_fpm final_fpm_{{ outside_terminal_equipment.id }}{% endif %} {% if actual_field.field_name|lower == 'final cfm' %}final_cfm final_cfm_{{ outside_terminal_equipment.id }}{% endif %} eq_outside{{ actual_field.id }} {% if actual_field.show_parentheses >= 3 %}show_parentheses{% endif %}"
                                               id="{{ field_name }}"
                                               value="{% if actual_field.field_name.lower == 'outlet no.' %}{{ forloop.parentloop.counter }}{% else %}{% get_terminal_actual_value request actual_field outside_terminal_equipment.id %}{% endif %}"
                                               {% if actual_field.field_name.lower == 'outlet no.' %}readonly{% endif %}/>
                                    {% else %}
                                        <textarea style="width: 100%;"
                                                  {% if actual_field.required_in_actual %}required=""{% endif %}
                                                  name="{{ field_name }}"
                                                  class="form-control"
                                                  id="{{ field_name }}">{% get_terminal_actual_value request actual_field outside_terminal_equipment.id %}</textarea>
                                    {% endif %}
                                </label>
                                <div style="position: absolute; opacity: 0.5; top: 5px; right: 20px; pointer-events: none;">
                                    <label style="width: 100%; text-align: right;">{{ actual_field.field_postfix }}</label>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    <br/>
                </div>
            {% endfor %}
        {% endif %}
        {% if other_repeat_list %}
            <h2 class="my-4">Others</h2>
            {% for other_equipment in other_equipments %}
                <div class="row form-line">
                    <div class="col-lg-3">
                        <label style="width: 100%;" for="outlet_no" class="control-label">
                            Outlet No.
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label for="outlet_no" class="control-label equal_fields_other" style="width: 100%;">
                            <input style="width: 100%;" type="text"
                                   name="outlet_no" maxlength="50" class="form-control" id="outlet_no"
                                   value="{{ other_equipment.outlet_no }}" readonly/>
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label style="width: 100%;" for="eq_name" class="control-label">
                            Equipment Name
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label for="eq_name" class="control-label" style="width: 100%;">
                            <input style="width: 100%;" type="text"
                                   name="eq_name" maxlength="50" class="form-control" id="eq_name"
                                   value="{{ other_equipment.equipment_name }}" readonly/>
                        </label>
                    </div>
                    {% for actual_field in actual_fields %}
                        {% with 'other_actual_value_'|concatenate:actual_field.id|concatenate:'_'|concatenate:other_equipment.id as field_name %}
                            <div class="col-lg-3">
                                <label style="width: 100%;" for="{{ field_name }}" class="control-label">
                                    {{ actual_field.field_name }}
                                    {% if actual_field.required_in_actual %}
                                        <span class="required">*</span>
                                    {% endif %}
                                </label>
                            </div>
                            <div class="col-lg-3">
                                <label for="{{ field_name }}" class="control-label equal_fields_other"
                                       data-fieldid="{{ actual_field.id }}"
                                       data-loopid="{{ forloop.parentloop.counter }}" data-defaultval="
                                        {% if actual_field.default_value %}{{ actual_field.default_value }}{% endif %}"
                                       style="width: 100%;">
                                    {% if actual_field.field_name|lower != 'note' %}
                                        <input style="width: 100%;" {% get_field_type actual_field %}
                                               {% if actual_field.required_in_actual %}required=""{% endif %}
                                               name="{{ field_name }}" maxlength="50"
                                               class="form-control eq_other{{ actual_field.id }} {% if actual_field.show_parentheses >= 3 %}show_parentheses{% endif %}"
                                               id="{{ field_name }}"
                                               value="{% if actual_field.field_name.lower == 'outlet no.' %}{{ forloop.parentloop.counter }}{% else %}{% get_terminal_actual_value request actual_field other_equipment.id %}{% endif %}"
                                               {% if actual_field.field_name.lower == 'outlet no.' %}readonly{% endif %}/>
                                    {% else %}
                                        <textarea style="width: 100%;"
                                                  {% if actual_field.required_in_actual %}required=""{% endif %}
                                                  name="{{ field_name }}"
                                                  class="form-control"
                                                  id="{{ field_name }}">{% get_terminal_actual_value request actual_field other_equipment.id %}</textarea>
                                    {% endif %}
                                </label>
                                <div style="position: absolute; opacity: 0.5; top: 5px; right: 20px; pointer-events: none;">
                                    <label style="width: 100%; text-align: right;">{{ actual_field.field_postfix }}</label>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    <br/>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-lg-12" style="padding-right: 36px;">
                <input type="submit" class="btn btn-primary" value="Save" name="next"/>
                <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate/>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function () {
            $('.final_fpm').each(function (index) {
                $(this).attr('readonly', 'readonly');
            });
            $('.final_cfm').each(function (index) {
                let new_val = $(this).val() / parseFloat($(this).data('akfactor'));
                new_val = new_val.toFixed(0)
                $(this).closest('.form-line').find('.final_fpm').val(new_val)
            });

            $('.final_cfm').on('input', function () {
                let new_val = $(this).val() / parseFloat($(this).data('akfactor'));
                new_val = new_val.toFixed(0)
                $(this).closest('.form-line').find('.final_fpm').val(new_val)
            });
        });

    </script>

    <script>
        /*
        * Set the parentheses for the fields that need parentheses.
        * */

        $(".show_parentheses").each(function (index) {
            const input = $(this);
            const defaultValue = $(this).parent().data('defaultval').trim();
            const loop_id = $(this).parent().data('loopid');
            const field_id = $(this).parent().data('fieldid');
            const onInputChange = () => {
                const value = input.val().trim();
                let rawValue = '';
                for (const ch of value) {
                    if (ch !== '(' && ch !== ')') {
                        rawValue += ch;
                    }
                }
                if (!rawValue || rawValue.toLowerCase() === defaultValue.toLowerCase()) {
                    input.val(defaultValue);
                } else {
                    input.val('(' + rawValue + ')');
                    if (loop_id == 1) {
                        $('.eq' + field_id).val('(' + rawValue + ')');
                    }
                }
            };
            onInputChange();
            input.on('change', onInputChange);
        });
    </script>


{% endblock %}
