{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}

{% block content %}
    <h2>Control System for Project Number #{{ this_order.project_number }}</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="changeOrder-form">
        <div class="form-group">
            {% csrf_token %}
            {{ form.proposal.as_hidden }}
            {{ form.po_number.as_hidden }}
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_amount" class="control-label">Select Control System</label>
                    {{ form.control_system }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <table class="table" border="1">
                        <tr>
                            <td>Manufacturer</td>
                            <td style="font-weight: bold;">{{ this_order.control_system.manufacturer }}</td>
                        </tr>
                        <tr>
                            <td>Manufacturer Contact Info</td>
                            <td style="font-weight: bold;">
                                <span style="color: dodgerblue; text-decoration: underline; cursor: pointer;" data-toggle="collapse" data-target="#contact_info">{{ this_order.control_system.manufacturer_contact_info }}</span>
                                <div id="contact_info" class="collapse">
                                    {{ this_order.control_system.manufacturer_contact_info.name }}<br />
                                    {% if this_order.control_system.manufacturer_contact_info.gender %}{{ this_order.control_system.manufacturer_contact_info.get_gender_display }}{% endif %}<br />
                                    {% if this_order.control_system.manufacturer_contact_info.mail %}{{ this_order.control_system.manufacturer_contact_info.mail }}<br />{% endif %}
                                    {% if this_order.control_system.manufacturer_contact_info.tel %}{{ this_order.control_system.manufacturer_contact_info.tel }}<br />{% endif %}
                                    {% if this_order.control_system.manufacturer_contact_info.fax %}{{ this_order.control_system.manufacturer_contact_info.fax }}<br />{% endif %}
                                    {% if this_order.control_system.manufacturer_contact_info.web %}{{ this_order.control_system.manufacturer_contact_info.web }}<br />{% endif %}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Version No.</td>
                            <td style="font-weight: bold;">{{ this_order.control_system.version_number }}</td>
                        </tr>
                        <tr>
                            <td>Operating System</td>
                            <td style="font-weight: bold;">{{ this_order.control_system.os }}</td>
                        </tr>
                        <tr>
                            <td>Release Date</td>
                            <td style="font-weight: bold;">{{ this_order.control_system.release_date }}</td>
                        </tr>
                        <tr>
                            <td>Control Executive File</td>
                            <td style="font-weight: bold;"><a href="{{ this_order.control_system.control_file_url }}" target="_blank">{{ this_order.control_system.control_file_url }}</a></td>
                        </tr>
                        <tr>
                            <td>Documentation</td>
                            <td style="font-weight: bold;"><a href="{{ this_order.control_system.documentation.file }}" target="_blank">Download Documentation</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Save" name="save" />
                    <input type="submit" class="btn btn-danger" value="Back to Order" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
    <script>
        $('#id_proposal').on('change', function() {
            $("#customer").text($(this).find(':selected').data('customer'));
            $("#engineer").text($(this).find(':selected').data('engineer'));
            $("#tab_amount").text($(this).find(':selected').data('tabamount'));
            $("#pre_amount").text($(this).find(':selected').data('preamount'));
            $("#total_amount").text($(this).find(':selected').data('totalamount'));
        });
    </script>
    <script>
        $(function () {
            $("#id_date").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>

{% endblock %}
