{% extends "base.html" %}
{% load static %}

{% block content %}
	<h1>Control System Manufacturer</h1>
	<form method = 'POST' action= '' enctype = "multipart/form-data" id="manufacturer-form">
        <div class="form-group">
            {% csrf_token %}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_manufacturer_name" class="control-label">Manufacturer <span class="required">*</span></label>
                    {{ form.manufacturer_name }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_manufacturer_name" class="control-label">Contact</label>
                    {{ form.contact_name }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_manufacturer_name" class="control-label">Telphone</label>
                    {{ form.tel }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_manufacturer_name" class="control-label">Fax</label>
                    {{ form.fax }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_manufacturer_name" class="control-label">EMail</label>
                    {{ form.mail }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_manufacturer_name" class="control-label">Website</label>
                    {{ form.web }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
		            <input type="submit" class="btn btn-success" value="Add" />
                </div>
            </div>
        </div>
	</form>


{% endblock %}