{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}

{% block content %}
    <h2>Upload {{ page_title }} for Project Number #{{ this_order.project_number }}</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="coloredDrawing-form">
        <div class="form-group">
            {% csrf_token %}
            {{ form.proposal.as_hidden }}
            {{ form.po_number.as_hidden }}
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_amount" class="control-label">Upload {{ page_title }}</label>
                    {{ form.field_draw }}
                </div>
            </div>
            {% if this_order.field_draw %}
            <div class="row form-line">
                <div class="col-lg-12">
                    {{ this_order.field_draw }}
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Save" name="save" />
                    <input type="submit" class="btn btn-danger" value="Back to Order" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>

{% endblock %}
