{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% block extra_head %}
{%  endblock %}

<style>
    textarea.form-control {
        height: 150px;  /* You can adjust the height here */
        width: 100%;    /* Full width */
        font-size: 14px;  /* Adjust text size */
    }
</style>

{% block content %}
    <h2>Assign {{ page_title }} for Project Number #{{ this_order.project_number }}</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="coloredDrawing-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="general_notes_and_comments" class="control-label">General Notes & Comments</label>
        </br>
            <div id="editor">
                {{ this_order.general_notes_and_comments }}
            </div>
            <input type="hidden" name="general_notes_and_comments" id="hidden_input">

            <input type="hidden" id="saved_content" value="{{ this_order.general_notes_and_comments|escape }}" />
            <div id="editor"></div>

        </div>
        <div class="row">
            <div class="col-lg-12" style="padding-right: 36px;">
                <input type="submit" class="btn btn-warning" value="Save" name="save" />
                <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                <input type="submit" class="btn btn-success" value="Finalize" name="finalize" />
            </div>
        </div>
	</form>
    <script>
        $('#id_proposal').on('change', function() {
            $("#customer").text($(this).find(':selected').data('customer'));
            $("#engineer").text($(this).find(':selected').data('engineer'));
            $("#tab_amount").text($(this).find(':selected').data('tabamount'));
            $("#pre_amount").text($(this).find(':selected').data('preamount'));
            $("#total_amount").text($(this).find(':selected').data('totalamount'));
        });
    </script>
    <script>
        $(function () {
            $("#id_date").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>
    <script>
        // Initialize Quill editor
        var quill = new Quill('#editor', {
        theme: 'snow'
        });
    
        // Get the saved content from the hidden input
        var savedContent = document.getElementById('saved_content').value;
    
        // Set the content of the editor using dangerouslyPasteHTML
        quill.clipboard.dangerouslyPasteHTML(savedContent);
    
        // Handle form submission
        var form = document.querySelector('form');
        form.onsubmit = function() {
        // Populate hidden form on submit
        var content = document.querySelector('input[name=general_notes_and_comments]');
        content.value = quill.root.innerHTML;
        };
    </script>

{% endblock %}
