{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}

{% block content %}
    <h2>Edit Order</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="proposalAdd-form">
        <div class="form-group">
            {% csrf_token %}
            {{ form.proposal.as_hidden }}
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_architect_name" class="control-label">Architect Name</label>
                    {{ form.architect_name }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">PO #<span class="required">*</span></label>
                    {{ form.po_number }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Date PO Received <span class="required">*</span></label>
                    {{ form.date_po_received }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Estimated Date of Project <span class="required">*</span></label>
                    {{ form.estimated_date_of_project }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Note</label>
                    {{ form.note }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Save" name="save" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
    <script>
        $('#id_proposal').on('change', function() {
            $("#customer").text($(this).find(':selected').data('customer'));
            $("#engineer").text($(this).find(':selected').data('engineer'));
            $("#tab_amount").text($(this).find(':selected').data('tabamount'));
            $("#pre_amount").text($(this).find(':selected').data('preamount'));
            $("#total_amount").text($(this).find(':selected').data('totalamount'));
        });
    </script>

{% endblock %}
