{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load order_tags %}
{% load humanize %}

{% block content %}
    <div class="text-center">
        <a href="{% url 'orderAdd' %}"><button type="button" class="btn btn-primary big">Generate Order</button></a>
        <br /><br />
        <h3>Select Order Filtered By:</h3>
        <div class="btn-group type-select" style="margin: 10px auto;">
            <a class="btn btn-primary allselected" href="?{% url_replace request 'type' 'all' %}">All</a>
            <a class="btn btn-primary inprogressselected" href="?{% url_replace request 'type' 'inprogress' %}">In Progress</a>
            <a class="btn btn-primary reportedselected" href="?{% url_replace request 'type' 'reported' %}">Reported</a>
            <a class="btn btn-primary notinvoicedselected" href="?{% url_replace request 'type' 'notinvoiced' %}">Not Invoiced</a>
            <a class="btn btn-primary invoicedselected" href="?{% url_replace request 'type' 'invoiced' %}">Invoiced</a>
        </div>
        <div class="row" style="margin: 10px auto; position: relative;">
            <form action="?{% url_replace request 'project_name' '' %}">
                <div class="form-group" style="display: inline-block; transform: translateY(2px);">
                    <label for="project_name"></label>
                    <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Project/Customer..." value="{{ request.GET.project_name }}" />
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
            </form>
            <div class="pagination" style="position: absolute; left: 50%; bottom: 50%; transform: translate(-50%, 50%);">
              {% if orders.has_previous %}
                <a class="pagination-action" href="?{% url_replace request 'page' '1' %}">
                 <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?{% url_replace request 'page' orders.previous_page_number %}">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
              {% endif %}

              {% for num in orders.paginator.page_range %}

                {% if orders.number == num %}
                <span class="pagination-number pagination-current">{{ num }}</span>
                {% elif num > orders.number|add:'-3' and num < orders.number|add:'3' %}
                <a class="pagination-number" href="?{% url_replace request 'page' num %}">{{ num }}</a>
                {% endif %}

              {% endfor %}

              {% if orders.has_next %}
                <a class="pagination-action" href="?{% url_replace request 'page' orders.next_page_number %}">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
                <a class="pagination-action" href="?{% url_replace request 'page' orders.paginator.num_pages %}">
                  <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </a>
              {% endif %}
            </div>
            <div class="pagination-select">
                <header class="title">items per page</header>
                <div class="btn-group">
                    <button id="paginate_20" type="button" class="btn btn-default"><a href="?{% url_replace request 'paginate_by' '20' %}">20</a></button>
                    <button id="paginate_50" type="button" class="btn btn-default"><a href="?{% url_replace request 'paginate_by' '50' %}">50</a></button>
                    <button id="paginate_300" type="button" class="btn btn-default"><a href="?{% url_replace request 'paginate_by' '300' %}">300</a></button>
                </div>
            </div>
        </div>
        <table class="table table-striped table-responsive">
            <thead>
                <tr>
                    <th data-sortable="proposal__quote__estimate__id"><a href="{% if request.GET.ordering == 'proposal__quote__estimate__id' %}?{% url_replace request 'ordering' '-proposal__quote__estimate__id' %}{% else %}?{% url_replace request 'ordering' 'proposal__quote__estimate__id' %}{% endif %}">Proposal ID</a></th>
                    <th data-sortable="proposal__quote__estimate__due_date"><a href="{% if request.GET.ordering == 'proposal__quote__estimate__due_date' %}?{% url_replace request 'ordering' '-proposal__quote__estimate__due_date' %}{% else %}?{% url_replace request 'ordering' 'proposal__quote__estimate__due_date' %}{% endif %}">PO Date</a></th>
                    <th data-sortable="proposal__quote__estimate__due_date"><a href="{% if request.GET.ordering == 'proposal__quote__estimate__due_date' %}?{% url_replace request 'ordering' '-proposal__quote__estimate__due_date' %}{% else %}?{% url_replace request 'ordering' 'proposal__quote__estimate__due_date' %}{% endif %}">Start Date</a></th>
                    <th data-sortable="proposal__quote__estimate__customer"><a href="{% if request.GET.ordering == 'proposal__quote__estimate__customer' %}?{% url_replace request 'ordering' '-proposal__quote__estimate__customer' %}{% else %}?{% url_replace request 'ordering' 'proposal__quote__estimate__customer' %}{% endif %}">Customer</a></th>
                    <th data-sortable="proposal__quote__estimate__project"><a href="{% if request.GET.ordering == 'proposal__quote__estimate__project' %}?{% url_replace request 'ordering' '-proposal__quote__estimate__project' %}{% else %}?{% url_replace request 'ordering' 'proposal__quote__estimate__project' %}{% endif %}">Project</a></th>
                    <th data-sortable="proposal__quote__estimate__engineer"><a href="{% if request.GET.ordering == 'proposal__quote__estimate__engineer' %}?{% url_replace request 'ordering' '-proposal__quote__estimate__engineer' %}{% else %}?{% url_replace request 'ordering' 'proposal__quote__estimate__engineer' %}{% endif %}">Engineer</a></th>
                    <th>Project Number</th>
                    <th>Manual Adj.</th>
                    <th>Remark</th>
                    <th>Total</th>
                    <th>Payment</th>
                    <th>Info</th>
                    <th>Report</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    {% if order.archive == False %}
                        <tr>
                            <td>{% estimate_number_generator order.proposal.quote.estimate.id %}</td>
                            <td>{{ order.proposal.quote.estimate.due_date }}</td>
                            <td>{{ order.estimated_date_of_project }}</td>
                            <td>{{ order.proposal.quote.estimate.customer.company.name }}</td>
                            <td>{{ order.proposal.quote.estimate.project }}</td>
                            <td>{{ order.proposal.quote.estimate.engineer.company.name }}</td>
                            <td>{{ order.project_number }}</td>
                            <td>${{ order.proposal.quote.estimate.estimatedetails.adjustment|floatformat:2|intcomma }}</td>
                            <td>{{ order.proposal.quote.estimate.estimatedetails.remark }}</td>
                            <td>${% order_total_calculator order.proposal.quote.estimate.id order as otc %}{{ otc|floatformat:2|intcomma }}</td>
                            <td>
                                {% if order.invoice %}
                                    {% past_30_days order as ptd %}
                                    {% if not ptd %}
                                        <a target="_blank" href="{% url 'invoiceHome' %}/?search={{ order.project_number }}">
                                            <button type="button" class="btn btn-secondary btn-sm rounded-circle mb-2" data-toggle="tooltip" data-placement="top" title="< 30 Days" style="height: 44px;width: 48px;">P</button>
                                        </a>
                                    {% else %}
                                        <a target="_blank" href="{% url 'invoiceHome' %}/?search={{ order.project_number }}">
                                            <button type="button" class="btn {% calculate_remaining_invoice_due order.invoice as crid %}{% calculate_total_paid order.invoice as ctp %}{% if crid == 0 %}btn-success{% elif ctp > 0 %}btn-warning{% else %}btn-danger{% endif %} btn-sm rounded-circle mb-2" data-toggle="tooltip" data-placement="top" title="{% if crid == 0 %}Fully paid{% elif ctp > 0 %}Parcially paid{% else %}Not Paid{% endif %}" style="height: 44px;width: 48px;">P</button>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                <!-- if invoiced, then turn everything to green -->
                                {% if order.invoice %}
                                    <a href="{% url 'equipmentSubmittal' order.id %}"><button type="button" class="btn btn-success btn-sm rounded-circle mb-2" data-toggle="tooltip" data-placement="top" title="Equipment Submittal" style="height: 44px;width: 48px;">SB</button></a>
                                    <a href="{% url 'controlSystem' order.id %}"><button type="button" class="btn btn-success btn-sm rounded-circle mb-2" data-toggle="tooltip" data-placement="top" title="Control System" style="height: 44px;width: 48px;">CS</button></a>
                                    <a href="{% url 'techLabel' order.id %}"><button type="button" class="btn btn-success btn-sm rounded-circle" data-toggle="tooltip" data-placement="top" title="Point of Contact" style="height: 44px;width: 48px;">POC</button></a>
                                {% else %}
                                    <a href="{% url 'equipmentSubmittal' order.id %}"><button type="button" class="btn {% if order.equipment_submittal %}btn-success{% else %}btn-danger{% endif %} btn-sm rounded-circle mb-2" data-toggle="tooltip" data-placement="top" title="Equipment Submittal" style="height: 44px;width: 48px;">SB</button></a>
                                    <a href="{% url 'controlSystem' order.id %}"><button type="button" class="btn {% if order.control_system %}btn-success{% else %}btn-danger{% endif %} btn-sm rounded-circle mb-2" data-toggle="tooltip" data-placement="top" title="Control System" style="height: 44px;width: 48px;">CS</button></a>
                                    <a href="{% url 'techLabel' order.id %}"><button type="button" class="btn {% if order.techlabel.point_of_contact_name %}{% if order.techlabel.point_of_contact_cell_phone or order.techlabel.point_of_contact_office_phone %}btn-success{% else %}btn-danger{% endif %}{% else %}btn-danger{% endif %} btn-sm rounded-circle" data-toggle="tooltip" data-placement="top" title="Point of Contact" style="height: 44px;width: 48px;">POC</button></a>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'coloredDrawing' order.id %}"><button type="button" class="btn {% if order.colored_drawing_finalize %}btn-success{% elif order.colored_drawing or order.report_colored_drawing %}btn-warning{% else %}btn-danger{% endif %} btn-sm rounded-circle mb-2" data-toggle="tooltip" data-placement="top" title="Colored Drawing" style="height: 44px;width: 48px;">CMD</button></a>
                                <a href="{% url 'generalNotes' order.id %}"><button type="button" class="btn {% if order.general_notes_and_comments_finalize %}btn-success{% elif order.general_notes_and_comments.html %}btn-warning{% else %}btn-danger{% endif %} btn-sm rounded-circle" data-toggle="tooltip" data-placement="top" title="General Notes" style="height: 44px;width: 48px;">GN</button></a>
                                <a href="{% url 'order_update_new' order.id %}"><button type="button" class="btn btn-danger btn-sm rounded-circle mt-2" data-toggle="tooltip" data-placement="top" title="Test Sheets" style="height: 44px;width: 48px;">TS</button></a>
                            </td>
                            <td>
                                <a {% if not order.invoice %}href="{% url 'invoiceAddUsingOrder' order_id=order.id %}"{% endif %} style="display: inline-block; margin-left: 5px;"><div class="icon linkicon{% if order.invoice %} disableicon{% endif %}" data-toggle="tooltip" data-placement="bottom" title="{% if order.invoice %}Invoice Already Created!{% else %}Invoice Shortcut{% endif %}"></div></a>
                                <a href="{% url 'orderEdit' order_id=order.id %}" style="display: inline-block;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit"></div></a>
                                <a href="{% url 'estimateBid' estimate_id=order.proposal.quote.estimate.id %}" style="display: inline-block;"><div class="icon viewicon" data-toggle="tooltip" data-placement="bottom" title="View Estimate"></div></a>
                                {% if order.equipment_submittal %}<a href="{{ order.equipment_submittal.url }}" style="display: inline-block; margin-left: 5px;"><div class="icon downloadicon" data-toggle="tooltip" data-placement="bottom" title="Download Equipment Submittal"></div></a>{% endif %}
                                <a href="{% url 'orderDelete' order_id=order.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon deleteicon" data-toggle="tooltip" data-placement="bottom" title="Delete"></div></a>
                                <a href="{% url 'orderArchive' order_id=order.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon archiveicon" data-toggle="tooltip" data-placement="bottom" title="Archive"></div></a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
          {% if orders.has_previous %}
            <a class="pagination-action" href="?{% url_replace request 'page' '1' %}">
             <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% url_replace request 'page' orders.previous_page_number %}">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
          {% endif %}

          {% for num in orders.paginator.page_range %}

            {% if orders.number == num %}
            <span class="pagination-number pagination-current">{{ num }}</span>
            {% elif num > orders.number|add:'-3' and num < orders.number|add:'3' %}
            <a class="pagination-number" href="?{% url_replace request 'page' num %}">{{ num }}</a>
            {% endif %}

          {% endfor %}

          {% if orders.has_next %}
            <a class="pagination-action" href="?{% url_replace request 'page' orders.next_page_number %}">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            <a class="pagination-action" href="?{% url_replace request 'page' orders.paginator.num_pages %}">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </a>
          {% endif %}
        </div>
    </div>


<script>


function updateURLParameter(url, param, paramVal)
{
    var TheAnchor = null;
    var newAdditionalURL = "";
    var tempArray = url.split("?");
    var baseURL = tempArray[0];
    var additionalURL = tempArray[1];
    var temp = "";

    if (additionalURL)
    {
        var tmpAnchor = additionalURL.split("#");
        var TheParams = tmpAnchor[0];
            TheAnchor = tmpAnchor[1];
        if(TheAnchor)
            additionalURL = TheParams;

        tempArray = additionalURL.split("&");

        for (var i=0; i<tempArray.length; i++)
        {
            if(tempArray[i].split('=')[0] != param)
            {
                newAdditionalURL += temp + tempArray[i];
                temp = "&";
            }
        }
    }
    else
    {
        var tmpAnchor = baseURL.split("#");
        var TheParams = tmpAnchor[0];
            TheAnchor  = tmpAnchor[1];

        if(TheParams)
            baseURL = TheParams;
    }

    if(TheAnchor)
        paramVal += "#" + TheAnchor;

    var rows_txt = temp + "" + param + "=" + paramVal;
    return baseURL + "?" + newAdditionalURL + rows_txt;
}

    $(document).ready(function() {
        if (window.location.href.indexOf('type=all') > 0) {
            $(".type-select a.allselected").addClass("active");
        }
        else if (window.location.href.indexOf('type=inprogress') > 0) {
            $(".type-select a.inprogressselected").addClass("active");
        }
        else if (window.location.href.indexOf('type=invoiced') > 0) {
            $(".type-select a.invoicedselected").addClass("active");
        }
        else if (window.location.href.indexOf('type=notinvoiced') > 0) {
            $(".type-select a.notinvoicedselected").addClass("active");
        }
        else if (window.location.href.indexOf('type=reported') > 0) {
            $(".type-select a.reportedselected").addClass("active");
        }
    });
</script>

<script>
    $(document).ready(function() {
        var sortables = ['proposal__quote__estimate__id', 'proposal__quote__estimate__customer', 'proposal__quote__estimate__project', 'proposal__quote__estimate__engineer', 'proposal__quote__estimate__due_date'];
        for (const myConst of sortables) {
            if (window.location.href.indexOf('ordering=' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-down'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test1);
            }
            if (window.location.href.indexOf('ordering=-' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-up'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test2);
            }
        }
        if (window.location.href.indexOf('paginate_by=') <= 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
        if (window.location.href.indexOf('paginate_by=300') > 0) {
            $(".pagination-select #paginate_300").addClass('selected');
            $(".pagination-select #paginate_300 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=50') > 0) {
            $(".pagination-select #paginate_50").addClass('selected');
            $(".pagination-select #paginate_50 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=20') > 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=') > 0) {
            $(".pagination-select #paginate_all").addClass('selected');
            $(".pagination-select #paginate_all a").removeAttr("href");
        }
    });
</script>
{% endblock %}
