{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}

{% block content %}
    <h2>Tech Label for Project Number #{{ this_order }}</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="techLabel-form">
        <div class="form-group">
            {% csrf_token %}
            {{ form.order.as_hidden }}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_detailed_drawing" class="control-label">Label Model <span class="required">*</span></label>
                    {{ form.label_model }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_detailed_drawing" class="control-label" style="width: 200px;">Detailed Drawing <span class="required">*</span></label>
                    {{ form.detailed_drawing }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_schedule_drawing" class="control-label" style="width: 200px;">Schedule Drawing <span class="required">*</span></label>
                    {{ form.schedule_drawing }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_mechanical_drawing" class="control-label" style="width: 200px;">Mechanical Drawing <span class="required">*</span></label>
                    {{ form.mechanical_drawing }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_tech_test_sheets" class="control-label" style="width: 200px;">Tech test Sheets <span class="required">*</span></label>
                    {{ form.tech_test_sheets }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_point_of_contact_name" class="control-label">POC Name</label>
                    {{ form.point_of_contact_name }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_point_of_contact_cell_phone" class="control-label">POC Cell Phone</label>
                    {{ form.point_of_contact_cell_phone }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_point_of_contact_office_phone" class="control-label">POC Office Phone</label>
                    {{ form.point_of_contact_office_phone }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_schedule_date" class="control-label">Schedule Date</label>
                    {{ form.schedule_date }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label class="control-label text-center">Extra Fields</label>
                    <input class="d-none" name="extra-fields-count" value="" />
                    <table class="table col-6 offset-3 extra-fields-table">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">Content</th>
                            </tr>
                        </thead>
                        <tbody id="extra-fields-table-tbody">
                            {% for extra_field in extra_fields %}
                                <tr>
                                    <td><input class="form-control extra-field-title" name="extra-field-title-{{ forloop.counter }}" value="{{ extra_field.title }}" /></td>
                                    <td><input class="form-control extra-field-content" name="extra-field-content-{{ forloop.counter }}" value="{{ extra_field.content }}" /></td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td><input class="form-control extra-field-title" /></td>
                                <td><input class="form-control extra-field-content" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_tech_notes" class="control-label">Tech Notes</label>
                    {{ form.tech_notes }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Save" name="save" />
                    <input type="submit" class="btn btn-primary" value="Save & Print" name="savep" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
        <script>

        function prepareExtraFields() {
            $('#extra-fields-table-tbody tr').each(function () {
                let rowIndex = $(this).index();
                rowIndex += 1;
                $(this).find('.extra-field-title').attr('name', 'extra-field-title-' + rowIndex);
                $(this).find('.extra-field-content').attr('name', 'extra-field-content-' + rowIndex);

                $('input[name=extra-fields-count]').val($('#extra-fields-table-tbody tr').length)
            });
        }

        prepareExtraFields();

        $(function () {
            $("#id_schedule_date").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });

            $("body").on('input', '#extra-fields-table-tbody input', function () {
                const this_row = $(this).closest('tr');
                if ( this_row.is(':last-child') ) {
                    if (this_row.is(':last-child') && $(this).val()) {
                        $('#extra-fields-table-tbody tr:last').clone().appendTo("#extra-fields-table-tbody");
                        $('#extra-fields-table-tbody tr:last input').removeClass('is-invalid').val('');
                    }
                }

                if (this_row.is(':last-child'))
                    return

                let allAreEmpty = true
                this_row.find('input').each(function () {
                    if ($(this).val().trim() !== '')
                        allAreEmpty = false
                });

                if (allAreEmpty) {
                    this_row.detach();
                }
                prepareExtraFields();
            });

        });
    </script>

{% endblock %}
