{% load estimator_tags %}
{% load static %}
        <style type="text/css">
            .logo { width: 120px; display: inline-block; float: left; }
            @page {
                size: letter landscape;
                @frame left_content_frame {
                    -pdf-frame-border: 1;
                    left: 20pt; top: 15pt; width: 360pt; height: 560pt; padding: 5pt 20pt;
                }
                @frame right_content_frame {
                    -pdf-frame-border: 1;
                    left: 410pt; top: 15pt; width: 360pt; height: 560pt; padding: 5pt 20pt;
                }
            }

            div.together { -pdf-keep-with-next: true; }

            {% if os != "Windows" %}
            @font-face {
                font-family: customfont;
                font-weight: normal;
                src: url({% static 'fonts/cambria.ttf' %});
            }
            @font-face {
                font-family: customfont;
                font-weight: bold;
                src: url({% static 'fonts/cambriab.ttf' %});
            }

            body {
                font-family: customfont;
            }
            {% endif %}


        </style>