        <div id="footer_content" style="border-top: 1px solid #009ada;">
            <table style="padding: 20px; font-size: 14px;">
                  <tbody>
                    <tr>
                        <td style="padding: 0px; text-align: center; width: 30px;"><img src="{{ WEB_URL }}{{ STATIC_URL }}images/icons/pin.jpg" style="width: 14px; height: 14px; display: inline-block;" /></td>
                        <td style="padding: 5px; text-align: left; padding-bottom: 0px; width: 280px;">{{ owner_address_line1 }}<br />{{ owner_address_line2 }}</td>
                        <td style="padding: 0px; text-align: center; width: 30px;"><img src="{{ WEB_URL }}{{ STATIC_URL }}images/icons/phone.jpg" style="width: 18px; height: 14px; display: inline-block;" /></td>
                        <td style="padding: 5px; text-align: left; padding-bottom: 0px; width: 180px;">{{ owner_tel }}<br />{{ owner_fax }}</td>
                        <td style="padding: 0px; text-align: center; width: 30px;"><img src="{{ WEB_URL }}{{ STATIC_URL }}images/icons/web.jpg" style="width: 18px; height: 14px; display: inline-block;" /></td>
                        <td style="padding: 5px; text-align: left; padding-bottom: 0px; width: 180px;">{{ owner_web }}<br />{{ owner_mail }}</td>
                    </tr>
                  </tbody>
            </table>
        </div>