        <div id="header_content" style="border-bottom: 1px solid #009ada;">
             <table class="proposal_header">
                <tbody>
                    <tr>
                        <td style="padding: 4px 0; width: 90%;"><img alt="owner logo" style="height: 70px; width: auto;" src="{{ WEB_URL }}{{ MEDIA_URL }}{{ pdf_header_logo }}" /></td>
                        <td style="padding: 4px 0; width: 10%; vertical-align: bottom;">{{ pdf_header_text }}</td>
                    </tr>
                </tbody>
            </table>
        </div>