{% load static %}
{% load estimator_tags %}
{% load custom_tags %}
{% load humanize %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Proposal</title>
        {% include "pdfTemplates/headStyle.html" %}
    </head>
    <body>

        {% include "pdfTemplates/pdfHeaderTemplate.html" %}

        {% include "pdfTemplates/pdfFooterTemplate.html" %}


<div id="content_frame">
    <div class="content">
        <div class="row form-line" style="text-align: center; padding: 10px 0; font-size: 14pt;">
            <div class="col-sm-6"><b>Proposal:</b> {% estimate_number_generator proposal.quote.estimate.id %}</div>
        </div>
            <div class="row form-line" style="font-size: 10pt;">
               <table>
                  <tbody>
                    <tr style="text-align: left; border: none; line-height: 18px;">
                        <td style="padding: 2px; width: 100%; font-weight: bold;">To: </td>
                        <td style="padding: 2px; width: 100%; font-weight: bold;">Project: </td>
                    </tr>
                    <tr style="text-align: left; font-size: 11pt;">
                        <td style="padding: 5px 5px 0px 5px; border: 1px solid #000; width: 100%;">{{ estimate.customer.company.name }}
                        {% if estimate.customer.company.address_line_1 %}<br />{{ estimate.customer.company.address_line_1 }}{% endif %}
                        {% if estimate.customer.company.address_line_2 %}<br />{{ estimate.customer.company.address_line_2 }}{% endif %}
                        {% if estimate.customer.company.city %}<br />{{ estimate.customer.company.city }}{% endif %}
                        {% if estimate.customer.company.state %}, {{ estimate.customer.company.state }}{% endif %}
                        {% if estimate.customer.company.zip %}, {{ estimate.customer.company.zip }}{% endif %}</td>
                        <td style="padding: 5px 5px 0px 5px; border: 1px solid #000; width: 100%;">{{ estimate.project }}
                        {% if estimate.project.address_line_1 %}<br />{{ estimate.project.address_line_1 }}{% endif %}
                        {% if estimate.project.address_line_2 %}<br />{{ estimate.project.address_line_2 }}{% endif %}
                        {% if estimate.project.city %}<br />{{ estimate.project.city }}{% endif %}
                        {% if estimate.project.state %}, {{ estimate.project.state }}{% endif %}
                        {% if estimate.project.zip %}, {{ estimate.project.zip }}{% endif %}</td>
                    </tr>
               </tbody>
            </table>
            <div style="height: 16px;"></div>
            <table style="">
               <tbody>
                    <tr style="text-align: left; border: none;">
                        <td style="padding: 5px; width: 100%; font-weight: bold;">Proposal Date: </td>
                        <td style="padding: 5px; width: 100%;">{{ proposal.created_on|date:'m/d/Y' }}</td>
                        <td style="padding: 5px; width: 100%; font-weight: bold;">Engineer: </td>
                        <td style="padding: 5px; width: 100%;">{{ proposal.quote.estimate.engineer.company.name }}</td>
                    </tr>
               </tbody>
            </table>
        </div>
        <div style="font-size: 14px; line-height: 19px;">
            <div class="row form-line" style="margin: 0px 0px 10px 0px;">
                <table style="padding: 20px;">
                  <tbody>
                    <tr style="text-align: left;">
                        <td style="padding: 5px; width: 300px;">TAB Services:<br />
                            {% for estimate_service in proposal.quote.estimate.service.all %}
                            {{ estimate_service }}{%if not forloop.last%}, {%endif%}
                            {% endfor %}
                        </td>
                        <td style="padding: 5px; width: 100px; font-weight: bold; text-align: right;">${% estimate_sub_total_calculator proposal.quote.estimate.id as estc %}{{ estc|floatformat:2|intcomma }}</td>
                    </tr>
                    {% if predemo_calculated > 0 %}
                    <tr>
                        <td style="padding: 5px;">Pre Demo Test:</td>
                        <td style="padding: 5px; font-weight: bold; text-align: right;">${{ predemo_calculated|floatformat:2|intcomma }}</td>
                    </tr>
                    {% endif %}
                    <tr style="font-size: 16px;">
                        <td style="padding: 5px;">Total Amount:</td>
                        <td style="padding: 5px; font-weight: bold; text-align: right;">${% estimate_total_calculator proposal.quote.estimate.id %}</td>
                    </tr>
                  </tbody>
                </table>
            </div>

            <div class="row form-line">
                <div class="col-sm-12">
                    <p>The above quotation includes:</p>
                    <p style="margin-top: -5px;">
                        <ul>
                            <li>All Work to be preformed in strict accordance with project specifications and mechanical drawings.</li>
                            <li>All labor and certified instruments.</li>
                            <li>Necessary insurance and compensation certificated when required.</li>
                            <li>Provide electronic copies of final certified test report.</li>
                            <li>Contractor providing sufficient time to complete the proposed work on or before contract completion date. All work preformed after this date will be subject to incurred labor rate increases.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-sm-12">
                    <p>The above quotation does not include:</p>
                    <p style="margin-top: -5px;">
                        <ul>
                            <li>Any necessary changes in pulleys and/or the belts, or the addition of necessary dampers to affect proper air balance.</li>
                            <li>Any necessary test cocks to affect proper water balance.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-sm-12">
                    <p>{{ proposal.note }}</p>
                </div>
            </div>
                <br />
            </div>
            <div style="font-size: 13px; line-height: 18px;">
                <div class="row form-line">
                    This proposal is firm for {{ proposal.validity }} days from date of issuance.
                </div>
                <div class="row form-line" style="margin: 5px 0 0 0;">
                    <table>
                        <tbody>
                            <tr style="margin: 0px auto;">
                                <td style="padding: 2px;">By:</td>
                                <td style="padding: 2px;">Accepted By:</td>
                            </tr>

                            <tr style="margin: 0px auto;">
                                <td style="padding: 2px;">{{ user_name }}, {{ user_title }}</td>
                                <td style="padding: 2px;"><b>Name, Title</b></td>
                            </tr>
                            <tr style="margin: 0px auto;">
                                <td style="padding: 2px;"><img class="img-fluid" style="height: 50px;" src="{{ WEB_URL }}{{ MEDIA_URL }}{{ user_signature }}" /><br /><b>Signature</b></td>
                                <td style="padding: 2px;"><br /><br /><br /><b>Signature</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>
    </body>
</html>