{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <h2>GENERAL INFORMATION FOR
        {{ equipment.sheet.project.project_number }}
        {{ equipment.sheet.project.proposal.quote.estimate.project.name }}</h2>
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="chiller-equipment-general-form">
        <div class="form-group">
            {% csrf_token %}
            {{ form.sheet.as_hidden }}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_unit_number" class="control-label">Unit Number</label>
                    {{ form.unit_number }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_location" class="control-label">Location</label>
                    {{ form.location }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_capacity" class="control-label">Service</label>
                    {{ form.service }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_capacity" class="control-label">Rating, B.T.U. / Hour</label>
                    {{ form.rating_btu_hour }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_serial_number" class="control-label">Serial Number</label>
                    {{ form.serial_number }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_manufacturer" class="control-label">Manufacturer</label>
                    <select name="id_manufacturer" class="form-control" id="id_manufacturer" style="max-width:206px;">
                        <option value="" selected="">---------</option>

                        {% for manufacturer in manufacturers %}
                            <option value="{{ manufacturer.id }}" {% if this_equipment.manufacturer.id == manufacturer.id %}selected="selected"{% endif %}>{{ manufacturer }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_equipment" class="control-label">Model No.</label>
                    <select name="id_equipment" class="form-control" id="id_equipment" style="max-width:206px;">
                        <option value="" selected="">---------</option>

                        {% for equipment in equipment_db %}
                            <option style="display: none;" value="{{ equipment.id }}" data-manufacturer="{{ equipment.manufacturer.id }}" {% if this_equipment.id == equipment.id %}selected="selected"{% endif %}>{{ equipment }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Save" name="save" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
    <script>
        $(function () {
            $("#id_date_po_received, #id_estimated_date_of_project").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>
        <script>
        $('#id_manufacturer').on('change', function() {
            $("#id_equipment option").each(function() { $(this).hide(); });
            $("#id_equipment option[value='']").show();
            $("#id_equipment").val('');
            if($(this).val() !== '') {
                $("#id_equipment option").each(function() {
                    if($(this).data('manufacturer') == $('#id_manufacturer').find(':selected').val()) {
                        $(this).show();
                    }
                });
            }
        });
    </script>

{% endblock %}
