{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <h2>Edit {{ this_sheet_equipment.equipment_type.name }} Actual Values for
        {{ this_sheet_equipment.sheet.project.project_number }}
        {{ this_sheet_equipment.sheet.project.proposal.quote.estimate.project.name }}</h2>
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <form method='POST' action='' enctype="multipart/form-data" id="equipmentValues-form">
        <div class="form-group">
            {% csrf_token %}
        </div>
        <div class="row form-line" style="font-weight: bold;">
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Actual Value
            </div>
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Actual Value
            </div>
        </div>
        <div class="row form-line">
            {% for other_custom_field in other_custom_fields %}
                <div class="col-lg-3">
                    <label style="width: 100%;" for="id_architect_name" class="control-label">
                        {{ other_custom_field.key.column_title }}
                        {% if other_custom_field.key.column_title in required_fields %}
                            <span class="required">*</span>
                        {% endif %}
                    </label>
                </div>
                <div class="col-lg-3">
                    <label for="id_architect_name" class="control-label" style="width: 100%;">
                        <input style="width: 100%;" type="text"
                               value="{% get_value_from_post request other_custom_field.value 'other_value_' other_custom_field.id %}"
                               name="other_value_{{ other_custom_field.id }}" class="form-control"
                               id="id_actual_value"/>
                    </label>
                </div>
            {% endfor %}
            {% for custom_field in custom_fields %}
                <div class="col-lg-3">
                    <label style="width: 100%;" for="id_architect_name" class="control-label">
                        {{ custom_field.key }}
                        {% if custom_field.key.equipment_value_name in required_fields %}
                            <span class="required">*</span>
                        {% endif %}
                    </label>
                </div>
                <div class="col-lg-3">
                    <label for="id_architect_name" class="control-label" style="width: 100%;">
                        <input style="width: 100%;" type="{% get_field_type custom_field %}" required=""
                               value="{% get_value_from_post request custom_field.value 'actual_value_' custom_field.id %}"
                               name="actual_value_{{ custom_field.id }}" class="form-control" id="id_actual_value"/>
                    </label>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12" style="padding-right: 36px;">
                <input type="submit" class="btn btn-primary" value="Edit & Save" name="next"/>
                <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate/>
            </div>
        </div>
    </form>
    <script>
        $('#id_proposal').on('change', function () {
            if ($(this).val() === '') {
                $("#customer").text('');
                $("#engineer").text('');
                $("#tab_amount").text('');
                $("#pre_amount").text('');
                $("#total_amount").text('');
                $("#dlink_href").attr("href", '').hide();
            } else {
                $("#customer").text($(this).find(':selected').data('customer'));
                $("#engineer").text($(this).find(':selected').data('engineer'));
                $("#tab_amount").text($(this).find(':selected').data('tabamount'));
                $("#pre_amount").text($(this).find(':selected').data('preamount'));
                $("#total_amount").text($(this).find(':selected').data('totalamount'));
                $("#dlink_href").attr("href", $(this).find(':selected').data('dlink')).show();
            }
        });
    </script>
    <script>
        $(function () {
            $("#id_date_po_received, #id_estimated_date_of_project").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>
    <script>
        /*
        * Set the parentheses for the fields that need parentheses.
        * */

        $(`<style>
            .like-input {
                font-family: monospace !important;
                font-size: 16px !important;
                box-sizing: content-box;
                width: calc(100% - 2px - 1.5rem);
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                padding: 0 0.75rem;
                cursor: text;
            }

            .like-input:focus, .like-input:focus-within {
                color: #495057;
                background-color: #fff;
                border-color: #80bdff;
                outline: 0;
                box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
            }

            .dynamic-input, .dynamic-input:active, .dynamic-input:hover,
            .dynamic-input:focus, .dynamic-input:focus-within, .dynamic-input:visited {
                font-family: monospace !important;
                font-size: 16px !important;
                border: none;
                outline: none;
                box-shadow: none;
                margin: 0;
                padding: 0;
                text-align: center;
            }
        </style>`).appendTo('head');

        const showParenthesesFields = {{ show_parentheses_fields | safe }};
        for (const fieldName of showParenthesesFields) {
            const input = $('[name=' + fieldName + ']');
            const parent = input.parent();
            input.remove().addClass('dynamic-input');
            const div = $('<div>(</div>').append(input).append(')').addClass('like-input').on('click', () => input.focus());
            parent.append(div);
            let divInnerWidth = div.css('width').substr(0, div.css('width').length - 2) - 17.6;
            const setInputWidth = () => {
                const width = Math.min(divInnerWidth, input.val().length * 8.8 + 9)
                input.css('width', width + 'px');
            };
            setInputWidth();
            input.on('keyup', setInputWidth);
            input.on('change', setInputWidth);
        }
    </script>
    <script>
        /*
        * Evaluate assignment operations.
        * */
        const assignmentOperations = {{ assignment_operations | safe }};
        for (const assignment of assignmentOperations) {
            eval(assignment);
            const readonlyField = eval(assignment.substring(0, assignment.indexOf('.val(')));
            readonlyField.attr('readonly', '');
        }
        $('form').on('change', () => {
            for (const assignment of assignmentOperations) {
                eval(assignment);
            }
        });
    </script>

{% endblock %}
