{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}


{% block content %}
    <h2>Sheet Equipments for Project Number {{ sheet.project.project_number }}</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="service{{ estimate_service.id }}-form">
        <div class="form-group">
            {% csrf_token %}
            <div class="alert alert-warning change-alert" style="display: none;">
                <strong>Warning!</strong> You're about to change <span id="equipment_message"></span> Quantity which you have specified before...
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_equipment_type" class="control-label">Equipment</label>
                    <select name="equipment_type" class="form-control" required="" id="id_equipment_type">
                        <option value="" selected="">---------</option>

                        {% for equipment in equipments %}
                            <option value="{{ equipment.id }}" data-selectedbefore="{% if equipment.id in equipment_in %}1{% else %}0{% endif %}">{{ equipment.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_quantity" class="control-label">Quantity</label>
                    {{ form.quantity }}
                </div>
            </div>
            {{ form.sheet.as_hidden }}
            <div class="row">
                <div class="col-lg-12">
                    <input type="submit" class="btn btn-success" value="Add/Update" />
                </div>
            </div>
        </div>
	</form>
    <br />
    <ul class="list-group">
    {% for sheet_equipment in equipments_count %}
        <li class="list-group-item">
            Equipment Name: <b>{{ sheet_equipment }} </b>
            - Quantity: <b>{{ equipments_count|get_item:sheet_equipment }} </b>
            <a href="{% url 'sheetEquipmentDelete' sheet.id sheet_equipment %}" id="estimate_equipment_delete"><img src = "{% static '/admin/img/icon-deletelink.svg' %}"></a>
        </li>
    {%  endfor %}
    </ul>
    <br />
    {% if first_equipment_id != '' %}<a href="{% url "sheetEquipmentCommonData" first_equipment_id %}"><button class="btn btn-success">Begin Sheet Data Entry</button></a>{% endif %}
    <a href="{% url "sheetHome" %}"><button class="btn btn-danger">Cancel</button></a>
    <script>
        $('#id_equipment_type').on('change', function() {
            if ($(this).find(':selected').data('selectedbefore') === 1) {
                $('#equipment_message').text($(this).find(':selected').text());
                $('.change-alert').slideDown();
            }
            else {
                $('.change-alert').slideUp();
            }

        });
    </script>
{% endblock %}
