{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <h2>{{ this_sheet_equipment.equipment_type.name }} GENERAL INFORMATION FOR
        {{ this_sheet_equipment.sheet.project.project_number }}
        {{ this_sheet_equipment.sheet.project.proposal.quote.estimate.project.name }}</h2>
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="equipmentValues-form">
        <div class="form-group">
            {% csrf_token %}
            </div>
            <div class="row form-line text-left" style="font-weight: bold;">
                <div class="col-lg-3">
                    Field Title
                </div>
                <div class="col-lg-3">
                    Field Value
                </div>
            </div>
            {% for showing_field in value_fields %}
            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="id_architect_name" class="control-label" style="text-transform: capitalize;">{{ showing_field.key.column_title }}{% if showing_field.key.required %} <span class="required">*</span>{% endif %}</label>
                </div>
                <div class="col-lg-3">
                    <input style="width: 100%;" type="text" value="{{ showing_field.value }}" name="showing_field_value_{{ showing_field.id }}"
                           maxlength="50" class="form-control" {% if showing_field.key.required %} required="" {% endif %}
                           {% if showing_field.key.required %} required="" {% endif %} id="showing_field_value_{{ showing_field.id }}">
                </div>
            </div>
            {% endfor %}

            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="id_architect_name" class="control-label" style="text-transform: capitalize;">No. of Supply Air Terminals <span class="required">*</span></label>
                </div>
                <div class="col-lg-3">
                    <input style="width: 100%;" type="text" name="number_of_supply_air_terminal" maxlength="5" class="form-control"
                            required="" id="number_of_supply_air_terminal" value="{{ sat }}" />
                </div>
            </div>

            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="id_architect_name" class="control-label" style="text-transform: capitalize;">No. of Return Air Terminals <span class="required">*</span></label>
                </div>
                <div class="col-lg-3">
                    <input style="width: 100%;" type="text" name="number_of_return_air_terminal" maxlength="5" class="form-control"
                            required="" id="number_of_return_air_terminal" value="{{ rat }}" />
                </div>
            </div>

            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="number_of_outside_air_terminal" class="control-label" style="text-transform: capitalize;">No. of Outside Air Terminals <span class="required">*</span></label>
                </div>
                <div class="col-lg-3">
                    <input style="width: 100%;" type="text" name="number_of_outside_air_terminal" maxlength="5" class="form-control"
                            required="" id="number_of_outside_air_terminal" value="{{ oat }}" />
                </div>
            </div>

            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="number_of_exhaust_air_terminal" class="control-label" style="text-transform: capitalize;">No. of exhaust Air Terminals <span class="required">*</span></label>
                </div>
                <div class="col-lg-3">
                    <input style="width: 100%;" type="text" name="number_of_exhaust_air_terminal" maxlength="5" class="form-control"
                            required="" id="number_of_exhaust_air_terminal" value="{{ eat }}" />
                </div>
            </div>

            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="id_manufacturer" class="control-label">Manufacturer <span class="required">*</span></label>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <select name="id_manufacturer" class="form-control" required="" id="id_manufacturer" onchange="updateEditLink('manufacturer')">
                            <option value="">---------</option>
                            {% for manufacturer in manufacturers %}
                                <option value="{{ manufacturer.id }}" {% if this_equipment.manufacturer.id == manufacturer.id %}selected="selected"{% endif %}>{{ manufacturer }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <!-- Edit icon -->
                            <a id="edit-manufacturer-link" href="#" class="btn btn-outline-secondary disabled" title="Edit Manufacturer">
                                <i class="fas fa-edit fa-sm"></i>
                            </a>
                            <!-- Add icon (plus) -->
                            <a href="{% url 'manufacturerCreate' %}" class="btn btn-outline-secondary" title="Add Manufacturer">
                                <i class="fas fa-plus fa-sm"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row form-line text-left">
                <div class="col-lg-3">
                    <label for="id_equipment" class="control-label">Model No. <span class="required">*</span></label>
                </div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <select name="id_equipment" class="form-control" required="" id="id_equipment" onchange="updateEditLink('equipment')">
                            <option value="">---------</option>
                            {% for equipment in Equipment_db %}
                                <option value="{{ equipment.id }}" data-manufacturer="{{ equipment.manufacturer.id }}" {% if this_equipment.id == equipment.id %}selected="selected"{% endif %}>{{ equipment }}</option>
                            {% endfor %}
                        </select>
                        <div class="input-group-append">
                            <!-- Edit icon -->
                            <a id="edit-equipment-link" href="#" class="btn btn-outline-secondary disabled" title="Edit Equipment">
                                <i class="fas fa-edit fa-sm"></i>
                            </a>
                            <!-- Add icon (plus) -->
                            <a href="{% url 'EquipmentsCreate' %}" class="btn btn-outline-secondary" title="Add Equipment">
                                <i class="fas fa-plus fa-sm"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Save" name="next" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
    <script>
        $("#edit_manufacturer").click(function(){
            manufacturer_id = $("#id_manufacturer option:selected").val();
            if(manufacturer_id != '') {
                var url = "/management/db/manufacturer/" + manufacturer_id + "/edit/";
                showEditPopup(url);
            }
            else {
                alert("Something Went Wrong");
            }
        });
    </script>
    <script>
        $('#id_manufacturer').on('change', function() {
            $("#id_equipment option").each(function() { $(this).hide(); });
            $("#id_equipment option[value='']").show();
            $("#id_equipment").val('');
            if($(this).val() !== '') {
                $("#id_equipment option").each(function() {
                    if($(this).data('manufacturer') == $('#id_manufacturer').find(':selected').val()) {
                        $(this).show();
                    }
                });
            }
        });
    </script>
    <script>
        $(function () {
            $("#id_date_po_received, #id_estimated_date_of_project").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>

<script>
    function updateEditLink(type) {
        var select, editLink, selectedValue;
        if (type === 'manufacturer') {
            select = document.getElementById("id_manufacturer");
            editLink = document.getElementById("edit-manufacturer-link");
            updateEquipmentOptions(select.value); // Update equipment dropdown based on manufacturer selection
        } else if (type === 'equipment') {
            select = document.getElementById("id_equipment");
            editLink = document.getElementById("edit-equipment-link");
        }
        
        selectedValue = select.options[select.selectedIndex].value;
        
        if (selectedValue) {
            if (type === 'manufacturer') {
                editLink.href = "/management/db{% url 'manufacturerEdit' 999 %}".replace('999', selectedValue);
            } else if (type === 'equipment') {
                editLink.href = "{% url 'EquipmentsEdit' 999 %}".replace('999', selectedValue);
            }
            editLink.classList.remove("disabled");
        } else {
            editLink.href = "#";
            editLink.classList.add("disabled");
        }
    }

    function updateEquipmentOptions(manufacturerId) {
        var equipmentSelect = document.getElementById("id_equipment");
        var equipmentOptions = equipmentSelect.options;
        for (var i = 0; i < equipmentOptions.length; i++) {
            if (manufacturerId && equipmentOptions[i].getAttribute("data-manufacturer") == manufacturerId) {
                equipmentOptions[i].style.display = 'block'; // Show option
            } else {
                equipmentOptions[i].style.display = 'none'; // Hide option
            }
        }
        equipmentSelect.value = ""; // Reset selection
        document.getElementById("edit-equipment-link").classList.add("disabled"); // Disable edit link as no selection
    }

    // Initial call to set the correct link and dropdown states on page load
    document.addEventListener("DOMContentLoaded", function() {
        updateEditLink('manufacturer');
        updateEditLink('equipment');
        updateEquipmentOptions(document.getElementById("id_manufacturer").value);
    });
</script>

<style>
    .disabled {
        pointer-events: none;
        opacity: 0.6;
    }
</style>

{% endblock %}
