{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load order_tags %}
{% load humanize %}

{% block content %}
    <div class="text-center">
        <h2>SORT AIR MOVING EQUIPMENT LIST FOR {{ my_sheet.project.project_number }} {{ my_sheet.project.proposal.estimate.project.name }}</h2>

        <form method='POST' action=''>
            <div class="form-group">
                {% csrf_token %}
                <button type="submit" class="btn btn-success save-positioning">Save Report Ordering</button>
                <a href="{% url 'sheetEquipmentsList' sheet_id %}"><button type="button" class="btn btn-danger" formnovalidate>Cancel</button></a>
            </div>
        </form>
        <br>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Equipment Type</th>
                    <th>Manufacturer</th>
                    <th>Model No.</th>
                    <th>Serial No.</th>
                    <th>Fan No.</th>
{#                    <th>Actions</th>#}
                </tr>
            </thead>
            <tbody id="sortable">
                {% for sheet_equipment in sheet_equipments %}
                    <tr class="sheet-equipment" data-id="{{ sheet_equipment.id }}">
                        <td class="handle ui-sortable-icon"></td>
                        <td class="disable-drag">{{ sheet_equipment.id }}</td>
                        <td class="disable-drag">{{ sheet_equipment.equipment_type }}</td>
                        <td class="disable-drag">{{ sheet_equipment.equipment.manufacturer }}</td>
                        <td class="disable-drag">{{ sheet_equipment.equipment.model_number }}</td>
                        <td class="disable-drag">{% for sheet_eq_custom_data in sheet_equipment.sheetequipmentcustomdata_set.all %}{% if 'serial' in sheet_eq_custom_data.key.column_title|lower %}{{ sheet_eq_custom_data.value }}{% endif %}{% endfor %}</td>
                        <td class="disable-drag">{% for sheet_eq_custom_data in sheet_equipment.secd_set.all %}{% if 'fan' in sheet_eq_custom_data.key.column_title|lower %}{{ sheet_eq_custom_data.value }}{% endif %}{% endfor %}</td>
{#                        <td>#}
{#                            {% if sheet_equipment.main_data_entry_completed == 0 %}<a href="{% url 'sheetEquipmentCommonData' sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon starticon" data-toggle="tooltip" data-placement="bottom" title="Begin Data Entry"></div></a>#}
{#                            {% elif sheet_equipment.actual_data_entry_completed == 0 %}<a href="{% url 'sheetEquipmentDesignValue' sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon continueicon" data-toggle="tooltip" data-placement="bottom" title="Continue Data Entry"></div></a>#}
{#                            {% elif sheet_equipment.actual_data_entry_completed == 1 and sheet_equipment.main_data_entry_completed == 1 %}<a href="{% url 'sheetEquipmentActualValueEdit' sheet_equipment.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit Actual Data"></div></a>{% endif %}#}
{#                            <a href="{% url 'orderEdit' order_id=order.id %}" style="display: inline-block;"><div class="icon editicon" data-toggle="tooltip" data-placement="bottom" title="Edit"></div></a>#}
{#                            <a href="{% url 'orderDelete' order_id=order.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon deleteicon" data-toggle="tooltip" data-placement="bottom" title="Delete"></div></a>#}
{#                            <a href="{% url 'orderArchive' order_id=order.id %}" style="display: inline-block; margin-left: 5px;"><div class="icon archiveicon" data-toggle="tooltip" data-placement="bottom" title="Archive"></div></a>#}
{#                        </td>#}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form method='POST' action=''>
            <div class="form-group">
                {% csrf_token %}
                <button type="submit" class="btn btn-success save-positioning">Save Report Ordering</button>
                <a href="{% url 'sheetEquipmentsList' sheet_id %}"><button type="button" class="btn btn-danger" formnovalidate>Cancel</button></a>
            </div>
        </form>
    </div>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="{% static 'js/cal-ajax-setup.js' %}"></script>
        <script>
          $( function() {
            $( "#sortable" ).sortable({
                handle: ".handle"
            });
          });
          $('.save-positioning').click(function(e){
              e.preventDefault();
              let sheetEquipmentsArray = []
              $('.sheet-equipment').each(function(){
                  sheetEquipmentsArray.push($(this).data('id'))
              });
              $.ajax({
                type: 'POST',
                dataType: 'json',
                url: "{% url 'sortEquipments' sheet_id %}",
                data: {
                    'sheetEquipmentsArray': sheetEquipmentsArray,
                },
                success: function (response) {
                    console.log(response)
                    if (response.result == false) {
                        alert(response.msg);
                    } else {
                        location.replace('{% url 'sheetEquipmentsList' sheet_id %}')
                    }
                }
            });
          });
        </script>
<script>
    $(document).ready(function() {
        var sortables = ['proposal__estimate__id', 'proposal__estimate__customer', 'proposal__estimate__project', 'proposal__estimate__engineer', 'proposal__estimate__due_date'];
        for (const myConst of sortables) {
            if (window.location.href.indexOf('ordering=' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-down'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test1);
            }
            if (window.location.href.indexOf('ordering=-' + myConst) > 0) {
                $("table th[data-sortable=" + myConst +"]").append("<i class='fas fa-caret-up'></i>");
                //$("table th[data-sortable=" + myConst + "] a").attr("href", test2);
            }
        }
        if (window.location.href.indexOf('paginate_by=') <= 0) {
            $(".pagination-select #paginate_50").addClass('selected');
            $(".pagination-select #paginate_50 a").removeAttr("href");
        }
        if (window.location.href.indexOf('paginate_by=300') > 0) {
            $(".pagination-select #paginate_300").addClass('selected');
            $(".pagination-select #paginate_300 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=50') > 0) {
            $(".pagination-select #paginate_50").addClass('selected');
            $(".pagination-select #paginate_50 a").removeAttr("href");
        }
        else if (window.location.href.indexOf('paginate_by=20') > 0) {
            $(".pagination-select #paginate_20").addClass('selected');
            $(".pagination-select #paginate_20 a").removeAttr("href");
        }
    });
</script>
{% endblock %}
