{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load order_tags %}
{% load humanize %}

{% block content %}
    {{ error_message }}
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <h2>Generate Account Summary Statement</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="accountSummaryAdd-form">
        <div class="form-group">
            {% csrf_token %}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_customer" class="control-label">Customer <span class="required">*</span></label>
                    <select name="customer" class="form-control select2" required="" id="id_customer">
                        <option value="" selected="">---------</option>
                        {% for customer in customers %}
                            <option value="{{ customer.id }}" {% if orders.count == 1 %}selected="selected"{% endif %}>{{ customer }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_attention" class="control-label">Attention:</label>
                    {{ form.attention }}
                </div>
            </div>
            {{ form.created_by.as_hidden }}
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Create" name="next" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
    <script>
    $(document).ready(function() {
        $("#customer").text($('#id_order').find(':selected').data('customer'));
        $("#project").text($('#id_order').find(':selected').data('project'));
        $("#total_amount").text($('#id_order').find(':selected').data('totalamount'));
        $('#id_order').on('change', function () {
            $("#customer").text($(this).find(':selected').data('customer'));
            $("#project").text($(this).find(':selected').data('project'));
            $("#total_amount").text($(this).find(':selected').data('totalamount'));
        });
    });
    </script>

    <script>
        $(function () {
            $("#id_date_started, #id_date_completed").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>

{% endblock %}
