{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load order_tags %}
{% load humanize %}

{% block content %}
    <h2>Generate Invoice</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="invoiceAdd-form">
        <div class="form-group">
            {% csrf_token %}
            <div class="row form-line">
                <div class="col-lg-12">
                    <label for="id_order" class="control-label">Project #<span class="required">*</span></label>
                    <select name="order" class="form-control" required="" id="id_order">
                        <option value="" selected="" data-customer="" data-engineer="" data-totalamount="">---------</option>
                        {% for order in orders %}
                            <option value="{{ order.id }}" data-customer="{{ order.proposal.quote.estimate.customer }}" data-project="{{ order.proposal.quote.estimate.project }}" data-totalamount="${% order_total_calculator order.proposal.quote.estimate.id order as otc %}{{ otc|floatformat:2|intcomma }}">{{ order.project_number }}</option>
                        {% endfor %}
                    </select>
                    <div class="form-icon"><a href="{% url 'invoiceAdd' %}" id="add_invoice"><img src = "{% static '/admin/img/icon-addlink.svg' %}"></a></div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="customer" class="control-label">Customer</label>
                    <span class="form-control" id="customer" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="project" class="control-label">Project Name</label>
                    <span class="form-control" id="project" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="total_amount" class="control-label">Total Amount</label>
                    <span class="form-control" id="total_amount" style="min-height: 36px; height: auto; background-color: #eee;"></span>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Date Started</label>
                    {{ form.date_started }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Date Completed</label>
                    {{ form.date_completed }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Terms</label>
                    {{ form.terms }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label align-top">Description</label>
                    {{ form.description }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Percent of Performance Completed</label>
                    {{ form.percent_of_performance_completed }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Total Payment Received To Date</label>
                    {{ form.total_payment_received_to_date }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Past Due Amount</label>
                    {{ form.past_due_amount }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_attention" class="control-label">Attention to: (if required)</label>
                    {{ form.attention }}
                </div>
            </div>
            {{ form.created_by.as_hidden }}
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Create" name="next" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
    <script>
        $('#id_order').on('change', function() {
            $("#customer").text($(this).find(':selected').data('customer'));
            $("#project").text($(this).find(':selected').data('project'));
            $("#total_amount").text($(this).find(':selected').data('totalamount'));
        });
    </script>

    <script>
        $(function () {
            $("#id_date_started, #id_date_completed").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>

{% endblock %}
