{% extends 'base.html' %}
{% load static %}
{% load estimator_tags %}
{% load order_tags %}

{% block content %}
    <h2>Edit Invoice</h2>
    <form method = 'POST' action= '' enctype = "multipart/form-data" id="invoiceEdit-form">
        <div class="form-group">
            {% csrf_token %}
            {{ form.order.as_hidden }}
            {% order_predemo_calculator invoice.order.proposal.estimate.id invoice.order as opc %}
            {% order_dalt_calculator invoice.order.proposal.estimate.id invoice.order as odc %}
            <div class="row form-line {% if opc|floatformat:"0" == '0' %}d-none{% endif %}">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="predemo_selected" class="control-label">Pre-Demo Select</label>
                    <div class="d-inline-block" style="width: 230px;">
                        <input id="predemo_selected" name="predemo_selected" type="checkbox" class="form-control" style="margin-top: 8px; height: 20px;" {% if invoice.invoice_type == 2 %}checked{% endif %} />
                    </div>
                </div>
            </div>
        <div class="row form-line {% if odc|floatformat:"0" == '0' %}d-none{% endif %}">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="dalt_selected" class="control-label">DALT Select</label>
                    <div class="d-inline-block" style="width: 230px;">
                        <input id="dalt_selected" name="dalt_selected" type="checkbox" class="form-control" style="margin-top: 8px; height: 20px;" {% if invoice.invoice_type == 4 %}checked{% endif %} />
                    </div>
                </div>
            </div>
            <div class="row form-line {% if opc|floatformat:"0" == '0' and odc|floatformat:"0" == '0' %}d-none{% endif %}">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="final_selected" class="control-label">Final Select</label>
                    <div class="d-inline-block" style="width: 230px;">
                        <input id="final_selected" name="final_selected" type="checkbox" class="form-control" style="margin-top: 8px; height: 20px;" {% if invoice.invoice_type == 1 or invoice.invoice_type == 3 %}checked{% endif %} />
                    </div>
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Date Started</label>
                    {{ form.date_started }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Date Completed</label>
                    {{ form.date_completed }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Terms</label>
                    {{ form.terms }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Description</label>
                    {{ form.description }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_validity" class="control-label">Percent of Performance Completed</label>
                    {{ form.percent_of_performance_completed }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_attention" class="control-label">Attention to: (if required)</label>
                    {{ form.attention }}
                </div>
            </div>
            <div class="row form-line">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <label for="id_attention" class="control-label">Created/Edited On: (This will change PDF date)</label>
                    {{ form.edited_on }}
                </div>
            </div>
            {{ form.created_by.as_hidden }}
            <div class="row">
                <div class="col-lg-12" style="padding-right: 36px;">
                    <input type="submit" class="btn btn-success" value="Save" name="save" />
                    <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate />
                </div>
            </div>
        </div>
	</form>
    <script>
        $("#predemo_selected").change(function(){
            if(this.checked && $("#final_selected").prop('checked') === false) {
                $('#id_description').val('Pre-Demo Testing')
            }
        });

        $("#dalt_selected").change(function(){
            if(this.checked && $("#final_selected").prop('checked') === false) {
                $('#id_description').val('DALT Testing')
            }
        });

        $("#final_selected").change(function(){
            if(this.checked) {
                $('#id_description').val('TESTING AND BALANCING')
            } else {
                if ($("#predemo_selected").prop('checked')) {
                    $('#id_description').val('Pre-Demo Testing')
                } else if ($("#dalt_selected").prop('checked')) {
                    $('#id_description').val('DALT Testing')
                }
            }
        });


        $('#id_order').on('change', function() {
            $("#customer").text($(this).find(':selected').data('customer'));
            $("#engineer").text($(this).find(':selected').data('engineer'));
            $("#total_amount").text($(this).find(':selected').data('totalamount'));
        });
    </script>
    <script>
        $(function () {
            $("#id_date_started, #id_date_completed, #id_edited_on").datetimepicker({
                format: 'm/d/Y',
                timepicker: false,
                scrollInput: false,
            });
        });
    </script>

{% endblock %}
