{% extends 'base.html' %}
{% load static %}
{% load sheet_tags %}
{% load velocity_tags %}

{% block content %}
    <h2>Enter Velocity Values for
        {{ this_sheet_equipment.sheet.project.project_number }}
        {{ this_sheet_equipment.sheet.project.proposal.quote.estimate.project.name }} - {{ sheet_code }}</h2>
    <div class="alert alert-danger" style="{% if error_msg == null %}display: none;{% endif %}">
        <strong>Error!</strong> {{ error_msg }}
    </div>
    <form method='POST' action='' onsubmit="onFormSubmit()" enctype="multipart/form-data" id="equipmentValues-form">
        <div class="form-group">
            {% csrf_token %}
        </div>
        <div class="row form-line" style="font-weight: bold;">
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Value
            </div>
            <div class="col-lg-3">
                Field Title
            </div>
            <div class="col-lg-3">
                Value
            </div>
        </div>
        <div class="row form-line">
            {% for actual_field in actual_fields %}
                {% with 'supply_actual_value_'|concatenate:actual_field.id as field_name %}
                    <div class="col-lg-3">
                        <label style="width: 100%;" for="{{ field_name }}" class="control-label">
                            {{ actual_field.field_name }}
                            {% if actual_field.required_in_actual %}
                                <span class="required">*</span>
                            {% endif %}
                        </label>
                    </div>
                    <div class="col-lg-3">
                        <label for="{{ field_name }}" class="control-label equal_fields_supply"
                               data-fieldid="{{ actual_field.id }}"
                               data-loopid="{{ forloop.parentloop.counter }}" data-defaultval="
                                {% if actual_field.default_value %}{{ actual_field.default_value }}{% endif %}"
                               style="width: 100%;">
                            {% if actual_field.field_name|lower != 'note' %}
                                <input style="width: 100%;" {% get_field_type actual_field %}
                                       {% if actual_field.required_in_actual %}required=""{% endif %}
                                       name="{{ field_name }}" maxlength="50"
                                       class="form-control eq_supply{{ actual_field.id }} {{ actual_field.field_name.lower|normalize_string }} {% if actual_field.show_parentheses >= 3 %}show_parentheses{% endif %}"
                                       id="{{ field_name }}"
                                       value="{% get_velocity_actual_value request actual_field velocity_equipment %}"
                                       {% if actual_field.field_name.lower == 'outlet no.' %}readonly{% endif %}/>
                            {% else %}
                                <textarea style="width: 100%;"
                                          {% if actual_field.required_in_actual %}required=""{% endif %}
                                          name="{{ field_name }}" maxlength="50"
                                          class="form-control"
                                          id="{{ field_name }}"></textarea>
                            {% endif %}
                        </label>
                        <div style="position: absolute; opacity: 0.5; top: 5px; right: 20px; pointer-events: none;">
                            <label style="width: 100%; text-align: right;">{{ actual_field.field_postfix }}</label>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
            <br/>
        </div>
        <br />
        <div class="row form-line">
            <div class="text-center w-100"><b>Table</b><br /><br />
                Row <input type="number" class="form-control" name="table-row" id="table-row" style="width: 60px;" value="{{ velocity_equipment.velocity_row }}" />
                Column <input type="number" class="form-control" name="table-col" id="table-col" style="width: 60px;" value="{{ velocity_equipment.velocity_col }}" />
            </div>
            <div id="table-box" class="text-center w-100 p-4">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12" style="padding-right: 36px;">
                <input type="submit" class="btn btn-primary" value="Save" name="next"/>
                <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" formnovalidate/>
            </div>
        </div>
    </form>
    <script>
        $(document).ready(function () {

            let data_total = 0
            let data_length = 0

            $('.fan_no').val('{{ sheet_code }}')
            document.getElementsByClassName('duct_area')[0].readOnly = true
            document.getElementsByClassName('req_vel')[0].readOnly = true
            document.getElementsByClassName('actual_cfm_final')[0].readOnly = true
            document.getElementsByClassName('actual_vel_final')[0].readOnly = true

            function calc_table_data() {
                data_total = 0
                data_length = 0;
                $(".table-data").each(function() {
                    if ( $(this).val() !== '' ) {
                        data_length += 1
                        data_total += parseInt($(this).val())
                    }
                });
            }

            function duct_area_calc() {
                let duct_size = $('.duct_size').val().toLowerCase()
                if ( duct_size.includes('x') ) {
                    duct_size = duct_size.replace("x", "*")
                }
                duct_size = eval(duct_size)
                $('.duct_area').val((duct_size / 144).toFixed(2))
            }

            function req_vel_calc() {
                $('.req_vel').val(($('.design_cfm').val() / $('.duct_area').val()).toFixed(0))
            }

            function actual_cfm_calc() {
                $('.actual_cfm_final').val( Math.round($('.duct_area').val() * (Math.round(data_total/data_length).toFixed(0))) )
            }

            function actual_vel_calc() {
                $('.actual_vel_final').val(Math.round(data_total/data_length).toFixed(0))
            }

            $('.design_cfm').on('input', function () {
                req_vel_calc();
            });

            $('.duct_size').on('input', function () {
                duct_area_calc();
                req_vel_calc();
                actual_cfm_calc();
            });

            $('body').on('input', '.table-data', function() {
                calc_table_data();
                actual_cfm_calc();
                actual_vel_calc();
            });

            $('#table-row, #table-col').on('input', function () {
                calc_table_data();
                actual_cfm_calc();
                actual_vel_calc();
            });


            let min_table_size = 1
            let max_table_size = 14

            let last_table_row = 0
            let last_table_col = 0

            if ($('#table-row').val() == '0')
                $('#table-row').val(4);
            if ($('#table-col').val() == '0')
                $('#table-col').val(5);

            function set_table_box() {
                const i_step = parseInt($('#table-row').val());
                const j_step = parseInt($('#table-col').val());
                last_table_row = parseInt(last_table_row)
                last_table_col = parseInt(last_table_col)

                if (last_table_row === 0 && last_table_col === 0) {
                    for (let i = 0; i < i_step; i++) {
                        $('#table-box').append('<div class="row-' + (i + 1) + '">');
                        for (let j = 0; j < j_step; j++) {
                            const my_value = JSON.parse('{% get_velocity_table_value request velocity_equipment %}')
                            $('#table-box .row-' + (i + 1)).append('<input data-row="' + (i + 1) + '" data-col="' + (j + 1) + '" name="table-data-' + i + '-' + j + '" type="text" class="form-control m-1 table-data" style="width: 65px;" value="' + ((my_value[i] && my_value[i][j]) ? my_value[i][j] : '') +'" />');
                        }
                    }
                    last_table_row = i_step
                    last_table_col = j_step
                }

                if (i_step < last_table_row) {
                    for (let i = i_step; i < last_table_row; i++) {
                        $('#table-box .row-' + (i + 1)).remove()
                    }
                    last_table_row = i_step
                }
                if (i_step > last_table_row) {
                    for (let i = last_table_row; i < i_step; i++) {
                        $('#table-box').append('<div class="row-' + (i + 1) + '">');
                        for (let j = 0; j < j_step; j++) {
                            $('#table-box .row-' + (i + 1)).append('<input data-row="' + (i + 1) + '" data-col="' + (j + 1) + '" name="table-data-' + i + '-' + j + '" type="text" class="form-control m-1 table-data" style="width: 65px;" value="" />');
                        }
                    }
                    last_table_row = i_step
                }
                if (j_step < last_table_col) {
                    for (let j = j_step + 1; j <= last_table_col; j++) {
                        $('#table-box input[data-col=' + j + ']').remove()
                    }
                    last_table_col = j_step
                }
                if (j_step > last_table_col) {
                    for (let i = 0; i < i_step; i++) {
                        for (let j = last_table_col; j < j_step; j++) {
                            $('#table-box .row-' + (i + 1)).append('<input data-row="' + (i + 1) + '" data-col="' + (j + 1) + '" name="table-data-' + i + '-' + j + '" type="text" class="form-control m-1 table-data" style="width: 65px;" value="" />');
                        }
                    }
                    last_table_col = j_step
                }

            }

            set_table_box();

            $('#table-row, #table-col').on('input', function () {
                if (parseInt(this.value) <= max_table_size && parseInt(this.value) >= min_table_size) {
                } else if (parseInt(this.value) <= min_table_size - 1) {
                    this.value = min_table_size
                } else {
                    this.value = max_table_size
                }
                set_table_box();
                calc_table_data();
                actual_cfm_calc();
                actual_vel_calc();
            });

            calc_table_data();
            actual_cfm_calc();
            actual_vel_calc();

        });

    </script>

    <script>
        /*
        * Set the parentheses for the fields that need parentheses.
        * */

        $(".show_parentheses").each(function (index) {
            const input = $(this);
            const defaultValue = $(this).parent().data('defaultval').trim();
            const loop_id = $(this).parent().data('loopid');
            const field_id = $(this).parent().data('fieldid');
            const onInputChange = () => {
                const value = input.val().trim();
                let rawValue = '';
                for (const ch of value) {
                    if (ch !== '(' && ch !== ')') {
                        rawValue += ch;
                    }
                }
                if (!rawValue || rawValue.toLowerCase() === defaultValue.toLowerCase()) {
                    input.val(defaultValue);
                } else {
                    input.val('(' + rawValue + ')');
                    if (loop_id == 1) {
                        $('.eq' + field_id).val('(' + rawValue + ')');
                    }
                }
            };
            onInputChange();
            input.on('change', onInputChange);
        });
    </script>






{% endblock %}
