{% extends 'base.html' %}
{% load staticfiles %}
{% load submittal_tags %}
{% load custom_tags %}

{% block content %}
    <h2>Company Submittal No. {% submittal_number_generator submittal.id %}</h2>
    <h3>Cover Letter Preview</h3>
    <div class="container text-left" id="printSubmittalPage" style="display: block; padding: 30px 10px; border: 1px solid rgba(0,0,0,.5); border-radius: 5px;">
        <header class="proposal_header">
            <img alt="owner logo" class="figure-img logo" src="{% media_url %}{{ pdf_header_logo }}" />
            <span style="float: right; margin-top: 40px;">Member AABC</span>{{ extension1 }}
        </header>
        <div class="row form-line">
            <div class="col-sm-6 "><b>Date: </b>{{ submittal.created_on|date:'m/d/Y' }}</div>
        </div>
        <div class="row form-line">
            <div class="col-sm-6">
                <div style="padding: 3px;">{{ submittal.customer.company.name }}</div>
                <div style="padding: 3px;">{{ submittal.customer.company.street }}<br />
                    {{ submittal.customer.company.city }}, {{ submittal.customer.company.state }}, {{ submittal.customer.company.zip }}</div>
                <div style="padding: 3px;">{{ submittal.customer.name }}</div>
            </div>
        </div>
        <div class="row form-line">
            <div class="col-sm-12" style="font-weight: bold;">
                Re: TEST AND BALANCE SERVICES / 1001 PENN, Level 4 & 5, 1001 Penn Ave NW, Washington, DC
            </div>
        </div>
        <div class="row form-line">
            <div class="col-sm-12" style="">
                Dear
                {% if submittal.customer.gender == 1 %}
                    Sir;
                {% elif submittal.customer.gender == 2 %}
                    Mam;
                {% else %}
                    One;
                {% endif %}
                <br />Per your request I am submitting the following information and attachments for your reference.
                <br />Tab Technologies, Inc., is an independence agency, incorporated in the state of Virginia and is wholly owned by persons, who’s vested interests are solely balancing. TTI is a member of the Associated Air Balance Council (AABC).
                <br />Presently, our immediate field personnel are listed below:
            </div>
        </div>
        <div class="row form-line">
            <div class="col-sm-3" style="font-style: italic;">
                HOSSAIN ASKARI
            </div>
            <div class="col-sm-3">
            AABC Test and Balance Engineer
            Register# 90-07-25
            </div>
        </div>
        <div class="row form-line">
            <div class="col-sm-3" style="font-style: italic;">
                Mehdi Saeedi
            </div>
            <div class="col-sm-3">
            Senior Balancing Technician
            S.S. Mechanical Engineer
            </div>
        </div>
        <div class="row form-line">
            <div class="col-sm-3" style="font-style: italic;">
                Mohsen Pourhashemi
            </div>
            <div class="col-sm-3">
            Senior Balancing Technician
            B.S. Mechanical Engineer
            </div>
        </div>
        <div class="row form-line">
            <div class="col-sm-3" style="font-style: italic;">
                Gregg Goffaux
            </div>
            <div class="col-sm-3">
            TAB Supervisor
            </div>
        </div>
        <br />
        <div class="row form-line">
            <div class="col-sm-12">
                Should you have any questions and/or require additional information please contact me at {{ owner_tel }}
                <br /><br />Respectfully
                <br /><div style="width: 100px; margin: 10px 0px auto;"><img alt="owner signature" class="img-fluid" src="{% media_url %}{{ owner_signature }}" /></div>
                {{ owner_name }}, T.B.E
                <br />{{ owner_title }}
            </div>
        </div>
        <div class="row form-line">
            <div class="col-sm-12">
                Attachments:
                {% for attachment in submittal.submittal_form.all %}
                <span>[{{ attachment }}]{%if not forloop.last%}, {%endif%}</span>
            {% endfor %}
            </div>
        </div>
        <footer class="proposal_footer">
             <div class="row" style="padding: 10px 0px;">
              <div class="onecol col-sm-4">
                  <i class="fas fa-map-marker-alt"></i>{{ owner_address }}
              </div>
              <div class="onecol col-sm-4">
                  <i class="fas fa-phone-volume"></i>{{ owner_tel }}<br />
                  <i class="fas fa-fax"></i>{{ owner_fax }}
              </div>
              <div class="onecol col-sm-4">
                  <i class="fas fa-globe"></i>{{ owner_web }}<br />
                  <i class="fas fa-envelope"></i>{{ owner_mail }}
              </div>
            </div>
        </footer>
    </div>
    <br />
    <button class="btn btn-info" id="emailSubmittal">Email Company Submittal</button>
    <a href="{{ submittal_url }}"><button class="btn btn-info" id="printSubmittal">Generate Company Submittal</button></a>
    <button class="btn btn-info" id="printCover">Print Cover Letter</button>
    <a href="{% url 'submittalHome' %}"><button class="btn btn-danger">Done</button></a>
    <script type="text/javascript" src="{% static "js/printThis.js" %}"></script>
    <script>
        $("#printCover").click(function(){
            $('#printSubmittalPage').printThis({
                importCSS: true,
                importStyle: true
            });
        });
    </script>
{% endblock %}
