{% extends 'base.html' %}
{% load estimator_tags %}

{% block content %}
    {{ error_message }}
    <br />
    {%if request.user.is_authenticated %}
        <h2>Delete Submittal Form <b>'{{ this_submittal_form.submittal_form.form_name }}'</b> from Submittal No. <b>'{{ this_submittal_form.submittal.id }}'</b></h2>
        <br />
        <form method="POST" action="">
            {% csrf_token %}
            Are you sure you want to delete this equipment?<br /><br />
            <input type="submit" class="btn btn-primary" value="Yes" name="confirm" />
            <input type="submit" class="btn btn-danger" value="Cancel" name="cancel" />
        </form>
    {% endif %}

{% endblock %}
