{% load custom_tags %}
{% load staticfiles %}
{% load estimator_tags %}

<html>
    <head>
        <meta charset="utf-8">
        <title>Submittal Letterhead</title>
        {% include "pdfTemplates/headStyle.html" %}
    </head>
    <body>

        {% include "pdfTemplates/pdfHeaderTemplate.html" %}

        {% include "pdfTemplates/pdfFooterTemplate.html" %}

<div id="content_frame">
    <div class="content" style="font-size: 14px;">
        <div class="row form-line" style="padding: 20px 0 2px 0;">
            <div class="col-sm-12" style="text-align: right;">{{ submittal.created_on|date:"SHORT_DATE_FORMAT" }}</div>
        </div>
        <div class="row form-line">
            <div class="col-sm-6">
                <div style="padding: 5px; font-weight: bold;">{{ submittal.customer.company.name }}
                    {% if submittal.customer.company.address_line_1 %}<br />{{ submittal.customer.company.address_line_1 }}{% endif %}
                    {% if submittal.customer.company.address_line_2 %}<br />{{ submittal.customer.company.address_line_2 }}{% endif %}
                    {% if submittal.customer.company.city %}<br />{{ submittal.customer.company.city }}{% endif %}
                    {% if submittal.customer.company.state %}, {{ submittal.customer.company.state }}{% endif %}
                    {% if submittal.customer.company.zip %}, {{ submittal.customer.company.zip }}{% endif %}
                </div>
            </div>
        </div>
        <div class="row form-line">
            <div class="col-sm-12">
                Re: TEST AND BALANCE SERVICES / 1001 PENN, Level 4 & 5, 1001 Penn Ave NW, Washington, DC
            </div>
        </div>
        <div class="row form-line">
            <div class="col-sm-12" style="">
                <p>Dear
                {% if submittal.customer.gender == 1 %}
                    Sir;
                {% elif submittal.customer.gender == 2 %}
                    Mam;
                {% else %}
                    One;
                {% endif %}</p>
                <p>Per your request I am submitting the following information and attachments for your reference.</p>
                <p>{{ company_name }}, is an independence agency, incorporated in the state of Virginia and is wholly owned by persons, who’s vested interests are solely balancing. TTI is a member of the Associated Air Balance Council (AABC).</p>
                <p>Presently, our immediate field personnel are listed below:</p>
            </div>
        </div>


        <table class="table" style="padding: 3px;">
            <tbody>
                <tr>
                    <td style="font-style: italic;"> HOSSAIN ASKARI </td>
                    <td>AABC Test and Balance Engineer <br />Register# 90-07-25</td>
                </tr>
                <tr>
                    <td style="font-style: italic;"> Mehdi Saeedi </td>
                    <td> Senior Balancing Technician S.S. <br />Mechanical Engineer </td>
                </tr>
                <tr>
                    <td style="font-style: italic;"> Mohsen Pourhashemi </td>
                    <td> Senior Balancing Technician B.S. <br />Mechanical Engineer </td>
                </tr>
                <tr>
                    <td style="font-style: italic;"> Gregg Goffaux </td>
                    <td> TAB Supervisor </td>
                </tr>
            </tbody>
        </table>


        <br />
        <div class="row form-line">
            <div class="col-sm-12">
                Should you have any questions and/or require additional information please contact me at {{ owner_tel }}
                <br /><br />Respectfully
                <br /><div style="width: 100px; margin: 10px 0px auto;"><img alt="owner signature" class="img-fluid" src="{{ WEB_URL }}{{ MEDIA_URL }}{{ owner_signature }}" /></div>
                {{ owner_name }}, T.B.E
                <br />{{ owner_title }}
            </div>
        </div>
        <div class="row form-line">
            <div class="col-sm-12">
                Attachments:
                {% for attachment in submittal.submittal_form.all %}
                <span>[{{ attachment }}]{%if not forloop.last%}, {%endif%}</span>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

</body>
</html>